<h2>Grade Entry for <%= @assignment.name %></h2>

<%= form_tag editor_grades_path(course_id: current_course), method: :get do %>
  <div class="top-level-query">
    <span class="query-label">
      <%= label_tag :assignment_id, 'Switch assignment: ', class: 'middle' %>
    </span>
    <span class="query-input-field">
      <%= select_tag :assignment_id,
            gradeable_assignment_options(current_course, @assignment) %>
    </span>
    <span class="query-submit-button">
      <%= button_tag type: :submit, class: 'hollow expanded button' do %>
        <%= filter_icon_tag %> Switch
      <% end %>
    </span>
  </div>
<% end %>

<table id="grades-table">
  <thead>
    <tr>
      <th scope="col">
        <span id="search-wrapper">
          <%= search_field_tag :name, '', placeholder: 'name filter' %>
        </span>
      </th>
      <% @metrics.each do |metric| %>
        <%= content_tag :th, data: { metric_weight: metric.weight,
              metric_id: metric.to_param,
              metric_course_id: metric.course.to_param } do %>
          <%= metric.name %>
          <p class="metric-weight">
            weight: <%= metric.weight %>
          </p>
        <% end %>
      <% end %>
      <th>
        Total
        <p class="max-total">
          max: <%= @assignment.max_score %>
        </p>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
    <tr data-subject-name="<%= subject.name %>"
        data-subject-id="<%= subject.to_param %>"
        data-subject-type="<%= subject.class.name %>">
      <th class="subject-name" scope="row">
      <% if subject.respond_to?(:users) %>
        <%= link_to subject.name, subject, tabindex: '-1' %>
      <% else %>
        <%= link_to subject.name, registration_path(@registrations[subject.id],
              course_id: @assignment.course), tabindex: '-1' %>
      <% end %>
      </th>
      <% @metrics.each do |metric| %>
      <td class="grade">
        <%= render 'grades/individual_form', metric: metric,
              grade: @grades[metric.id][subject.id],
              comment: @comments[metric.id][subject.id] %>
      </td>
      <% end %>
      <td class="summary">
        <span class="grade-sum"></span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
