<h2>Grade Entry</h2>

<%= form_tag editor_grades_path, :method => :get do %>
  <section class="fields">
    <p class="field">
      <%= label_tag :assignment_id, 'Assignment' %>
      <span class="value">
      <%= select_tag :assignment_id,
            options_for_select(Course.main.assignments.order('deadline DESC').map { |a| [a.name, a.id] }, @assignment.id)
      %>
      </span>
    </p>
  </section>
	<p class="action">
    <%= submit_tag "Filter" %>
	</p>
<% end %>

<section class="grades-table-container">
  <table class="grades-table">
    <thead>
      <tr>
        <th>
          <%= search_field_tag :name, '', :placeholder => 'name filter' %>
        </th>
        <% @metrics.each do |metric| %>
        <th>
          <%= metric.name %>
        </th>
        <% end %>
        <th>
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
      <tr data-subject-name="<%= subject.profile.name %>"
          data-subject-id="<%= subject.id %>"
          data-subject-type="<%= subject.class.name %>">
        <th class="subject-name">
          <%= link_to subject.name, subject.profile, :tabindex => '-1' %>
        </th>
        <% @metrics.each do |metric| %>
        <td class="grade">
          <%= render 'grades/individual_form', :grade => (@grades[[subject, metric]] || [Grade.new(:subject => subject, :metric => metric)]).first %>
        </td>
        <% end %>
        <td class="summary">
          <span class="grade-sum"></span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
