<h2 class="grades-list-heading">Grades</h2>
<h3>Recitation: <%= @recitation.nil? ? 'Unassigned' : @recitation.recitation_name %></h3>

<% @grades.each do |assignment, metrics, recitation_average| %>
  <h3 class="grades">
    <%= assignment.name %> 
    <% if has_comments metrics %>
    <label class="show-comments" for="assignment-<%= assignment.id %>"><button>Comments</button></label>
    <% end %>
  </h3>
	<div class="grades">
    <input type="checkbox" id="assignment-<%= assignment.id %>" hidden>
    <div class="total">
      <span class="assignment-name">Total</span>
      <span class="scores">
        <span class="score">
          <%= metrics.map { |metric, grade| grade ? grade.score : 0 }.sum %>
        </span>
        /
        <span class="max-score">
          <%= metrics.map { |metric, grade| metric.max_score }.sum %>
        </span>
      </span>
    </div>
    <% metrics.each do |metric, grade| %>
    <div class="problem">
      <span class="assignment-name"><%= metric.name %></span>
      <span class="scores">
       <span class="score"><%= grade ? grade.score : 'N' %></span>
       /
       <span class="max-score"><%= metric.max_score %></span>
      </span>
    </div>
    <div class="comments">
      <span class="comment-head">Comments:</span> <%= (grade and grade.comments and grade.comments != "") ? grade.comments : 'None' %>
    </div>
  	<% end %>
	</div>
<% end %>
