<h2 class="grades-list-heading">Grades</h2>
<h3>Recitation: <%= @recitation.nil? ? 'Unassigned' : @recitation.recitation_name %></h3>

<% @grades.each do |assignment, metrics, recitation_average| %>
  <h3 class="grades"><%= assignment.name %></h3>
	<ol class="grades">
    <li class="total">
      <span class="assignment-name">Total</span>
      <span class="scores">
        <span class="score">
          <%= metrics.map { |metric, grade| grade ? grade.score : 0 }.sum %>
        </span>
        /
        <span class="max-score">
          <%= metrics.map { |metric, grade| metric.max_score }.sum %>
        </span>
      </span>
    </li>
    <% metrics.each do |metric, grade| %>
		<li>
      <span class="assignment-name"><%= metric.name %></span>

      <span class="scores">
        <span class="score"><%= grade ? grade.score : 'N' %></span>
        /
        <span class="max-score"><%= metric.max_score %></span>
      </span>
    </li>
  	<% end %>
	</ol>
<% end %>
