<!-- grades/index -->
<div class="full_section">	
	<h3 class="full_section">User Lookup</h3>
	<% @user = User.new	%>
	<%= remote_form_for User.new, :url => for_user_grades_path,
                                :update => :user_grades_div do |f| %>
		<div style="margin-bottom: 5px;">
			<div style="float: left; width: 100px; ">
				Assignment:
			</div>
			<%= select_tag :filter_aid, options_for_select([['(all)', nil]] + Assignment.find(:all).map { |a| [a.name, a.id] }) %>
		</div>		
		<div>
			<div style="float: left; width: 100px; ">
				User:
			</div>
			<%= text_field_tag :query, '', :autocomplete => false, :style => 'width: 450px;' %>
			<div class="auto_complete" id="query_auto_complete" style="width: 600px;"></div>
			<%= auto_complete_field :query, :url => { :controller => :users, :action => :lookup, :id => 0 }, :method => :get, :frequency => 0.2 %>
			<%= f.submit 'Fetch User Data' %>
		</div>			
	<% end %>		
</div>

<div id="user_grades_div">

</div>
