<%= render 'grades/request_missing', assignments: @assignments %>

<div class="full_section">
	<h3 class="full_section">Missing Grades
    <% if @assignment %>
			for <%= @assignment.name %>
		<% end %>
	</h3>

	<% if @subjects.empty? %>
		<div>No missing grades.</div>
	<% else %>
		<table>
			<thead>
				<th>User</th>
				<th>Assignments</th>
      </thead>
      <tbody>
			<% @subjects.each do |subject, assignments| %>
				<tr>
					<td><%= link_to subject.name, subject %></td>
					<td>
						<% assignments.keys.sort_by { |a| a.deadline }.each do |assignment| %>
							<%= assignment.name %>:
							<%= assignments[assignment].map { |m_id| @metrics_by_id[m_id].name }.join(', ') %>
							<br />
						<% end %>
					</td>
				</tr>
			<% end %>
      </tbody>
    </table>
	<% end %>
</div>
