<div class="full_section">	
	<h3 class="full_section">Report grades</h3>
	<% form_tag(report_grades_path, :class => 'student_form', :method => :post) do %>
		<div class="form_box">
			<div class="form_entry">
				<div class="form_label">Assignment</div>
				<div class="form_field_box">
					<%= select_tag :filter_aid, options_for_select([['(all)', nil]] + Assignment.find(:all).map { |a| [a.name, a.id] }), :id => 'report_filter_aid', :class => 'form_field' %>
				</div>
			</div>
			<div class="form_entry">
				<div class="form_label">Sort by</div>
				<div class="form_field_box">
					<%= select_tag :sort_by, options_for_select([['Name', 'name'], ['Total score', 'total']]) %>
				</div>
			</div>
			<div class="form_entry">
				<div class="form_label">Name students by</div>
				<div class="form_field_box">
					<%= select_tag :name_by, options_for_select([['Real name', 'real_name'], ['Athena ID', 'athena_username'], ['alg.csail.mit.edu ID', 'username'], ['@mit e-mail', 'email']]) %>			
				</div>
			</div>
			<div class="form_entry">
				<div class="form_label">Weight totals</div>
				<div class="form_field_box">
					<%= check_box_tag :use_weights, nil, :checked => true %>
				</div>
			</div>			
			<div class="form_entry">
				<div class="form_label">Histogram step</div>
				<div class="form_field_box">
					<%= select_tag :histogram_step, options_for_select([500, 200, 100, 50, 20, 10, 5], 10) %>
				</div>
			</div>
			<div class="form_submit_box">
				<%= submit_tag 'Generate report', :class => 'form_submit' %>
				or
				<%= link_to 'Go back', root_path %>
			</div>
		</div>
	<% end %>
</div>
