<h2>Report grades</h2>
<%= form_tag(report_grades_path, :class => 'student_form', :method => :post) do %>
  <dl>
  	<dt><%= label_tag :filter_aid, 'Assignment' %></dt>
		<dd>
      <%= select_tag :filter_aid, options_for_select([['(all)', nil]] + Assignment.find(:all).map { |a| [a.name, a.id] }) %>
		</dd>
    <dt><%= label_tag :sort_by, 'Sort by' %></dt>
    <dd>
      <%= select_tag :sort_by, options_for_select([['Name', 'name'], ['Total score', 'total']]) %>
    </dd>
    <dt><%= label_tag :name_by, 'Name students by' %></dt>
    <dd>
      <%= select_tag :name_by, options_for_select([['Real name', 'real_name'], ['Athena ID', 'athena_username'], ['alg.csail.mit.edu ID', 'username'], ['@mit e-mail', 'email']]) %>      
    </dd>
    <dt><%= label_tag :use_weights, 'Weight totals' %></dt>
    <dd>
      <%= check_box_tag :use_weights, nil, :checked => true %>
    </dd>
    <dt><%= label_tag :histogram_step, 'Weight totals' %></dt>
    <dd>
      <%= select_tag :histogram_step, options_for_select([500, 200, 100, 50, 20, 10, 5], 10) %>
    </dd>
  </dl>
  <p>
    <%= submit_tag 'Generate report' %>  	
  </p>
<% end %>
