<h2>Grades</h2>

<% @grades.each do |assignment, metrics| %>
  <h3 class="grades"><%= assignment.name %></h3>
	<dl class="grades">
    <% metrics.each do |metric, grade| %>
		<dt><%= metric.name %></dt>
		<dd>
			<span class="score"><%= grade ? grade.score : 'N' %></span>
			/
		  <span class="max-score"><%= metric.max_score %></span>
		</dd>
  	<% end %>
	  <dt>Total</dt>
		<dd>
			<span class="score">
				<%= metrics.map { |metric, grade| grade ? grade.score : 0 }.sum %>
			</span>
			/
      <span class="max-score">
      	<%= metrics.map { |metric, grade| metric.max_score }.sum %>
			</span>
		</dd>
	</dl>
<% end %>
