<section class="deliverable" data-pwnfx-hide-positive="deliverable-div"
         data-pwnfx-scope="deliverable">
  <p class="header">
    <%= f.text_field :name, placeholder: 'PDF Write-up', required: true,
                            class: 'name' %>
    <%= f.text_field :file_ext, placeholder: 'pdf', required: true,
                                class: 'file-ext' %>
    <%= f.fields_for :analyzer, f.object.analyzer || ProcAnalyzer.new do |fa| %>
      <%= fa.select :type, analyzer_types_for_select, {},
                           'data-pwnfx-showif-source' => 'analyzer-type' %>
    <% end %>
    <span class="destroy">
      <%= f.label :_destroy do %>
        <%= f.check_box :_destroy, 'data-pwnfx-hide' => 'deliverable-div',
                'data-pwnfx-hide-scope' => 'deliverable',
                'data-pwnfx-hide-class' => 'destroyed-blur',
                'data-pwnfx-hide-trigger' => 'checked' %>
        <%= destroy_icon_tag %> Remove
      <% end %>
    </span>
  </p>
  <p class="description">
    <span class="description">
      <%= f.text_area :description,
              placeholder: 'Please upload your write-up, in PDF format.' %>
    </span>
  </p>
  <p class="analyzer">
    <div data-pwnfx-showif="analyzer-type" data-pwnfx-showif-is="ProcAnalyzer"
         data-pwnfx-showif-scope="deliverable"
         data-pwnfx-showif-replace="div">
    <%= f.fields_for :analyzer, analyzer_for(f.object, ProcAnalyzer) do |fa| %>
    <%= render 'proc_analyzers/fields', :f => fa  %>
    <% end %>
    </div>

    <div data-pwnfx-showif="analyzer-type" data-pwnfx-showif-is="ScriptAnalyzer"
         data-pwnfx-showif-scope="deliverable"
         data-pwnfx-showif-replace="div">
    <%= f.fields_for :analyzer, analyzer_for(f.object, ScriptAnalyzer) do |fa| %>
    <%= render 'script_analyzers/fields', :f => fa  %>
    <% end %>
    </div>
  </p>
</section>
