<section class="deliverable" data-pwnfx-hide-positive="deliverable-div"
         data-pwnfx-scope="deliverable">
  <p class="header">
    <%= f.text_field :name, placeholder: 'PDF Write-up', required: true,
                            class: 'name' %>
    <%= f.text_field :file_ext, placeholder: 'pdf', required: true,
                                class: 'file-ext' %>
    <%= f.fields_for :analyzer, f.object.analyzer || ProcAnalyzer.new do |fa| %>
      <%= fa.select :type, analyzer_types_for_select, {},
                           'data-pwnfx-showif-source' => 'analyzer-type' %>
    <% end %>
    <span class="destroy">
      <%= f.check_box :_destroy, 'data-pwnfx-hide' => 'deliverable-div',
              'data-pwnfx-hide-scope' => 'deliverable',
              'data-pwnfx-hide-class' => 'destroyed-blur',
              'data-pwnfx-hide-trigger' => 'checked' %>
      <%= f.label :_destroy do %>
        <%= destroy_icon_tag %> Remove
      <% end %>
    </span>
  </p>
  <p class="description">
    <span class="description">
      <%= f.text_area :description,
              placeholder: 'Please upload your write-up, in PDF format.' %>
    </span>
  </p>
  <p class="analyzer">
    <div data-pwnfx-showif="analyzer-type" data-pwnfx-showif-is="ProcAnalyzer"
         data-pwnfx-showif-scope="deliverable"
         data-pwnfx-showif-replace="div">
    <%= f.fields_for :analyzer, analyzer_for(f.object, ProcAnalyzer) do |fa| %>
      <section class="fields">
        <p class="field">
          <%= fa.label :message_name, 'Built-in analyzer' %>
          <span class="value">
            <%= fa.select :message_name, proc_analyzer_messages_for_select %>
          </span>
        </p>
        <p class="field">
          <%= fa.label :auto_grading, 'Auto grading' %>
          <span class="value">
            <%= fa.check_box :auto_grading %>
            <%= fa.label :auto_grading do %>
              invalid submissions get 0 (zero) grades
            <% end %>
          </span>
        </p>
    <% end %>
    </div>

    <div data-pwnfx-showif="analyzer-type" data-pwnfx-showif-is="ScriptAnalyzer"
         data-pwnfx-showif-scope="deliverable"
         data-pwnfx-showif-replace="div">
    <%= f.fields_for :analyzer, analyzer_for(f.object, ScriptAnalyzer) do |fa| %>
      <section class="fields">
        <p class="field">
        <%= fa.fields_for :db_file, DbFile.new do |faf| %>
          <%= faf.label :f, 'Script .zip'%>
          <span class="value">
          <%= faf.file_field :f, :accept => 'application/zip' %>
          </span>
          <span class="comment">
          <% if fa.object.db_file %>
          <%= download_icon_tag %>
          <%= link_to fa.object.db_file.f.original_filename,
                      source_analyzer_path(fa.object) %>
          (<%= number_to_human_size fa.object.db_file.f.size %>)
          <% end %>
          </span>
        <% end %>
        </p>
  
        <p class="field">
          <%= fa.label :time_limit, 'CPU time' %>
          <span class="value">
            <%= fa.number_field :time_limit, required: true, placeholder: 5 %>
          </span>
          <span class="comment">
            seconds
          </span>
        </p>
  
        <p class="field">
          <%= fa.label :ram_limit, 'RAM usage' %>
          <span class="value">
            <%= fa.number_field :ram_limit, required: true, placeholder: 1024 %>
          </span>
          <span class="comment">
            Mb
          </span>
        </p>
        
        <p class="field">
          <%= fa.label :file_limit, 'Open files' %>
          <span class="value">
            <%= fa.number_field :file_limit, required: true, placeholder: 10 %>
          </span>
          <span class="comment">
            files
          </span>
        </p>

        <p class="field">
          <%= fa.label :file_size_limit, 'File size' %>
          <span class="value">
            <%= fa.number_field :file_size_limit, required: true, placeholder: 100 %>
          </span>
          <span class="comment">
            Mb
          </span>
        </p>
        
        <p class="field">
          <%= fa.label :process_limit, 'Spawn' %>
          <span class="value">
            <%= fa.number_field :process_limit, required: true, placeholder: 5 %>
          </span>
          <span class="comment">
            processes
          </span>
        </p>

        <p class="field">
          <%= fa.label :auto_grading, 'Auto grading' %>
          <span class="value">
            <%= fa.check_box :auto_grading %>
            <%= fa.label :auto_grading do %>
              use analyzer grade output
            <% end %>
          </span>
          <span class="comment">
          </span>
        </p>
      </section>
    <% end %>
    </div>
  </p>
</section>
