<section class="fields">
  <p class="field">
    <%= f.label :name %>
    <span class="value">
      <%= f.text_field :name, :placeholder => 'PDF Write-up',
                       :required => true %>
    </span>
  </p>
  <p class="field">
    <%= f.label :filename, 'File name' %>
    <span class="value">
      <%= f.text_field :filename, :placeholder => 'writeup.pdf' %>
    </span>
  </p>
  <p class="field">
    <%= f.label :description, 'Description' %>
    <span class="value">
      <%= f.text_area :description %>
    </span>
  </p>
</section>
