<% @deliverable = show %>
<div id="deliverable_row_<%= show.id %>">
	<div class="deliverable_name">
  		<div>  			
			<%= in_place_editor_field(:deliverable, :name, {},
                                :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'",
                                :url => set_deliverable_name_deliverable_path(@deliverable)) %>
		</div>
		<div>
			Filename: <%= in_place_editor_field(:deliverable, :filename, {},
                                          :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'",
                                          :url => set_deliverable_filename_deliverable_path(@deliverable),
                                          :cols => 16) %>
		</div>
		<div>
			Published: <%= in_place_checkbox :deliverable, :published,
                                       :checked => true, :unchecked => false,
                                       :url => set_deliverable_published_deliverable_path(@deliverable) %> 
		</div>
	</div>
	<div class="deliverable_description">
		<%= in_place_editor_field(:deliverable, :description, {},
                              :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'",
                              :url => set_deliverable_description_deliverable_path(@deliverable),
                              :rows => 3) %>
	</div>
	<div>
		<%= link_to_remote 'Edit', :url => edit_deliverable_path(@deliverable),
                               :method => :get %>			
    <%= link_to_remote 'Destroy', :url => show,
            :confirm => "Removing deliverable #{show.name}. Are you sure?",
            :method => :delete %>
	</div>
	<div class="float_clearer"></div>
	
<%= render :partial => 'deliverable_validations/show_for_deliverable', 
           :locals => {:deliverable => show } %>
</div>
 
