<div class="summary">
  <span class="name"><%= deliverable.name %></span>
  <div class="new">
    <% if deliverable.assignment.can_submit?(current_user) %>
      <%= render 'submissions/form',
            submission: Submission.new(deliverable: deliverable) %>
    <% end %>
  </div>
</div>
<div class="details">
  <p class="description">
    <%= deliverable.description %>
  </p>
  <div class="submissions">
    <% if submissions.any? %>
      <% submissions.map do |submission| %>
        <div class="submission">
          <div data-pwnfx-scope="submission-info-<%= submission.to_param %>"
               data-pwnfx-delayed-target="submission-info-<%= submission.to_param %>" >
            <%= render 'submissions/info', submission: submission %>
          </div>

          Collaborators:
          <%= render partial: 'collaborations/collaborator',
                collection: submission.collaborations, as: :collaboration %>

          <%= render 'collaborations/form', submission: submission %>
        </div>
      <% end %>
    <% else %>
      <span class="no-submission">
        <%= invalid_icon_tag %> No submission yet
      </span>
    <% end %>
  </div>
</div>
