<% submissions = deliverable.submissions.
      includes([:analysis, { subject: [ :credentials, { profile: :photo } ] }]).
      order('updated_at DESC') %>
<ol class="submission-list">
  <% submissions.each do |submission| %>
  <li>
    <%= link_to polymorphic_url(submission.analysis || submission,
                                course_id: submission.course) do %>
      <figure title="<%= submission.subject.name %>">
        <%= user_image_tag submission.subject, size: :large %>
        <%= analysis_status_icon_tag submission.analysis %>
      </figure>
    <% end %>
  </li>
<% end %>
<% if submissions.any? { |s| s.analysis && s.analysis.status_will_change? } %>
  <li data-pwnfx-delayed="submission-states" data-pwnfx-delayed-method="GET"
      data-pwnfx-delayed-url="<%= submission_dashboard_deliverable_path(deliverable) %>"
      data-pwnfx-delayed-scope="submissions-list" data-pwnfx-delayed-ms="5000">
    <%= ajax_spinner_image_tag %>
  </li>
<% end %>
</ol>
