<% submissions = deliverable.submissions.
      includes([:analysis, { subject: [ :credentials, { profile: :photo } ] }]).
      order(updated_at: :desc) %>
<ol class="submission-list">
  <% submissions.each do |submission| %>
  <li>
    <%= link_to polymorphic_url(submission.analysis || submission,
                                course_id: submission.course) do %>
      <figure title="<%= submission.subject.name %>">
        <%= user_image_tag submission.subject, size: :large %>
        <%= analysis_status_icon_tag submission.analysis %>
      </figure>
    <% end %>
  </li>
<% end %>
<% if submissions.any? { |s| s.analysis && s.analysis.status_will_change? } %>
  <%= content_tag :li, ajax_spinner_image_tag, data: {
        pwnfx_delayed: 'states', pwnfx_delayed_method: 'GET',
        pwnfx_delayed_scope: 'submissions-list', pwnfx_delayed_ms: 5000,
        pwnfx_delayed_url: submission_dashboard_deliverable_path(deliverable,
        course_id: deliverable.course) } %>
<% end %>
</ol>
