<h1>Listing run_results</h1>

<table>
  <tr>
    <th>Submission</th>
    <th>Score</th>
    <th>Diagnostic</th>
    <th>Stdout</th>
    <th>Stderr</th>
  </tr>

<% for run_result in @run_results %>
  <tr>
    <td><%=h run_result.submission_id %></td>
    <td><%=h run_result.score %></td>
    <td><%=h run_result.diagnostic %></td>
    <td><%=h run_result.stdout %></td>
    <td><%=h run_result.stderr %></td>
    <td><%= link_to 'Show', run_result %></td>
    <td><%= link_to 'Edit', edit_run_result_path(run_result) %></td>
    <td><%= link_to 'Destroy', run_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New run_result', new_run_result_path %>
