<!-- run_results/new -->
<h1>New run_result</h1>

<%= error_messages_for :run_result %>

<%= form_for(@run_result) do |f| %>
  <p>
    <b>Submission</b><br />
    <%= f.text_field :submission_id %>
  </p>

  <p>
    <b>Score</b><br />
    <%= f.text_field :score %>
  </p>

  <p>
    <b>Diagnostic</b><br />
    <%= f.text_field :diagnostic %>
  </p>

  <p>
    <b>Stdout</b><br />
    <%= f.text_field :stdout %>
  </p>

  <p>
    <b>Stderr</b><br />
    <%= f.text_field :stderr %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', run_results_path %>
