<%= form_for @team,
      url: polymorphic_url(@team, course_id: @team.course) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :partition_id %>

  <div class="row">
    <div class="small-2 columns">
      <%= f.label :name, class: 'text-right middle' %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :name, placeholder: 'Team A' %>
    </div>
    <div class="small-4 columns">
      <%= button_tag class: 'hollow button' do %>
        <%= create_icon_tag %> Add New Team
      <% end %>
    </div>
  </div>
<% end %>
