<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :team_set_id %><br />
    <%= f.text_field :team_set_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
