<%= form_for(@team, url: polymorphic_url(@team, course_id: @team.course),
             html: { class: :student_form }) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :partition_id %>

  <div class="form_box">
    <div class="form_entry">
      <div class="form_label">Name</div>
      <div class="form_field_box">
        <%= f.text_field :name, :class => 'form_field' %>
      </div>
    </div>

    <div class="form_submit_box">
      <%= f.submit @team.new_record? ? "Submit" : "Update", :class => 'form_submit' %>
    </div>
  </div>
<% end %>
