<!-- teams/_show -->
<% @team = team %>
<%= in_place_editor_field(:team, :name, :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
:

<% team.partition.assignments.each do |assignment| %>
  <%= assignment.name %>
<% end %>

<ul>
  <% team.memberships.each do |membership| %>
    <li>
    	<% user = membership.user %>
      <%= user.real_name %>
      &lt;<%= link_to "#{user.athena_id}@mit.edu",
                      "mailto:#{user.athena_id}@mit.edu" %>&gt;
      <% if @s_user.admin? %>
			<% if user.student_info %>
			<%= user.student_info.wants_credit ? 'Credit' : 'Listener' %>
			<% end %>
			<%= link_to 'Remove', membership, :method => :delete,
              :confirm => "Remove #{user.real_name} from #{team.name}" %>
			<% end %>
    </li>
  <% end %>
</ul>

<% form_for TeamMembership.new(:team => team) do |f| %>
  <%= f.hidden_field :team_id %>

  <%= text_field_tag :query, '', :id => "query_#{team.id}", :autocomplete => false, :style => 'width: 450px;' %> <%= f.submit "Add to #{team.name}" %>
  <div class="auto_complete" id="query_<%= team.id %>_auto_complete" style="width: 600px;"></div>
  <%= auto_complete_field "query_#{team.id}", :url => lookup_users_path, :method => :get, :frequency => 0.2 %>
<% end %>
