<dt>
	<%= team.partition.name %>:
	
	<% if current_user.admin? %>
	<% old_team_value, @team = @team, team %>
	<%= in_place_editor_field(:team, :name, {},
        :url => set_team_name_team_path(team),
        :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
	<% @team = old_team_value %>
	<% else %>
	<%= team.name %>
	<% end %>
</dt>
<dd>
	<ul>
	<% team.memberships.includes(:user).sort_by { |m| m.user.display_name_for current_user }.each do |membership| %>
	  <li>
	    <%= user_image_tag membership.user %>
	    <%= link_to membership.user.display_name_for(current_user), membership.user,
                  :class => 'name' %>
	    <% if current_user.admin? and membership.user.registration %>
			<span class="status">			
	    <%= membership.user.registration.for_credit ? 'Credit' : 'Listener' %>
			</span>
			<% end %>
      <% if team.can_edit? current_user %>
	    <%= link_to 'Remove', membership, :method => :delete,
	            :confirm => "Remove #{membership.user.name} from #{team.name}" %>
	    <% end %>
	  </li>
	<% end %>
	</ul>
	<% if team.can_edit? current_user %>
	<%= form_for TeamMembership.new(:team => team),
               :html => { :class => 'group-membership-form' } do |f| %>
	  <%= f.hidden_field :team_id %>
	
	  <%= text_field_tag :query, '', :id => "query_#{team.id}",
                               :autocomplete => false %>
    <div class="ajax-indicator-wrapper">
			<span id="query-<%= team.id %>-ajax-indicator" style="display: none;">
	    	<%= loading_image_tag %>
	    </span>
		</div>
		<%= f.submit "Add" %>
	  <div class="auto_complete" id="query_<%= team.id %>_auto_complete" style="width: 600px;"></div>
	  <%= auto_complete_field "query_#{team.id}", :url => lookup_users_path,
          :method => :get, :frequency => 0.2, :select => 'username',
          :indicator => "query-#{team.id}-ajax-indicator" %>
	<% end %>		
	<% end %>
</dd>
