<%= remote_form_for @announcement,
      :html => {:class => 'announcement-form'},
      :before => update_page { |p|            
        p.replace_html 'announcement-ajax-indicator', loading_image_tag
      } do |f| %> 
  <%= f.error_messages %>

  <dl>
  	<dt><%= f.label :headline %></dt>
		<dd><%= f.text_field :headline %></dd>
    <dt><%= f.label :contents %></dt>
    <dd><%= f.text_area :contents %></dd>
  </dl>
  
  <p class="privacy-policy">
    Every site user can see this.
  </p>
  <span id="announcement-ajax-indicator">
    <%= f.submit @announcement.new_record? ? "Publish" : "Update" %>
  </span>
<% end %>
