<section data-pwnfx-scope="profile">
  <%= f.text_field :name, id: 'profile_name', label: 'Full name' %>
  <%= f.text_field :nickname, id: 'profile_nickname', label: 'Call me' %>
  <%= f.text_field :university, id: 'profile_university', label: 'School' %>
  <%= f.text_field :department, id: 'profile_department', label: 'Department' %>
  <%= f.select :year, profile_year_options(f.object), { label: 'Year' },
        id: 'profile_year' %>
</section>
