<section class="fields" data-pwnfx-scope="profile">
  <p class="field">
    <%= f.label :athena_username, 'Athena username' %>
    <span class="value">
      <%= f.text_field :athena_username, :autocomplete => :off,
            :autofocus => true, data: { pwnfx_refresh: 'athena-lookup-js',
            pwnfx_refresh_url: websis_lookup_profiles_path,
            pwnfx_refresh_method: 'POST', pwnfx_refresh_scope: 'profile',
            pwnfx_refresh_ms: 1000 } %>
    </span>
    <span class="comment" id="profile-athena-success">
    </span>
    <span data-pwnfx-refresh-target="athena-lookup-js" />
  </p>

  <p class="field">
    <%= f.label :name, 'Full name' %>
    <span class="value">
      <%= f.text_field :name, :id => 'profile_name' %>
    </span>
    <span class="comment">
    </span>
  </p>
  <p class="field">
    <%= f.label :nickname, 'Call me' %>
    <span class="value">
      <%= f.text_field :nickname, :id => 'profile_nickname' %>
    </span>
    <span class="comment" />
  </p>
  <p class="field">
    <%= f.label :university, 'School' %>
    <span class="value">
      <%= f.text_field :university, :id => 'profile_university' %>
    </span>
    <span class="comment" />
  </p>
  <p class="field">
    <%= f.label :department %>
    <span class="value">
      <%= f.text_field :department, :id => 'profile_department' %>
    </span>
    <span class="comment" />
  </p>
  <p class="field">
    <%= f.label :year, 'Year' %>
    <span class="value">
      <%= f.select :year, profile_year_options(f.object), {},
                          :id => 'profile_year' %>
    </span>
    <span class="comment" />
  </p>
</section>
