<div class="profile-container">
<h3>Profile</h3>

<%= remote_form_for @profile,
      :before => update_page { |p|            
        p.replace_html 'profile-ajax-indicator', loading_image_tag
      } do |f| %> 
  <%= f.error_messages %>
	<%= f.hidden_field :user_id %>

	<dl class="profile">
	  <dt>Athena username</dt>
	  <dd>
	  	<%= f.text_field :athena_username, :autocomplete => :off %>
			<span id="websis-ajax-indicator"></span>
		</dd>
	  <dt>Full name</dt>
	  <dd><%= f.text_field :real_name %></dd>
	  <dt>Call me</dt>
	  <dd><%= f.text_field :nickname %></dd>
	  <dt>School</dt>
	  <dd><%= f.text_field :university %></dd>
	  <dt>Department</dt>
	  <dd><%= f.text_field :department %></dd>
	  <dt>Year</dt>
	  <dd><%= f.select :year, profile_year_options(@profile) %></dd>
	  
	  <% if Course.main.has_recitations? %>
	  <dt>Recitation</dt>
	  <dd>
	    <%= f.select :recitation_section_id,
                   profile_recitation_section_options(@profile) %>
	  </dd>
	  <% end %>
	  
	  <dt>Publish my work</dt>
	  <dd>
	  	<%= f.check_box :allows_publishing %>
      course staff may publish my proposals or homework solutions, as long as I
			am credited
		</dd>	  
    
		<dt>Phone</dt>
    <dd>
      <%= f.text_field :phone_number %>
    </dd>
    <dt>AIM screen name</dt>
    <dd>
      <%= f.text_field :aim_name %>
    </dd>
    <dt>Jabber account</dt>
    <dd>
      <%= f.text_field :jabber_name %>
    </dd>
					
	  <dt>About</dt>
	  <dd><%= f.text_area :about_me %></dd>
	</dl>

  <p class="privacy-policy">
    Every registered user can see this.
  </p>  
  <span id="profile-ajax-indicator">
    <%= f.submit @profile.new_record? ? 'Submit' : 'Update' %>
  </span>
<% end %>
</div>

<%= observe_field :profile_athena_username,
  :url => websis_lookup_profiles_path,
  :before => %|$("websis-ajax-indicator").update(\'#{loading_image_tag}\')|,
  :with => '"athena_id=" + encodeURIComponent($("profile_athena_username").value)',
  :frequency => 0.5 %>

<% if @profile.new_record? %>
  <%= javascript_tag remote_function(
    :url => websis_lookup_profiles_path(:athena_id => @profile.athena_username),
    :before => %|$("websis-ajax-indicator").update(\'#{loading_image_tag}\')|) %>
<% end %>
