<%= form_for profile.user do |fu| %>
  <%= fu.fields_for :profile do |f| %>
    <%= render 'profiles/fields', f: f %>
  <% end %>
  <p class="action">
    <%= button_tag class: 'emphasized' do %>
      <%= save_icon_tag %> Update Profile
    <% end %>
  </p>
<% end %>
