<!-- profiles/index -->
<div class="full_section">

  <h1 class="full_section">Listing <%= @profiles.length %> Profiles</h1>

  <table>
    <thead>
      <tr>
        <td>User</td>
        <td>Real Name</td>
        <td>Athena ID</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% for @profile in @profiles %>
        <tr>
          <td><%=link_to h(@profile.user.email), @profile.user %></td>
          <td><%=h @profile.name %></td>
          <td><%=h @profile.athena_username %></td>
          <td><%= link_to 'Edit', edit_profile_path(@profile) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
