<script type="text/javascript">
<% if @ldap_info.nil? %>
  <% if @athena_username.blank? %>
  $('#profile-athena-success').html('');
  <% else %>
  $('#profile-athena-success').html('<span class="error-text"><%= invalid_icon_tag %> <%= @athena_username %> not found</span>');
  <% end %>
<% else %>
  $('#profile-athena-success').html('<%= valid_icon_tag %> <%= @athena_username %> found');
  $('#profile_name').val('<%= (@ldap_info[:full_name] || '').html_safe %>');
  $('#profile_nickname').val('<%= (@ldap_info[:full_name] || ' ').split(' ').first.html_safe %>');
  $('#profile_department').val('<%= (@ldap_info[:department] || '').html_safe %>');
  $('#profile_university').val('<%= guess_university_from_athena(@ldap_info).html_safe %>');
  $('#profile_year').val('<%= (@ldap_info[:year] || '').html_safe %>');
<% end %>
</script>
