<%= fields_for extension, nil, builder: FoundationFormBuilder do |ef| %>
<td>
  <%= ef.collection_select :user_exuid,
        current_course.students.without_extensions_for(@assignment).by_name,
        :to_param, :name, { prompt: 'Select a student' }, { required: true,
        form: 'extension-form' } %>
</td>
<td colspan="2">
  <%= ef.datetime_local_field :due_at, required: true, step: 1,
        form: 'extension-form' %>
</td>
<td class="actions">
  <%= button_tag type: :submit, form: 'extension-form' do %>
    <%= create_icon_tag %> Grant Extension
  <% end %>
</td>
<% end %>
