<h2>Extensions for <%= @assignment.name %></h2>
<h3>Original deadline: <%= @assignment.due_at.to_s(:deadline_long) %></h3>

<%= form_for @extension, url: assignment_extensions_path(@extension,
      assignment_id: @assignment, course_id: @assignment.course),
      html: { id: 'extension-form' } do |f| %>
  <%= f.error_messages %>

<table class="extensions">
  <thead>
    <tr>
      <th>Student</th>
      <th>Extended deadline</th>
      <th>Granted by</th>
    </tr>
  </thead>
  <tbody>
    <% @assignment.extensions.each do |extension| %>
    <tr class="extension">
      <td><%= link_to extension.user.name, extension.user %></td>
      <td>
        <%= extension.due_at.to_s(:deadline_long) %>
        (<%= distance_of_time_in_words(extension.due_at, @assignment.due_at) %>)
      </td>
      <td>
        <%= extension.grantor.display_name_for current_user, :long %>
      </td>
      <td>
        <%= link_to deadline_extension_path(extension,
              course_id: @assignment.course), method: :delete,
              data: { confirm: 'Revoke this extension?' } do %>
          <%= destroy_icon_tag %> Revoke
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr class="form-row">
      <%= render 'deadline_extensions/fields', f: f %>
    </tr>
  </tbody>
</table>

<% end %>
