<h2>Deadline Calendar</h2>

<dl class="deadlines">
<% Contents::Deadline.for(current_user).each do |deadline| %>
  <dt class="deadline-<%= deadline.state %>">
    <%= deadline.due.to_s(:deadline_short) %>
  </dt>
  <dd class="deadline-<%= deadline.state %>">
  <% if deadline.active? %>
    <%= link_to deadline.headline, self.send(*deadline.link[0]),
                deadline.link[1] || {} %>
	<% else %>
	  <%= deadline.headline %>
	<% end %>
  </dd>
<% end %>
</dl>
