<!-- sessions/login_form -->

<%= error_messages_for :user %>

<%= form_for(@login || User.new, :url => sessions_url, :method => :post,
            :html => {:class => 'user_form'}) do |f| %>
	<dl>
		<dt><%= f.label :name, 'Username' %></dt>
		<dd><%= f.text_field :name %></dd>
    <dt><%= f.label :password, 'Password' %></dt>
    <dd><%= f.password_field :password %></dd>
	</dl>
	<p>
		<%= f.submit "Login", :class => 'form_submit' %>
	</p>
<% end %>
