<%= form_for(@login || User.new, :url => sessions_url, :method => :post) do |f| %>
  <%= f.error_messages %>

  <section class="fields">
  	<p class="field">
      <%= f.label :email, 'Email', :for => 'login_email' %>
      <span class="value">
        <%= f.email_field :email, :id => 'login_email', :required => true,
                          :placeholder => 'you@mit.edu', :autofocus => true %>
      </span>
  	</p>
    <p class="field">
      <%= f.label :password, 'Password', :for => 'login_password' %>
      <span class="value">
        <%= f.password_field :password, :id => 'login_password',
                :placeholder => 'not your e-mail password' %>
      </span>
    </p>
  </section>
	<p class="action">
	  <button>Sign in</button>
	</p>
<% end %>
