<% if false %>
<%= render :partial => 'notices/user_statuses', :locals => { :user_statuses => @notice_statuses } %>
<% end %>

<% unless @profile and @student_info %>
	<% unless @profile %>
	<div class="notice_box">
		<div class="notice_dismiss">
			<%= link_to 'Create profile', my_own_profiles_path %>
		</div>
		<div class="notice_title">
			We do not have a profile for you.
		</div>
		<div>
			<%= link_to 'Verify your WebSIS information', my_own_profiles_path %>
			to be included in grading and recitation assignment.
		</div>
	</div>
	<% end %>
	
	<% unless @student_info %>
	<div class="notice_box">
		<div class="notice_dismiss">
			<%= link_to 'Enter information', my_own_student_infos_path %>
		</div>
		<div class="notice_title">
			We do not have a student information sheet for you.
		</div>
		<div>
			<%= link_to 'Enter your information', my_own_student_infos_path %>
			to receive a recitation assignment.
		</div>
	</div>
	<% end %>
<% end %>

<% unless @assignments_wo_feedback.empty? %>
<div class="full_section">	
	<h3 class="full_section">Feedback You Need to Submit</h3>
	
	<table>
		<thead style="font-size: 1.1em; font-weight: bold;">
			<tr>
				<td>Assignment</td>
				<td>Deadline</td>
			</tr>
		</thead>
		<tbody>
			<% @assignments_wo_feedback.each do |assignment| %>
				<tr>
					<td>
						<%= assignment.name %>						
					</td>
					<td>
						<%= time_delta(assignment.deadline) %>
					</td>
					<td>
						<%= link_to 'Submit feedback', new_assignment_feedback_path(:assignment_id => assignment.id) %>
					</td>
				</tr>				
			<% end %>
		</tbody>
	</table>
</div>
<% end %>

<% if false %>
<div class="full_section">	
	<h3 class="full_section">Submit Assignment</h3>
	
<%= render :partial => 'submissions/new' %>
</div>
<% end %>

<%= render :partial => 'layouts/newsfeed' %>
