<%= form_for @recitation_section do |f| %>
  <%= f.error_messages %>

  <section class="fields">
    <p class="field">
      <%= f.label :serial, 'Serial number' %>
      <span class="value">
        <%= f.text_field :serial, required: true, placeholder: '1' %>
      </span>
    </p>
    <p class="field">
      <%= f.label :leader_id, 'Recitation leader' %>
      <span class="value">
        <%= f.collection_select :leader_id, recitation_leaders, :id, :name,
                include_blank: '(no leader specified)' %>
      </span>
    </p>
    <p class="field">
      <%= f.label :time, 'Scheduled time' %>
      <span class="value">
				<%= f.text_field :time, required: true, placeholder: 'MW1' %>
      </span>
    </p>
    <p class="field">
      <%= f.label :location, 'Scheduled location' %>
      <span class="value">
				<%= f.text_field :location, required: false, placeholder: '34-401' %>
      </span>
    </p>
  </section>
  <p class="actions">
    <%= button_tag class: 'emphasized' do %>
      <%= save_icon_tag %> Save Section
    <% end %>
  </p>
<% end %>

