<!-- recitation_sections/index -->
<div class="full_section">

	<div style="z-index: 10; float: right; width: 100px; text-align: right;">
		<h1 class="full_section">
			<%= link_to 'New', new_recitation_section_path %>
		</h1>
	</div>
	<h1 class="full_section" style="margin-right: 100px; ">
		Recitation Sections
	</h1>
	
	<span class="validation-errors"></span>
	
	<table>
	  <tr>
	    <th style="text-align: left; width: 75px;">Serial</th>
	    <th style="text-align: left; width: 180px;">Leader</th>
	    <th style="text-align: left; width: 220px;">Time</th>
	    <th style="text-align: left; width: 180px;">Location</th>
	    <th style="text-align: left; width: 180px;">Students</th>
	  </tr>
	
	  <% @recitation_sections.each do |recitation_section| %>
	  <tr> 
	    <td><%= best_in_place recitation_section, :serial, :type => :input %></td>
	    <td><%= best_in_place recitation_section, :leader_id, :type => :select,
		    :collection => @leaders.each.map { |l| [l.id, l.name()] } %></td>
	    <td><%= best_in_place recitation_section, :time, :type => :input %></td>
	    <td><%= best_in_place recitation_section, :location, :type => :input %></td>
	    <td><%= link_to "Edit", recitation_section %></td>
	  </tr>
	  <% end %>
	
	</table>
</div>
