<h2 class="title-with-actions">
  <span class="title">Recitation Sections</span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to new_recitation_section_path, class: 'hollow button' do %>
        <%= create_icon_tag %> New
      <% end %>
    </span>
    <span class="link-button-wrapper">
      <%= link_to recitation_partitions_path, class: 'hollow button' do %>
        <%= list_icon_tag %> All Section Assignments
      <% end %>
    </span>
  </span>
</h2>

<span class="validation-errors"></span>

<table id="recitations">
  <tr>
    <th>Serial</th>
    <th>Leader</th>
    <th>Times</th>
    <th>Location</th>
    <th># Students</th>
    <th></th>
  </tr>

  <% @recitation_sections.each do |section| %>
  <tr>
    <td><%= section.serial %></td>
    <td>
      <%= recitation_leader_label section %>
    </td>
    <td>
      <%= render 'time_slots/list', time_slots: section.time_slots %>
    </td>
    <td><%= section.location %></td>
    <td><%= section.users.length %></td>
    <td class="actions">
      <span class="link-button-wrapper">
        <%= link_to edit_recitation_section_path(section,
              course_id: section.course), class: 'hollow small button' do %>
          <%= edit_icon_tag %> Edit
        <% end %>
      </span>
      <%= button_to recitation_section_path(section, course_id: section.course),
            method: :delete, class: 'hollow small alert button',
            data: { confirm: 'Are you sure?' } do %>
        <%= destroy_icon_tag %> Delete
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
