<div class="full_section">

  <div style="z-index: 10; float: right; width: 275; text-align: left;">
    <h3>
      <%= link_to 'New', new_recitation_section_path %>
    </h3>
    <h3>
      <%= link_to 'Assignments', recitation_partitions_path %>
    </h3>
  </div>
  <h2 class="full_section" style="margin-right: 100px;">
    Recitation Sections
  </h2>

  <span class="validation-errors"></span>

  <table class="recitations">
    <colgroup>
      <col span="1" class="serials">
      <col span="1" class="leaders">
      <col span="1" class="times">
      <col span="1" class="location">
      <col span="1" class="student-counts">
      <col span="2" class="actions">
    </colgroup>
    <tr>
      <th>Serial</th>
      <th>Leader</th>
      <th>Times</th>
      <th>Location</th>
      <th># Students</th>
    </tr>

    <% @recitation_sections.each do |recitation_section| %>
    <tr>
      <td><%= recitation_section.serial %></td>
      <% if recitation_section.leader %>
      <td>
        <%= recitation_section.leader.name %>
      </td>
      <% else %>
      <td class="no-leader">
        (no leader assigned)
      </td>
      <% end %>
      <td>
        <%= render partial: 'time_slots/list',
              object: recitation_section.time_slots %>
      </td>
      <td><%= recitation_section.location %></td>
      <td><%= recitation_section.users.length %></td>
      <td>
        <%= link_to edit_recitation_section_path(recitation_section) do %>
          Edit
        <% end %>
      </td>
      <td>
        <%= link_to recitation_section, method: :delete,
              data: { confirm: 'Are you sure?' } do %>
          Delete
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>
</div>
