<div class="full_section">

	<div style="z-index: 10; float: right; width: 275; text-align: left;">
    <h3>
			<%= link_to 'New', new_recitation_section_path %>
		</h3>
    <h3>
      <%= link_to 'Assignments', recitation_partitions_path %>
    </h3>
	</div>
	<h1 class="full_section" style="margin-right: 100px; ">
		Recitation Sections
	</h1>

	<span class="validation-errors"></span>

	<table>
	  <tr>
	    <th style="text-align: left; width: 75px;">Serial</th>
	    <th style="text-align: left; width: 150px;">Leader</th>
	    <th style="text-align: left; width: 135px;">Time</th>
	    <th style="text-align: left; width: 135px;">Location</th>
      <th style="text-align: left; width: 135px;"># Students</th>
      <th style="text-align: left;"></th>
      <th style="text-align: left;"></th>
	  </tr>

	  <% @recitation_sections.each do |recitation_section| %>
	  <tr>
	    <td><%= best_in_place recitation_section, :serial, type: :input %></td>
	    <td><%= best_in_place recitation_section, :leader_id, type: :select,
		              collection: recitation_leaders.each.map { |l| [l.id, l.name()] } %></td>
	    <td><%= best_in_place recitation_section, :time, type: :input %></td>
	    <td><%= best_in_place recitation_section, :location, type: :input %></td>
      <td><%= recitation_section.users.length %></td>
	    <td><%= link_to "Edit", recitation_section %></td>
      <td><%= link_to 'Destroy', recitation_section,
	                :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	  <% end %>

	</table>
</div>
