<!-- recitation_sections/new_edit -->
<div class="full_section">
	
<% if @recitation_section.new_record? %>
	<h1 class="full_section">New Recitation Section</h1>
<% else %>
	<h1 class="full_section">Editing Recitation Section</h1>
<% end %>

<%= error_messages_for :recitation_section %>

<%= form_for(@recitation_section, :html => {:class => 'student_form'}) do |f| %>
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">Serial</div>
			<div class="form_field_box">
				<%= f.text_field :serial, :size => 3, :class => 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Recitation Leader</div>
			<div class="form_field_box">
				<%= f.select :leader_id,
				    options_for_select(recitation_leaders.map { |l| [l.display_name_for(), l.id] }, @recitation_section.leader_id),
				                       class: 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Scheduled time</div>
			<div class="form_field_box">
				<%= f.text_field :time, :class => 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Scheduled location</div>
			<div class="form_field_box">
				<%= f.text_field :location, :class => 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Students</div>
			<div class="form_field_box">
				<% @recitation_section.users.each do |user| %>
					<%= user.name %>
				<% end %>
			</div>
		</div>
		<div class="form_submit_box">
		    <%= f.submit @recitation_section.new_record? ? "Create" : "Update", :class => 'form_submit' %>
			or
			<%= link_to 'Go back', :controller => :recitation_sections, :action => :index %>
		</div>
	</div>
<% end %>

</div>
