<h2>SMTP Server Credentials</h2>

<%= foundation_form_for @smtp_server, url: smtp_server_url, method: :patch,
      html: { id: 'smtp-server-form' } do |f| %>
  <%= f.text_field :host, required: true, placeholder: 'outgoing.mit.edu',
        class: 'hostname', label: 'Hostname' %>
  <%= f.number_field :port, required: true, placeholder: '25', class: 'port',
        label: 'Port' %>
  <%= f.text_field :domain, required: true, placeholder: 'mit.edu',
        class: 'domain', label: 'HELO Domain' %>
  <%= f.select :auth_kind,
        [['None', ''], ['Plain', 'plain'], ['Login (base64)', 'login'],
         ['Challenge/Respose + MD5', 'cram_md5']], { label: 'Authentication' },
         class: 'auth-kind' %>
  <%= f.text_field :user_name, placeholder: 'admin', class: 'username',
        label: 'Username' %>
  <%= f.password_field :password, class: 'password', label: 'Password' %>
  <%= f.text_field :from, placeholder: '"Igor Staff" <costan@alum.mit.edu>',
        label: 'E-mail "From" line' %>
  <%= f.input_field_set label: 'Use STARTTLS' do %>
    <%= f.check_box :auto_starttls, label: 'use STARTTLS when the server '\
          'supports it' %>
  <% end %>

  <%= submit_button_tag do %>
    <%= save_icon_tag %> Save
  <% end %>
<% end %>
