<!-- student_infos/index -->
<div class="full_section">

	<h1 class="full_section">Listing <%= @student_infos.length %> Student Information Sheets</h1>

	<table>
		<thead>
		  <tr>
		  	<td>User</td>
		    <td>Credit</td>
				<% @prerequisites.sort_by(&:id).each do |prereq| %>
				<td><%= prereq.course_number %></td>
				<% end %>
		    <td>Comments</td>
		  </tr>
		</thead>
		
		<tbody>
			<% for student_info in @student_infos %>
			  <tr>
			    <td><%=link_to h(student_info.user.name), :controller => :users, :action => :show, :id => student_info.user.id %></td>
			    <td><%=h student_info.wants_credit %></td>
					<% student_info.prerequisite_answers.
                          sort_by(&:prerequisite_id).each do |answer| %>
						<td>
						<% if answer.took_course? %>
						  Took class
						<% else %>
						  <%= answer.waiver_answer %>
						<% end %>
						</td>
					<% end %>
			    <td><%=h student_info.motivation %></td>
			    <td><%= link_to 'Show', student_info %></td>
			    <td><%= link_to 'Edit', edit_student_info_path(student_info) %></td>
			    <td><%= link_to 'Destroy', student_info, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>		
		</tbody>
	</table>
</div>
