<!-- student_infos/show -->
<h1 class="form_title">Student Information Form for <%= @student_info.user.name %></h1>

<%= error_messages_for :student_info %>

<div class="student_form">
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">Taking <%= Course.main.number %> for credit</div>
			<div class="form_field_box">
				<%=@student_info.wants_credit ? 'Yes' : 'No' %>
			</div>
		</div>
		
    <% if Course.main.has_recitations? %>
		<div class="form_entry">
			<div class="form_label">(recitation allocation)<br />Enter the classes you are taking on Wednesday and Friday</div>
			<div class="form_field_box">
				<table>
					<thead>
						<tr>
							<td>Time</td>
							<td>Wednesday</td>
							<td>Friday</td>
						</tr>						
					</thead>
					<tbody>
						<% ['10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm'].zip((10..16).to_a).each do |hour, dhour| %>
							<tr>
								<td><%= hour %></td>
								<% [2, 4].each do |day| %>
									<td>
										<% rc = @recitation_conflicts[day + dhour * 10] %> 
										<%=h rc.nil? ? '' : rc.class_name %>
									</td>
								<% end %>
							</tr>
						<% end %>						
					</tbody>
				</table>
			</div>			
		</div>
		<% end %>
							
		<div class="form_entry">
			<div class="form_label">Have you taken</div>
			<div class="form_field_box">
				<% @student_info.prerequisite_answers.sort_by(&:prerequisite_id).
                         each do |answer| %>
        <div>
				<%=h answer.took_course? ? 'Yes' : 'No' %> -
				<%=h answer.prerequisite.course_number %>
        </div>
				<% end %>
			</div>
		</div>
    <% @student_info.prerequisite_answers.sort_by(&:prerequisite_id).
                     each do |answer| %>
    <% next if answer.took_course? %>
    <div class="form_entry">
      <div class="form_label"><%=h answer.prerequisite.waiver_question %></div>
      <div class="form_field_box">
        <% if answer.waiver_answer.empty? %>
          &nbsp;
        <% else %>
          <%=h answer.waiver_answer %>
        <% end %>
      </div>
    </div>
    <% end %>
		
		<div class="form_entry">
			<div class="form_label">
				Why do you want to take <%= Course.main.number%>?
			</div>
			<div class="form_field_box">
				<% if @student_info.motivation.empty? %>
					&nbsp;
				<% else %>
					<%=h @student_info.motivation %>
				<% end %>
			</div>
		</div>
	</div>
</div>
