<!-- notices/new_edit -->
<div class="full_section">
	
<% if @notice.new_record? %>
	<h1 class="full_section">New Site-Wide Notice</h1>
<% else %>
	<h1 class="full_section">Editing Site-Wide Notice</h1>
<% end %>

<%= error_messages_for :notice %>

<%
if @notice.new_record?
	url = {:controller => :notices, :action => :create}
else
	url = {:controller => :notices, :action => :update, :id => @notice.id}
end
%>

<% form_for(@notice, :url => url, :html => {:class => 'student_form'}) do |f| %>
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">Subject</div>
			<div class="form_field_box">
				<%= f.text_field :subject, :class => 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Subject</div>
			<div class="form_field_box">
				<%= f.text_area :contents, :rows => 5  %>
			</div>
		</div>
		<div class="form_submit_box">
		    <%= f.submit @notice.new_record? ? "Create" : "Update", :class => 'form_submit' %>
			or
			<%= link_to 'Go back', :controller => :notices, :action => :index %>
		</div>
	</div>
<% end %>

</div>
