<% form_for(@team_partition) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manual %><br />
    <%= f.check_box :manual %>
  </div>
  <div class="field">
    <%= f.label :frozen %><br />
    <%= f.check_box :frozen %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
