<!-- team_partitions/index -->
<div class="full_section">
  <div style="z-index: 10; float: right; width: 100px; text-align: right;">
    <h1 class="full_section">
      <%= link_to 'New', new_team_partition_path(course_id: current_course) %>
    </h1>
  </div>
  <h1 class="full_section" style="margin-right: 100px; ">
    Team Partitions
  </h1>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Assignments</td>
				<td>Teams</td>
      </tr>
    </thead>

    <tbody>
      <% @team_partitions.each do |partition| %>
        <tr>
          <td>
            <%= link_to team_partition_path(partition,
                                            course_id: partition.course) do %>
              <%= partition.name %>
            <% end %>
          </td>
          <td>
            <%= partition.assignments.map(&:name).join(', ') %>
          </td>
          <td>
            <%= link_to edit_team_partition_path(partition,
                  course_id: partition.course) do %>
              <%= edit_icon_tag %> Edit
            <% end %>
          </td>
          <td>
            <%= link_to team_partition_path(partition,
                  course_id: partition.course), method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
              <%= destroy_icon_tag %> Delete
            <% end %>
          </td>
          <td>
            <%= link_to issues_team_partition_path(partition,
                  course_id: partition.course) do %>
              Issues
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
