<!-- team_partitions/index -->
<div class="full_section">
  <div style="z-index: 10; float: right; width: 100px; text-align: right;">
    <h1 class="full_section">
      <%= link_to 'New', new_team_partition_path %>
    </h1>
  </div>
  <h1 class="full_section" style="margin-right: 100px; ">
    Team Partitions
  </h1>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Assignments</td>
				<td>Teams</td>
      </tr>
    </thead>
    
    <tbody>
      <% @team_partitions.each do |partition| %>
        <tr>
          <td><%= link_to partition.name, partition %></td>
					<td><%= link_to partition.assignments.map(&:name).join(', ') %>
          <td><%= link_to 'Show', partition %></td>
          <td><%= link_to 'Edit', edit_team_partition_path(partition) %></td>
          <td><%= link_to 'Destroy', partition, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>   
    </tbody>
  </table>
</div>
