<h2 class="title-with-actions">
  <span class="title">Team Partitions</span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to new_team_partition_path(course_id: current_course) do %>
        <%= create_icon_tag %> New
      <% end %>
    </span>
  </span>
</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignments</th>
			<th>Teams</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @team_partitions.each do |partition| %>
      <tr>
        <td>
          <%= link_to team_partition_path(partition,
                                          course_id: partition.course) do %>
            <%= partition.name %>
          <% end %>
        </td>
        <td>
          <%= partition.assignments.map(&:name).join(', ') %>
        </td>
        <td>
          <%= partition.teams.map(&:name).join(', ') %>
        </td>
        <td class="actions">
          <span class="link-button-wrapper">
            <%= link_to issues_team_partition_path(partition,
                  course_id: partition.course),
                  class: 'small warning hollow button' do %>
              <%= invalid_icon_tag %> Issues
            <% end %>
          </span>
          <span class="link-button-wrapper">
            <%= link_to edit_team_partition_path(partition,
                  course_id: partition.course), class: 'small hollow button' do %>
              <%= edit_icon_tag %> Edit
            <% end %>
          </span>
          <%= button_to team_partition_path(partition,
                course_id: partition.course), method: :delete,
                class: 'small alert hollow button',
                data: { confirm: 'Are you sure?' } do %>
            <%= destroy_icon_tag %> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
