<h2>Team Partition</h2>

<%= error_messages_for :team_partition %>

<%= form_for @team_partition do |f| %>
  <section class="fields">
    <p class="field">
      <%= f.label :name %>
      <span class="value">
        <%= f.text_field :name, placeholder: 'Project Teams', required: true %>
      </span>
    </p>

    <p class="field">
      <%= f.label :automated, 'Automated partitioning' %>
      <span class="value">
      	<% if @team_partition.new_record? %>
          <%= f.check_box :automated,
                'data-pwnfx-hide' => 'auto-partition',
                'data-pwnfx-hide-trigger' => 'checked' %>
				<% else %>
          <%= @team_partition.automated? ? 'Yes' : 'No' %>
				<% end %>
      </span>
    </p>

    <p class="field">
      <%= f.label :published %>
      <span class="value">
        <%= f.check_box :published %>
      </span>
    </p>

		<% if @team_partition.new_record? %>
    <p class="field" data-pwnfx-hide-negative="auto-partition">
      <%= f.label :optimal_size, 'Optimal team size' %>
      <span class="value">
        <%= number_field_tag :optimal_size, nil, placeholder: 3, min: 1 %>
      </span>
    </p>

    <p class="field" data-pwnfx-hide-positive="auto-partition">
      <%= f.label :clone_partition_id, 'Clone partition' %>
      <span class="value">
        <%= select_tag :clone_partition_id, options_for_select([['(none)', nil]] + TeamPartition.all.map { |p| [p.name, p.id] }) %>
      </span>
    </p>
		<% end %>
  </section>

  <p class="actions">
    <%= button_tag class: 'emphasized', type: 'submit' do %>
      <%= save_icon_tag %>
      <%= @team_partition.new_record? ? "Create" : "Update" %>
    <% end %>
  </p>
<% end %>
