<h2 class="title-with-actions">
  <span class="title"><%= @team_partition.name %></span>
  <span class="actions">
    <% if !@team_partition.editable? %>
      <%= button_to unlock_team_partition_path(@team_partition,
            course_id: @team_partition.course), method: :patch,
            class: 'hollow button', data: {
            confirm: "Really unlock #{@team_partition.name}?" } do %>
        <%= release_icon_tag %> Release Teams
      <% end %>
    <% else %>
      <%= button_to lock_team_partition_path(@team_partition,
            course_id: @team_partition.course), method: :patch,
            class: 'hollow button', data: {
            confirm: "Really lock #{@team_partition.name}?" } do %>
        <%= pull_icon_tag %> Pull Teams
      <% end %>
    <% end %>
  </span>
</h2>

<% if @team_partition.editable? %>
<%= render 'teams/form' %>
<% end %>

<br />

<section class="team-list">
  <% @team_partition.teams.each do |team| %>
  <%= render 'teams/team', team: team %>
  <% end %>
</section>
