<h2><%= @team_partition.name %></h2>

<p>
<% if !@team_partition.editable? %>
  This partition is locked. Click
  <%= link_to unlock_team_partition_path(@team_partition,
        course_id: @team_partition.course), method: :patch, data: {
        confirm: "Really unlock #{@team_partition.name}?" } do %>
    here
  <% end %>
  to unlock it.
<% else %>
  This partition is unlocked. Click
  <%= link_to lock_team_partition_path(@team_partition,
        course_id: @team_partition.course), method: :patch, data: {
        confirm: "Really lock #{@team_partition.name}?" } do %>
    here
  <% end %>
  to lock it.
<% end %>
</p>

<br />

<dl class="groups">
	<% @team_partition.teams.each do |team| %>
	<%= render team %>
	<% end %>
</dl>

<% if @team_partition.editable? %>
<h3>Add Team</h3>
<%= render 'teams/form' %>
<% end %>
