<h2><%= @team_partition.name %></h2>
  <% if !@team_partition.editable %>
  <p>
    This partition is locked. Click <%= link_to "here", unlock_partition_path(@team_partition),
        method: :post, data: { confirm: "Really unlock #{@team_partition.name}?" } %> to unlock it.
  </p>
  <% else %>
  <p>
    This partition is unlocked. Click <%= link_to "here", lock_partition_path(@team_partition),
        method: :post, data: { confirm: "Really lock #{@team_partition.name}?" } %> to lock it.
  </p>
  <% end %>
  <br />
<dl class="groups">
	<% @team_partition.teams.each do |team| %>
	<%= render team %>
	<% end %>
</dl>
<% if @team_partition.editable %>
<h3>Add Team</h3>
<%= render 'teams/form' %>
<% end %>
