<% submissions = deliverable.submissions.
      includes(:analysis, subject: [:profile, :credentials]).
      order(updated_at: :desc) %>

<span class="actions">
  <%= button_to reanalyze_deliverable_path(deliverable,
        course_id: deliverable.course), method: :post do %>
    <%= recompute_icon_tag %> Re-analyze All
  <% end %>
</span>

<ul class="dashboard-list no-bullet">
  <li>
    <span class="meter"><%= submission_count_meter_tag deliverable %></span>
    <span class="low-precision stats-summary">
      <%= submission_count_fraction_tag deliverable %>
    </span>
  </li>
</ul>

<div data-pwnfx-scope="submissions-list"
     data-pwnfx-delayed-target="submission-states">
  <%= render 'deliverables/dashboard_submission_list',
             deliverable: deliverable %>
</div>
