<div id="assignment_row_<%= div_id %>">
	<% form_for(edit, :html => {:id => "assignment_#{div_id}"}) do |f| %>
		<div style="display: none;">
			<%= hidden_field_tag :div_id, div_id %>
		</div>
		<div class="assignment_expand">
			<% if edit.new_record? %>
				+
			<% else %>
			  >
			<% end %>
		</div>
		<div class="assignment_name">
    	<%= f.text_field :name, :id => "assignment_name_#{div_id}" %>			
		</div>
		<div class="assignment_deadline">
	    <%= f.datetime_select :deadline, :use_short_month => true, :minute_step => 15, :datetime_separator => ' at ', :time_separator => ':' %>
			Accepts Feedback <%= f.check_box :accepts_feedback %>
 		</div>
		<span>
			<%= link_to_function (edit.new_record? ? 'Create' : 'Updated'), remote_function(:url => edit, :with => "Form.serialize('assignment_row_#{div_id}')") %>
			<% if edit.new_record? %>
				<%= link_to_function "Undo", update_page { |p| p["assignment_row_#{div_id}"].fade :duration => 0.2 } %> 
			<% else %>
				<%= link_to_remote "Destroy", :url => {:controller => :assignments, :action => :show, :id => edit.id, :div_id => div_id}, :method => :delete %>
			<% end %>
		</span>
		<div class="float_clearer"></div>
	<% end %>
</div>
