<div class="row">
  <div class="small-3 columns">
    <%= f.label :name, class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :name, placeholder: 'PS 1', required: true,
          autofocus: true %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :released_at, 'Release Date/Time', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.datetime_local_field :released_at,
          value: released_at_with_default(f.object), data: { pwnfx_scope: 'release',
          pwnfx_disable_positive: 'release-p' }, step: 1 %>
  </div>
  <div class="small-3 columns">
    <%= f.check_box :reset_released_at, data: { pwnfx_disable: 'release-p',
          pwnfx_disable_scope: 'release', pwnfx_disable_trigger: 'checked' } %>
    <%= f.label :reset_released_at, 'Undecided', class: 'middle' %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :due_at, 'Submission Deadline', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.datetime_local_field :due_at, step: 1, required: true %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :weight, 'Grade Weight', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.number_field :weight, min: 0, step: 0.1, required: true,
          placeholder: 1.0 %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :author_id, 'Author', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.collection_select :author_id, f.object.course.staff, :id, :name %>
  </div>
</div>

<% if f.object.exam.new_record? %>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :enable_exam, 'Enable Exam Features',
          class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.check_box :enable_exam, class: 'switch-input',
          data: { pwnfx_hide: 'enable-exam', pwnfx_hide_scope: 'exam-features',
                  pwnfx_hide_trigger: 'checked' } %>
    <%= f.label :enable_exam, nil, class: 'middle switch-paddle' do %>
      <span class="switch-active">Yes</span>
      <span class="switch-inactive">No</span>
    <% end %>
    <p class="help-text">(Cannot be disabled after saving the assignment)</p>
  </div>
</div>
<% end %>

<%= f.fields_for :exam do |ef| %>
<div class="row" data-pwnfx-hide-negative="enable-exam"
     data-pwnfx-scope="exam-features">
  <div class="small-3 columns">
    <%= ef.label :requires_confirmation, 'Session Attendance',
          class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= ef.label :requires_confirmation, class: 'check-box-label' do %>
      <span class="check-box-wrapper">
        <%= ef.check_box :requires_confirmation %>
      </span>
      <span class="label-text">
        Student attendance must be confirmed by a staff member
      </span>
    <% end %>
  </div>
</div>
<% end %>

<% if f.object.course.has_teams? %>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :team_partition_id, 'Teams', class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.select :team_partition_id,
          ([['(none)', nil]] + TeamPartition.all.map { |p| [p.name, p.id] }) %>
  </div>
</div>
<% end %>
