<%= f.text_field :name, placeholder: 'PS 1', required: true, autofocus: true,
      label: 'Name' %>

<%= f.row do %>
  <%= f.datetime_local_field :released_at,
        value: released_at_with_default(f.object), step: 1,
        data: f.optional_input_data('release'),
        label: 'Release Date/Time' %>
  <div class="columns">
    <%= f.check_box :reset_released_at,
          data: f.disable_switch_data('release'), label: 'Undecided' %>
  </div>
<% end %>

<%= f.datetime_local_field :due_at, step: 1, required: true,
      label: 'Submission Deadline' %>

<%= f.number_field :weight, min: 0, step: 0.1, required: true,
      placeholder: 1.0, label: 'Grade Weight' %>

<%= f.collection_select :author_exuid, f.object.course.staff, :to_param, :name,
      label: 'Author' %>

<% if f.object.exam && f.object.exam.new_record? %>
<%= f.row do %>
  <div class="small-3 columns">
    <%= f.label :enable_exam, 'Enable Exam Features',
          class: 'text-right middle' %>
  </div>
  <div class="small-6 columns">
    <%= f.switch_paddle :enable_exam, class: 'switch-input',
          data: { pwnfx_hide: 'enable-exam', pwnfx_hide_scope: 'exam-features',
                  pwnfx_hide_trigger: 'checked' } %>
    <%= f.label :enable_exam, nil, class: 'middle switch-paddle' do %>
      <span class="switch-active">Yes</span>
      <span class="switch-inactive">No</span>
    <% end %>
    <p class="help-text">(Cannot be disabled after saving the assignment)</p>
  </div>
<% end %>
<% end %>

<%= f.fields_for :exam do |ef| %>
<span data-pwnfx-hide-negative="enable-exam" data-pwnfx-scope="exam-features">
  <%= ef.input_field_set label: 'Session Attendance' do %>
    <%= ef.check_box :requires_confirmation,
          label: 'Student attendance must be confirmed by a staff member' %>
  <% end %>
</span>
<% end %>

<% if f.object.course.has_teams? %>
<%= f.select :team_partition_id,
      ([['(none)', nil]] + TeamPartition.all.map { |p| [p.name, p.id] }),
      label: 'Teams' %>
<% end %>
