<div class="assignment-builder" data-pwnfx-scope="assignment">
  <%= form_for assignment, url: polymorphic_path(assignment,
        course_id: assignment.course), multipart: true do |f| %>
    <%= f.error_messages %>

    <%= render 'assignments/fields', f: f %>

    <h3>Files to be Submitted</h3>
    <div class="assignment-builder-deliverables"
         data-pwnfx-render-target="proc-deliverable docker-deliverable script-deliverable">
      <%= f.fields_for :deliverables do |df| %>
        <%= render 'deliverables/fields', f: df %>
      <% end %>
    </div>
    <p class="assignment-builder-actions">
      <%= f.fields_for :analyzer do |af| %>
        <%= af.label :type, 'Analyze submitted files via: ' %>
        <%= select_tag :type, analyzer_types_for_select, data: {
              pwnfx_showif_source: 'analyzer-type' } %>
      <% end %>
      <%= button_tag data: { pwnfx_render_scope: 'assignment',
            pwnfx_render_randomize: 'IDID', pwnfx_render: 'proc-deliverable',
            pwnfx_showif: 'analyzer-type', pwnfx_showif_is: 'ProcAnalyzer',
            pwnfx_showif_scope: 'assignment',
            pwnfx_showif_replace: 'button' } do %>
        <%= create_icon_tag %> Add File
      <% end %>
      <%= button_tag data: { pwnfx_render_scope: 'assignment',
            pwnfx_render_randomize: 'IDID', pwnfx_render: 'docker-deliverable',
            pwnfx_showif: 'analyzer-type', pwnfx_showif_is: 'DockerAnalyzer',
            pwnfx_showif_scope: 'assignment',
            pwnfx_showif_replace: 'button' } do %>
        <%= create_icon_tag %> Add File
      <% end %>
      <%= button_tag data: { pwnfx_render_scope: 'assignment',
            pwnfx_render_randomize: 'IDID', pwnfx_render: 'script-deliverable',
            pwnfx_showif: 'analyzer-type', pwnfx_showif_is: 'ScriptAnalyzer',
            pwnfx_showif_scope: 'assignment',
            pwnfx_showif_replace: 'button' } do %>
        <%= create_icon_tag %> Add File
      <% end %>
    </p>

<script type="text/html" data-pwnfx-render-source="proc-deliverable">
<%= f.fields_for :deliverables, Deliverable.new(analyzer: ProcAnalyzer.new),
      child_index: 'IDID' do |df| %>
  <%= render 'deliverables/fields', f: df %>
<% end %>
</script>
<script type="text/html" data-pwnfx-render-source="docker-deliverable">
<%= f.fields_for :deliverables, Deliverable.new(analyzer: DockerAnalyzer.new),
      child_index: 'IDID' do |df| %>
  <%= render 'deliverables/fields', f: df %>
<% end %>
</script>
<script type="text/html" data-pwnfx-render-source="script-deliverable">
<%= f.fields_for :deliverables, Deliverable.new(analyzer: ScriptAnalyzer.new),
      child_index: 'IDID' do |df| %>
  <%= render 'deliverables/fields', f: df %>
<% end %>
</script>

    <h3>Resource Files</h3>
    <div class="assignment-builder-files"
         data-pwnfx-render-target="assignment-files">
      <%= f.fields_for :files do |ff| %>
        <%= render 'assignment_files/fields', f: ff %>
      <% end %>
    </div>
    <p class="assignment-builder-actions">
      <%= button_tag data: { pwnfx_render_randomize: 'IDID',
            pwnfx_render_scope: 'assignment',
            pwnfx_render: 'assignment-files' } do %>
        <%= create_icon_tag %> Add File
      <% end %>
    </p>

<script type="text/html" data-pwnfx-render-source="assignment-files">
<%= f.fields_for :files, AssignmentFile.new, child_index: 'IDID' do |ff| %>
  <%= render 'assignment_files/fields', f: ff %>
<% end %>
</script>

    <h3>Grading Breakdown</h3>
    <div class="assignment-builder-metrics"
         data-pwnfx-render-target="assignment-metrics">
      <%= f.fields_for :metrics do |mf| %>
        <%= render 'assignment_metrics/fields', f: mf %>
      <% end %>
    </div>
    <p class="assignment-builder-actions">
      <%= link_to new_assignment_metric_path(assignment_id: f.object),
            class: 'button', data: { pwnfx_render_randomize: 'IDID',
            pwnfx_render_scope: 'assignment',
            pwnfx_render: 'assignment-metrics' } do %>
        <%= create_icon_tag %> Add Item
      <% end %>
    </p>


<script type="text/html" data-pwnfx-render-source="assignment-metrics">
<%= f.fields_for :metrics, AssignmentMetric.new, child_index: 'IDID' do |mf| %>
  <%= render 'assignment_metrics/fields', f: mf %>
<% end %>
</script>

    <p class="actions">
      <%= button_tag class: 'emphasized' do %>
        <%= save_icon_tag %> Update Assignment
      <% end %>
    </p>
  <% end %>
</div>
