<div class="assignment-builder" data-pwnfx-scope="assignment">
  <%= form_for assignment, url: polymorphic_path(assignment,
        course_id: assignment.course), multipart: true,
        html: { class: 'compact edit-assignment-form' } do |f| %>
    <%= f.error_messages %>

    <%= render 'assignments/fields', f: f %>
    <%= render 'assignments/exam_builder', f: f %>
    <%= render 'assignments/deliverables_builder', f: f %>
    <%= render 'assignments/resource_files_builder', f: f %>
    <%= render 'assignments/metrics_builder', f: f %>

    <%= submit_button_tag do %>
      <%= save_icon_tag %> Update Assignment
    <% end %>
  <% end %>
</div>
