<div class="assignment-builder" data-pwnfx-scope="assignment">
  <%= form_for assignment do |f| %>
    <% if @assignment.errors.any? %>
      <div class="error-explanation">
        <p>
          <%= invalid_icon_tag %>
          <%= pluralize(@assignment.errors.count, "error") %>
          prohibited this assignment from being saved:
        </p>
  
        <ul>
        <% @assignment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'assignments/fields', f: f %>
    
    <h3>Files to be Submitted</h3>
    <div class="assignment-builder-deliverables"
         data-pwnfx-render-target="assignment-deliverables">
      <%= f.fields_for :deliverables do |df| %>
        <%= render 'deliverables/fields', f: df %>
      <% end %>
    </div>
    <p class="assignment-builder-actions">
      <%= link_to new_deliverable_path(assignment_id: f.object.id),
              :class => 'button', 'data-pwnfx-render-randomize' => 'IDID',
              'data-pwnfx-render-scope' => 'assignment',
              'data-pwnfx-render' => "assignment-deliverables" do %>
        <%= create_icon_tag %> Add File
      <% end %>
    </p>
  
<script type="text/html" data-pwnfx-render-source="assignment-deliverables">
<%= f.fields_for :deliverables, Deliverable.new, child_index: 'IDID' do |df| %>
  <%= render 'deliverables/fields', f: df %>
<% end %>    
</script>
    
    <h3>Grading Breakdown</h3>
    <div class="assignment-builder-metrics"
         data-pwnfx-render-target="assignment-metrics">
      <%= f.fields_for :metrics do |mf| %>
        <%= render 'assignment_metrics/fields', f: mf %>
      <% end %>
    </div>
    <p class="assignment-builder-actions">
      <%= link_to new_assignment_metric_path(assignment_id: f.object.id),
              :class => 'button', 'data-pwnfx-render-randomize' => 'IDID',
              'data-pwnfx-render-scope' => 'assignment',
              'data-pwnfx-render' => "assignment-metrics" do %>
        <%= create_icon_tag %> Add Item
      <% end %>
    </p>
    
  
<script type="text/html" data-pwnfx-render-source="assignment-metrics">
<%= f.fields_for :metrics, AssignmentMetric.new, child_index: 'IDID' do |mf| %>
  <%= render 'assignment_metrics/fields', f: mf %>
<% end %>    
</script>
  
    <p class="action">
      <%= button_tag do %>
        <%= save_icon_tag %> Update Assignment
      <% end %>
    </p>
  <% end %>
</div>
