<div class="assignment-builder" data-pwnfx-scope="assignment">
  <%= form_for assignment, url: polymorphic_path(assignment,
        course_id: assignment.course), multipart: true,
        html: { class: 'compact edit-assignment-form' } do |f| %>
    <%= f.error_messages %>

    <section class="basic-fields">
      <%= render 'assignments/fields', f: f %>
    </section>

    <ul class="tabs" data-tabs id="assignment-builder-tabs">
      <li class="tabs-title is-active">
        <a href="#deliverables-panel">Deliverables</a>
      </li>
      <li class="tabs-title">
        <a href="#resource-files-panel">Resource Files</a>
      </li>
      <li class="tabs-title">
        <a href="#metrics-panel">Grading Breakdown</a>
      </li>
    </ul>

    <div class="tabs-content" data-tabs-content="assignment-builder-tabs">
      <div class="tabs-panel is-active" id="deliverables-panel">
        <%= render 'assignments/deliverable_builder', f: f %>
      </div>
      <div class="tabs-panel" id="resource-files-panel">
        <%= render 'assignments/resource_file_builder', f: f %>
      </div>
      <div class="tabs-panel" id="metrics-panel">
        <%= render 'assignments/metric_builder', f: f %>
      </div>
    </div>

    <%= submit_button_tag do %>
      <%= save_icon_tag %> Update Assignment
    <% end %>
  <% end %>
</div>
