<h3 class="dashboard-heading title-with-actions">
  <span class="title">
    <%= processing_icon_tag %> Grading Process
  </span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to editor_grades_path(course_id: assignment.course,
            assignment_id: assignment) do %>
        <%= edit_icon_tag %> Enter Grades
      <% end %>
    </span>
  </span>
</h3>
<ul class="dashboard-list no-bullet">
  <li class="total">
    <span class="name">Overall</span>
    <span class="meter"><%= grading_progress_tag assignment %></span>
    <span class="low-precision stats-summary">
      <%= grading_process_fraction_tag assignment %>
    </span>
  </li>
  <% assignment.metrics.each do |metric| %>
    <li>
      <span class="name"><%= metric.name %></span>
      <span class="meter"><%= grading_progress_tag metric %></span>
      <span class="low-precision stats-summary">
        <%= grading_process_fraction_tag metric %>
      </span>
    </li>
  <% end %>
</ul>
