<section class="assignment">
  <h2 class="heading">
    <%= assignment.name %>
  
    <% if current_user.admin? %>
    <span class="actions">
      <%= link_to dashboard_assignment_path(assignment), class: 'button' do %>
        <%= dashboard_icon_tag %> Dashboard
      <% end %>
      <%= link_to edit_assignment_path(assignment), class: 'button' do %>
        <%= edit_icon_tag %> Edit
      <% end %>
    </span>
    <% end %>
  </h2>


  <p>
    Due
    <%= assignment.deadline.to_s(:deadline_long) %>
    <% if assignment.deadline >= Time.now %>
    (in <%= time_ago_in_words assignment.deadline %>)
    <% else %>
    (<%= time_ago_in_words assignment.deadline %> ago)
    <% end %>
  </p>

  <ul class="deliverables">
  <% assignment.deliverables_for(current_user).each do |deliverable| %>
    <li>
      <%= render 'deliverables/student_list_entry', deliverable: deliverable,
            submission: deliverable.submission_for(current_user) %>
    </li>
  <% end %>
  </ul>
</section>
