<h2><%= assignment.name %></h2>

<section class="assignment">
  <p>
    Due
    <%= assignment.deadline.to_s(:deadline_long) %>
    <% if assignment.deadline >= Time.now %>
    (in <%= time_ago_in_words assignment.deadline %>)
    <% else %>
    (<%= time_ago_in_words assignment.deadline %> ago)
    <% end %>
  </p>
</section>

<h3>Required Files</h3>

<ul class="deliverables">
<% assignment.deliverables_for(current_user).each do |deliverable| %>
  <li>
    <div class="summary">
      <span class="name"><%= deliverable.name %></span>
      <div class="new">
        <%= render 'submissions/form',
              :submission => Submission.new(:deliverable => deliverable) %>
      </div>
    </div>
    <p class="description"><%= deliverable.description %></p>
    <p class="submission">
      <%= render 'submissions/info',
            :submission => deliverable.submission_for(current_user) %>
    </p>
  </li>
<% end %>
</ul>
