<section class="assignment">
  <h2 class="heading">
    <%= assignment.name %>

    <% if assignment.can_edit?(current_user) %>
    <span class="actions">
      <%= link_to dashboard_assignment_path(assignment,
            course_id: assignment.course), class: 'button' do %>
        <%= dashboard_icon_tag %> Dashboard
      <% end %>
      <%= link_to edit_assignment_path(assignment,
            course_id: assignment.course), class: 'button' do %>
        <%= edit_icon_tag %> Edit
      <% end %>
    </span>
    <% end %>
  </h2>

  <section class="deadline">
    <p class="<%= deadline_class assignment, current_user %>">
      Due
      <%= assignment.due_at.to_s(:deadline_long) %>
      <%= time_delta_in_words assignment.due_at %>
    </p>
    <% if extension = current_user.extension_for(assignment) %>
    <p class="extension">
      Due
      <%= extension.due_at.to_s(:deadline_long) %>
      - Extension granted by
      <%= extension.grantor.display_name_for current_user, :long %>
    </p>
    <% end %>
  </section>

  <ul class="deliverables">
  <% assignment.deliverables_for(current_user).each do |deliverable| %>
    <li id="deliverable-<%= deliverable.to_param %>">
      <%= render 'deliverables/student_list_entry', deliverable: deliverable,
            submissions: deliverable.submissions_for(current_user).all %>
    </li>
  <% end %>
  </ul>

  <h3 class="sub-heading">Resource Files</h3>
  <% unless assignment.files_for(current_user).empty? %>
    <%= render 'assignment_files/list', assignment: assignment %>
  <% else %>
    <p>No files are available at this time.</p>
  <% end %>
</section>
