<% @assignment = show %>
<div id="assignment_row_<%= @assignment.id %>">
	<div class="assignment_expand" id="assignment_expand_<%= @assignment.id %>">
		<%= link_to_function '>', update_page { |p| p.visual_effect :toggle_appear, "assignment_deliverables_#{@assignment.id}", :duration => 0.2 } %>
	</div>
	<div class="assignment_name">
  	<%= in_place_editor_field(:assignment, :name, {}, :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
	</div>
	<div class="assignment_deadline">
		<%= time_delta(@assignment.deadline) %>
	</div>
	<div>			
    <%= link_to_remote 'Destroy', :url => show, :confirm => "Removing assignment #{@assignment.name}. Are you sure?", :method => :delete %>
	</div>
	<div class="assignment_deliverables" id="assignment_deliverables_<%= @assignment.id %>" style="display: none">
		<div>
			<%= link_to_remote 'New deliverable', :url => {:controller => :deliverables, :action => :new, :assignment_id => @assignment.id} %>
		</div>
		<div id="assignment_deliverables_listing_<%= show.id %>">
<%= render :partial => 'deliverables/show', :collection => @assignment.deliverables %>
		</div>
	</div>
	<div class="float_clearer"></div>
</div>
 
