<section class="assignment">
  <h2 class="heading">
    <%= assignment.name %>

    <% if assignment.can_edit?(current_user) %>
    <span class="actions">
      <%= link_to dashboard_assignment_path(assignment,
            course_id: assignment.course), class: 'button' do %>
        <%= dashboard_icon_tag %> Dashboard
      <% end %>
      <%= link_to edit_assignment_path(assignment,
            course_id: assignment.course), class: 'button' do %>
        <%= edit_icon_tag %> Edit
      <% end %>
    </span>
    <% end %>
  </h2>


  <p>
    Due
    <%= assignment.due_at.to_s(:deadline_long) %>
    <% if assignment.due_at >= Time.now %>
    (in <%= time_ago_in_words assignment.deadline.due_at %>)
    <% else %>
    (<%= time_ago_in_words assignment.due_at %> ago)
    <% end %>
  </p>

  <ul class="deliverables">
  <% assignment.deliverables_for(current_user).each do |deliverable| %>
    <li>
      <%= render 'deliverables/student_list_entry', deliverable: deliverable %>
    </li>
  <% end %>
  </ul>
</section>
