<h2 class="assignment-heading title-with-actions">
  <span class="title"><%= @assignment.name %></span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to assignment_path(@assignment,
            course_id: @assignment.course) do %>
        <%= role_icon_tag :student %> Student View
      <% end %>
    </span>
    <span class="link-button-wrapper">
      <%= link_to edit_assignment_path(@assignment,
            course_id: @assignment.course) do %>
        <%= edit_icon_tag %> Edit
      <% end %>
    </span>
    <%= render 'assignments/deliverable_release', assignment: @assignment %>
  </span>
</h2>

<ul class="tabs" data-tabs id="assignment-dashboard-tabs">
  <li class="tabs-title is-active">
    <a href="#overview-panel">Overview</a>
  </li>
  <% @assignment.deliverables.each do |deliverable| %>
  <li class="tabs-title">
    <%= link_to deliverable.name, '#' + deliverable_panel_id(deliverable) %>
  </li>
  <% end %>
  <li class="tabs-title">
    <a href="#extensions-panel">Extensions</a>
  </li>
</ul>

<div class="tabs-content" data-tabs-content="assignment-dashboard-tabs">
  <div class="tabs-panel is-active" id="overview-panel">
    <% if @assignment.grades.length > 0 %>
      <%= render 'assignments/grades_dashboard', assignment: @assignment %>
    <% end %>
    <% if @assignment.deadline_passed_for?(nil) &&
          current_course.students.length > 0 %>
      <%= render 'assignments/grading_process_dashboard',
            assignment: @assignment %>
    <% end %>
    <% unless @recitation_sections.empty? or @assignment.grades.empty? %>
      <%= render 'assignments/recitations_dashboard', assignment: @assignment %>
    <% end %>
    <% if @assignment.submissions.length > 0 %>
      <%= render 'assignments/submissions_dashboard', assignment: @assignment %>
    <% end %>
  </div>

  <% @assignment.deliverables.each do |deliverable| %>
  <div class="tabs-panel" id="<%= deliverable_panel_id(deliverable) %>">
    <%= render 'assignments/deliverable_dashboard', deliverable: deliverable %>
  </div>
  <% end %>

  <div class="tabs-panel" id="extensions-panel">
    <%= render 'assignments/extensions_dashboard', assignment: @assignment %>
  </div>
</div>
