<h2 class="assignment-heading">
  <%= @assignment.name %>
  <span class="actions">
    <%= link_to @assignment, class: 'button' do %>
      <%= role_icon_tag :student %> Student View
    <% end %>
    <%= link_to edit_assignment_path(@assignment), class: 'button' do %>
      <%= edit_icon_tag %> Edit
    <% end %>
    <%= render 'assignments/deliverable_release', assignment: @assignment %>
  </span>
</h2>

<% if @assignment.grades.length > 0 %>
<h3 class="dashboard-heading">
  <%= grades_icon_tag %>
  Grades
  <span class="actions">
    <%= render 'assignments/grade_release', assignment: @assignment %>
  </span>
</h3>
<ul class="dashboard-list">
  <li>
    <span class="name"><strong>Overall</strong></span>
    <%= grading_stats_tags @assignment %>
  </li>
<% @assignment.metrics.each do |metric| %>
  <li>
    <span class="name"><%= metric.name %></span>
    <%= grading_stats_tags metric %>  
  </li>
<% end %>
</ul>
<% end %>

<% if @assignment.deadline_passed_for? nil %>
<h3 class="dashboard-heading">
  <%= waiting_icon_tag %>
  Grading Process
  <span class="actions">
    <%= link_to editor_grades_path(:assignment_id => @assignment.id),
          class: 'button' do %>
      <%= edit_icon_tag %> Enter Grades
    <% end %>
  </span>  
</h3>
<ul class="dashboard-list">
  <li>
    <span class="name"><strong>Overall</strong></span>
    <%= grading_progress_tag @assignment %>
  </li>
<% @assignment.metrics.each do |metric| %>
  <li>
    <span class="name"><%= metric.name %></span>
    <%= grading_progress_tag metric %>
  </li>
<% end %>
</ul>
<% end %>

<h3 class="dashboard-heading">
  <%= grades_icon_tag %>
  Recitation Grades
</h3>

<ul class="dashboard-list">
  <% @recitation_sections.each do |recitation| %>
    <li>
      <span class="name"><strong><%= recitation.recitation_name %></strong></span>
      <%= grading_recitation_tags(@assignment, recitation) %>  
    </li>
  <% end %>
</ul>

<h3 class="dashboard-heading">
  <%= homework_icon_tag %>
  Submissions
  <%= submissions_progress_tag @assignment %>  
</h3>
<ul class="dashboard-list">
<% @assignment.deliverables.each do |deliverable| %>
  <li>
    <h4 class="dashboard-heading">
      <%= upload_icon_tag %>
      <span class="name"><%= deliverable.name %></span>
      <span class="actions">
        <%= link_to reanalyze_deliverable_path(deliverable), method: :post,
                    class: 'button' do %>
          <%= recompute_icon_tag %> Re-analyze All
        <% end %>
      </span>
      <%= submissions_progress_tag deliverable %>
    </h4>
    <div data-pwnfx-scope="submissions-list"
         data-pwnfx-delayed-target="submission-states">
      <%= render 'deliverables/submission_list', deliverable: deliverable %>
    </div>  
  </li>
<% end %>
</ul>
