<h2 class="assignment-builder-heading title-with-actions">
  <span class="title">Assignment Builder</span>

  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to dashboard_assignment_path(@assignment,
            course_id: @assignment.course) do %>
        <%= dashboard_icon_tag %> Dashboard
      <% end %>
    </span>
    <span class="link-button-wrapper">
      <%= link_to assignment_path(@assignment,
            course_id: @assignment.course) do %>
        <%= submissions_icon_tag %> Submission View
      <% end %>
    </span>
  </span>
</h2>

<%= render 'assignments/form', assignment: @assignment %>
