<h3>Dear <%= @token.user.email%>,</h3>

<p>
You are receiving this e-mail because someone (hopefully you) registered on
<%= link_to "the #{@course.number} server", @server_url %> claiming to have your
e-mail address.
</p>

<p>
Please make sure that you have indeed registered with the login name below:
</p>
<h2><%= @token.user.name %></h2>

<p>
If this is true, you can go
<%= link_to 'here', @token_url %>
to confirm that you own this e-mail address.
</p>

<p>
If you haven't registered on
<%= link_to "the #{@course.number} server", @server_url %>,
or the login name above does not belong to you, you don't need to do anything.
Most probably, someone mistyped their e-mail. If you receive many e-mails like
this, e-mail
<%= link_to "#{@course.number}-tas@mit.edu",
            "mailto:#{@course.number}-tas@mit.edu" %>,
and we'll address the problem.
</p>

<p>
Welcome to <%= @course.number %>!
</p>
