<!-- recitation_assignment_proposals/index -->
<div class="full_section">

	<div style="z-index: 10; float: right; width: 275; text-align: left;">
    <h3><%= link_to 'Recitations', recitation_sections_path %></h3>
    <h3>
      <%= link_to 'Generate New Proposal', autoassign_recitation_sections_path, method: :post %>
    </h3>
	</div>

	<h1 class="full_section">Recitation Assignment Proposals</h1>

	<table>
		<thead>
		  <tr>
		    <td style="text-align: left; width: 130px;">Recitation Size</td>
        <td style="text-align: left; width: 100px;"># Recitations</td>
		    <td style="text-align: left; width: 100px;"># Conflicts</td>
        <td style="text-align: left; width: 300px;">Date Created</td>
		  </tr>
		</thead>

		<tbody>
			<% for partition in @partitions %>
			  <tr>
          <td><%= partition.section_size %></td>
          <td><%= partition.section_count %></td>
          <td><%= partition.conflict_count %></td>
          <td><%= partition.created_at.strftime "%B %d, %Y %I:%M%p" %></td>
          <td><%= link_to 'Show', partition %></td>
          <td>
            <%= link_to 'Destroy', partition, confirm: 'Are you sure?',
                                              method: :delete %>
          </td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
