<h2 class="title-with-actions">
  <span class="title">Recitation Assignment Proposals</span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to recitation_sections_path(course_id: current_course),
            class: 'hollow button' do %>
        <%= list_icon_tag %> All Recitations
      <% end %>
    </span>
    <%= button_to autoassign_recitation_sections_path(
          course_id: current_course), method: :post,
          class: 'hollow button' do %>
      <%= build_icon_tag %> Generate New Proposal
    <% end %>
  </span>
</h2>

<table id="extensions-table">
  <thead>
    <tr>
      <th>Recitation Size</th>
      <th># Recitations</th>
      <th># Conflicts</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partitions.each do |partition| %>
      <tr>
        <td><%= partition.section_size %></td>
        <td><%= partition.section_count %></td>
        <td><%= partition.conflict_count %></td>
        <td><%= partition.created_at.to_s(:submission_short) %></td>
        <td class="actions">
          <%= button_to recitation_partition_path(partition,
                course_id: partition.course), method: :get,
                class: 'hollow small button' do %>
            <%= view_icon_tag %> Details
          <% end %>
          <%= button_to recitation_partition_path(partition,
                course_id: partition.course), method: :delete,
                class: 'hollow small alert button',
                data: { confirm: 'Are you sure?' } do %>
            <%= destroy_icon_tag %> Discard
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
