<div class="full_section">
  <div style="z-index: 10; float: right; width: 275; text-align: left;">
    <h3>
      <%= link_to recitation_partitions_path(
            course_id: @partition.course) do %>
        Recitation Proposals
      <% end %>
    </h3>
    <h3>
      <%= link_to implement_recitation_partition_path(@partition,
            course_id: @partition.course), method: :post,
            data: { confirm: "This will overwrite all current recitation assignments" } do %>
        Implement
      <% end %>
    </h3>
  </div>

  <h2 class="full_section">Recitation Assignment Proposal</h2>

  <h4>
    Created: <%= @partition.created_at.strftime '%B %d, %Y %I:%M%p' %>
  </h4>
  <h4>
    Recitations: <%= @partition.section_count %>
  </h4>

  <ol class="recitation-assignments">
  <% @partition.recitation_assignments.group_by(&:recitation_section).
        each do |section, assignments| %>
    <li>
      <h4 class="recitation-section-name">
        <%= recitation_name_label section %>
        <%= assignments.length %>
      </h4>
      <h5>
        <%= render 'time_slots/list', time_slots: section.time_slots %>
      </h5>

      <ol class="recitation-section">
      <% assignments.each do |assignment| %>
        <li class="recitation-section-student">
          <%= link_to assignment.user.name, assignment.user %>
        </li>
      <% end %>
      </ol>
    </li>
  <% end %>
  </ol>
</div>
