<h2 class="title-with-actions">
  <span class="title">Recitation Assignment Proposal</span>
  <span class="actions">
    <span class="link-button-wrapper">
      <%= link_to recitation_partitions_path(course_id: @partition.course),
            class: 'hollow button' do %>
        <%= list_icon_tag %> All Recitation Proposals
      <% end %>
    </span>
    <%= button_to implement_recitation_partition_path(@partition,
          course_id: @partition.course), method: :post,
          class: 'hollow success button',
          data: { confirm: "This will overwrite all current recitation assignments" } do %>
      <%= build_icon_tag %> Implement!
    <% end %>
  </span>
</h2>

<section class="proposal-details">
  <div class="detail">
    <span class="name">
      Created:
    </span>
    <span class="value">
      <%= @partition.created_at.strftime '%B %d, %Y %I:%M%p' %>
    </span>
  </div>
  <div class="detail">
    <span class="name">
      Recitations:
    </span>
    <span class="title">
      <%= @partition.section_count %>
    </span>
  </div>
</section>

<ol class="proposed-section-list no-bullet">
<% @partition.recitation_assignments.includes(:user).
      group_by(&:recitation_section).each do |section, assignments| %>
  <li class="proposed-section-roster">
    <h4 class="recitation-section-name">
      <%= recitation_name_label section %>
      (<%= assignments.length %> students)
    </h4>
    <%= render 'time_slots/list', time_slots: section.time_slots %>

    <ol class="recitation-section no-bullet">
    <% assignments.sort_by { |a| a.user.name }.each do |assignment| %>
      <li class="recitation-section-student">
        <%= link_to assignment.user.name, assignment.user %>
      </li>
    <% end %>
    </ol>
  </li>
<% end %>
</ol>
