<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<%= render 'menu/homework' %>
<li>
  <%= link_to editor_grades_path do %>
    <%= grades_icon_tag %> Grades
  <% end %>
  <ol>
    <li>
      <%= link_to editor_grades_path do %>
        <%= edit_icon_tag %> Enter Grades
      <% end %>
    </li>
    <li>
      <%= link_to request_package_submissions_path do %>
        <%= download_icon_tag %> Get Submissions
      <% end %>
    </li>
    <li>
      <%= link_to request_missing_grades_path do %>
        <%= search_icon_tag %> Missing Grades
      <% end %>
    </li>
    <li>
      <%= link_to request_report_grades_path do %>
        <%= report_icon_tag %> Grade Spreadsheet
      <% end %>
    </li>
  </ol>
</li>
<% if Course.main.has_surveys? %>
<li>
  <%= link_to 'Surveys', root_path(:flavor => :survey_answer) %>
</li>
<% end %>
<li>
  <%= link_to root_path do %>
    <%= role_icon_tag(:staff) %> Course
  <% end %>
  <ol>
    <li>
      <%= link_to edit_course_path(Course.main) do %>
        <%= config_icon_tag %> Course Info
      <% end %>
    </li>
    <li>
      <%= link_to prerequisites_path do %>
        <%= edit_icon_tag %> Prerequisites
      <% end %>
    </li>
    <li>
      <%= link_to assignments_path do %>
        <%= homework_icon_tag %> Assignments
      <% end %>
    </li>
    <li>
      <%= link_to registrations_path do %>
        <%= role_icon_tag :student %> Students
      <% end %>
    </li>
    <% if Course.main.has_teams? %>
    <li>
      <%= link_to team_partitions_path do %>
        <%= role_icon_tag :team %> Teams
      <% end %>
    </li>
    <% end %>
  </ol>
</li>
<li>
  <%= link_to root_path do %>
    <%= tools_icon_tag %> Tools
  <% end %>
  <ol>
    <% if Course.main.has_recitations? %>
    <li>
      <%= link_to 'Recitations', recitation_sections_path %>
    </li>
    <% end %>
    <% if Course.main.has_surveys? %>
    <li>
      <%= link_to 'Surveys', survey_questions_path %>
    </li>
    <% end %>

    <li>
      <%= link_to 'Submissions', submissions_path %>
    </li>
    <% if Course.main.has_surveys? %>
    <li>
      <%= link_to 'Survey Answers', survey_answers_path %>
    </li>
    <% end %>

    <li>
      <%= link_to users_path do %>
        <%= contacts_icon_tag %> Site Users
      <% end %>
    </li>
  </ol>
</li>
