<li>
  <%= link_to root_path do %>
    <%= role_icon_tag(:staff) %> Course
  <% end %>
  <ol>
    <li>
      <%= link_to edit_course_path(Course.main) do %>
        <%= config_icon_tag %> Course Info
      <% end %>
    </li>
    <li>
      <%= link_to prerequisites_path do %>
        <%= edit_icon_tag %> Prerequisites
      <% end %>
    </li>
    <li>
      <%= link_to role_requests_path do %>
        <%= role_icon_tag :staff %> Staff
      <% end %>
    </li>
    <li>
      <%= link_to assignments_path do %>
        <%= homework_icon_tag %> Assignments
      <% end %>
    </li>
    <li>
      <%= link_to registrations_path do %>
        <%= role_icon_tag :student %> Students
      <% end %>
    </li>
    <% if Course.main.has_teams? %>
    <li>
      <%= link_to team_partitions_path do %>
        <%= role_icon_tag :team %> Teams
      <% end %>
    </li>
    <% end %>
    <% if Course.main.has_recitations? %>
    <li>
      <%= link_to recitation_sections_path do %>
        <%= recitation_icon_tag %> Recitations
      <% end %>
    </li>
    <% end %>
    <% if Course.main.has_surveys? %>
    <li>
      <%= link_to 'Surveys', survey_questions_path %>
    </li>
    <% end %>
    <% if Course.main.has_surveys? %>
    <li>
      <%= link_to 'Survey Answers', survey_answers_path %>
    </li>
    <% end %>

  </ol>
</li>
