<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<%= render 'menu/homework' %>
<%= render 'menu/grades' %>
<%= render 'menu/course' %>
<li>
  <%= link_to root_path do %>
    <%= tools_icon_tag %> Admin
  <% end %>
  <ol>
    <li>
      <%= link_to courses_path do %>
        <%= course_list_icon_tag %> Courses
      <% end %>
    </li>
    <li>
      <%= link_to email_resolvers_path do %>
        <%= email_resolvers_icon_tag %> E-mail Resolvers
      <% end %>
    </li>
    <li>
      <%= link_to edit_smtp_server_path do %>
        <%= send_email_icon_tag %> SMTP Server
      <% end %>
    </li>
    <li>
      <%= link_to users_path do %>
        <%= contacts_icon_tag %> Site Users
      <% end %>
    </li>
    <li>
      <%= link_to jobs_path do %>
        <%= background_jobs_tag %> Background Jobs
      <% end %>
    </li>
  </ol>
</li>
