<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<%= render 'menu/homework' %>
<%= render 'menu/grades' %>
<%= render 'menu/course' %>
<li>
  <%= link_to root_path do %>
    <%= tools_icon_tag %> Admin
  <% end %>
  <ol>
    <li>
      <%= link_to courses_path do %>
        Courses
      <% end %>
    </li>
    <li>
      <%= link_to email_resolvers_path do %>
        E-mail Resolvers
      <% end %>
    </li>
    <li>
      <%= link_to 'Submissions', submissions_path(course_id: Course.main) %>
    </li>

    <li>
      <%= link_to users_path do %>
        <%= contacts_icon_tag %> Site Users
      <% end %>
    </li>
  </ol>
</li>
