<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<%= render 'menu/homework' %>
<li>
  <%= link_to grades_path do %>
    <%= grades_icon_tag %> Grades
  <% end %>
</li>
<% if current_course.has_surveys %>
<li>
  <%= link_to 'Surveys', surveys_path(course_id: current_course) %>
</li>
<% end %>
<% if current_course.has_teams %>
<li>
  <%= link_to 'Teams', teams_student_path %>
</li>
<% end %>
<li>
  <%= link_to registration_path(
        current_user.registration_for(current_course),
        course_id: current_course) do %>
    Registration
  <% end %>
<li>
