<li>
  <%= link_to assignments_path do %>
    <%= homework_icon_tag %> Homework
  <% end %>
  <ol>
    <li>
      <%= link_to new_assignment_path do %>
        <%= create_icon_tag %> Add Homework
      <% end %>
    </li>
    <% assignments_for(current_user).each do |assignment| %>
    <li>
      <%= assignment_state_icon_tag assignment.ui_state_for(current_user) %>
      <% if current_user.admin? %>
        <%= link_to assignment.name, edit_assignment_path(assignment) %>
      <% else %>
        <%= link_to assignment.name, assignment %>
      <% end %>
    </li>
    <% end %>
  </ol>
</li>
