<%= render "menu/for_#{menu_type(current_user, Course.main)}" %>

<li>
  <%= link_to current_user do %>
    <%= user_image_tag current_user %>
    <span>
      <%= current_user.name %> &#x25bc;
    </span>
  <% end %>
  <ol>
    <li>
      <%= link_to 'Profile', current_user %>
    </li>
    <% if current_user.registration %>
    <li>
      <%= link_to current_user.registration do %>
        Registration
      <% end %>
    <li>
    <% end %>
    <li>
      <%= link_to 'Change Password', change_password_session_path %>
    </li>
    <li>
      <%= link_to 'Sign out', session_path, :method => :delete %>
    </li>
  </ul>
</li>
