<li>
  <%= link_to root_path do %>
    <%= feed_icon_tag %> Activity
  <% end %>
</li>
<%= render 'menu/homework' %>
<li>
  <%= link_to grades_path do %>
    <%= grades_icon_tag %> Grades
  <% end %>
</li>
<% if Course.main.has_surveys %>
<li>
  <%= link_to 'Surveys', root_path(:flavor => :survey_answer) %>
</li>
<% end %>
