<div style="z-index: 10; float: right; text-align: right;">
	<h2>
		<%= link_to new_assignment_metric_path, :class => 'button' do %>
		  New
		<% end %>
	</h2>
</div>
<h2>
	Assignment Metrics
</h2>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Name</th>
      <th>Max score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @assignment_metrics.each do |metric| %>
    <tr>
      <td>
        <%= link_to metric.assignment.name, metric.assignment %>
      </td>
      <td>
        <%= metric.name %>
      </td>
      <td>
        <%= metric.max_score %>
      </td>
      <td>
        <% if metric.safe_to_destroy? %>
          <%= link_to 'Remove', metric, :method => :delete, :class => 'button' %>
        <% else %>
          <%= link_to 'Remove', metric, :method => :delete, :class => 'button',
                  :confirm => "Really remove all grades for #{metric.assignment.name} #{metric.name}?" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
