<h3>Dear <%= @token.user.name %>,</h3>

<p>
You are receiving this e-mail because someone (hopefully you) claimed you
have lost your
<%= link_to "#{@course.number} server", @root_url %> password.
</p>

<p>
Please go
<%= link_to 'here', @token_url %>
to the address below to reset your password.
</p>

<p>
If you haven't requested help recovering your
<%= link_to "#{@course.number} server", @root_url %> password, you don't need to
do anything. Most probably, someone mistyped their e-mail. If you receive many
e-mails like this, e-mail
<%= link_to @course.email, "mailto:#{@course.email}" %>, and we'll address the
problem.
</p>

<p>
Thank you for your interest in <%= @course.number %>!
</p>
