<div id="checker_for_submission_<%= deliverable.id %>">
	<%= form_for(deliverable.submission_checker ||
               SubmissionChecker.new(:deliverable => deliverable),
               :url => update_deliverable_submission_checker_path(deliverable),
               :html => {:multipart => true, :method => :put,
                         :id => "submission_checker_#{deliverable.id}"}) do |f| %>
		<div style="display: none;">
			<%= f.hidden_field :deliverable_id, :id => "submission_checker_id_#{deliverable.id}" %>
		</div>
		<div class="deliverable_name">
			Validator: <%= f.select :type, [['Built-in', 'ProcChecker'], ['Script Package', 'ScriptChecker']], {}, :id => "submission_checker_type_#{deliverable.id}", :class => 'form_field' %>			
		</div>
		<div class="deliverable_description">
			<div id="submission_checker_rpkg_<%= deliverable.id %>" style="display: none;">
				URL: <%= f.text_field :pkg_uri, :class => 'form_field', :id => "submission_checker_uri_#{deliverable.id}" %>
			</div>
			<div id="submission_checker_upkg_<%= deliverable.id %>" style="display: none;">
				Script: <%= f.file_field :pkg, :class => 'form_field', :id => "submission_checker_file_#{deliverable.id}" %>
				<% if deliverable.submission_checker.instance_of? ScriptChecker %>
					<br />
					Old script: <%= link_to "#{deliverable.submission_checker.db_file.f.original_filename} (#{number_to_human_size deliverable.submission_checker.db_file.f.size})", contents_submission_checker_path(deliverable.submission_checker) %>
				<% end %>
			</div>
			<div id="submission_checker_rupkg_<%= deliverable.id %>" style="display: none">
				<div>
					Timelimit: <%= f.text_field :time_limit, :class => 'form_field', :id => "submission_checker_timeout_#{deliverable.id}", :size => 3 %> s 
				</div>									
			</div>
			<div id="submission_checker_bin_<%= deliverable.id %>" style="display: none;">
					<%= f.select :message_name, [['PDF checker', 'validate_pdf']], {}, :class => 'form_field', :id => "submission_checker_message_#{deliverable.id}" %>
			</div>
		</div>

<%= javascript_tag <<JS_END
	submission_checker_update_visiblity('#{deliverable.id}');
JS_END
%>

	<%= observe_field "submission_checker_type_#{deliverable.id}", :frequency => 0.2, :function => "submission_checker_update_visiblity('#{deliverable.id}');" %>

		<div>
			<%= f.submit 'Save', :id => "submission_checker_submit_#{deliverable.id}" %>
		</div>
		<div class="float_clearer"></div>
	<% end %>
</div>
