<%= form_for @survey_answer,
             :html => { :class => 'new-survey-answer-form' } do |f| %>
  <dl>
    <dt><%= f.label :assignment_id, 'For' %></dt>
    <dd>
      <%= f.select :assignment_id, @assignments.map { |a| [a.name, a.id] } %>
      <span id="survey-answer-ajax-indicator">
      </span>
    </dd>
  </dl>
<% end %>
  
<%= observe_field 'survey_answer_assignment_id',
      :url => new_survey_answer_path, :method => :get, :frequency => 0.5,
      :before => update_page { |p|
          p.replace_html 'survey-answer-ajax-indicator',
                         image_tag('ajax-loader.gif')
      },
      :with => "'survey_answer[assignment_id]=' + encodeURIComponent(value)" %>         

<%= error_messages_for :survey_answer %>

<%= form_for @survey_answer,
             :html => {:class => 'new-survey-answer-form'} do |f| %>
	<%= f.hidden_field :assignment_id %>	
	
	<% last_target_user = nil %>
	<dl>
	<% f.fields_for :answers do |a| %>
	
	<% if last_target_user != a.object.target_user %>
	<% last_target_user = a.object.target_user %>
	</dl>
	<h3>
	 	<%= user_image_tag last_target_user %>				
	  <%= last_target_user.display_name_for @s_user %>
	</h3>
	<dl>
	<% end %>
	
	<dt>
		<%= a.hidden_field :question_id %>		
		<% if last_target_user %>
      <%= a.hidden_field :target_user_id %>
		<% end %>
    <% question = a.object.question %>
    <%= question.human_string %>
	</dt>		
	<dd>
		<% if question.scaled? %>
		  <%= question.scale_min_label %>
			<% question.scale_min.upto(question.scale_max) do |scale_index| %>
			  <%= a.radio_button :number, scale_index.to_f %>
			<% end %>
			<%= question.scale_max_label %>
		<% else %>
    	<%= a.text_field :number, :size => 8 %>
    <% end %>
	</dd>

  <% if question.allows_comments? %>
	  <dt>
      <%= question.human_string %> - comments
    </dt>
    <dd><%= a.text_area :comment, :rows => 5 %></dd>
  </div>
  <% end %> 
  </dd>


  <% end %>
	</dl>
		
  <%= f.submit(@survey_answer.new_record? ? "Submit" : "Update") %>
<% end %>
</div>
