<div class="full_section">
	
<h3 class="full_section">Feedback for <%= @survey_answer.assignment.name %></h1>

<div class="student_form">
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">From</div>
			<div class="form_field_box">
				<%=h display_name_for_user(@survey_answer.user, :long) %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Time spent</div>
			<div class="form_field_box">
				<%=h @survey_answer.hours %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Difficulty</div>
			<div class="form_field_box">
				<%=h @survey_answer.difficulty_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Theory</div>
			<div class="form_field_box">
				<%=h @survey_answer.theory_quant_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Coding</div>
			<div class="form_field_box">
				<%=h @survey_answer.coding_quant_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Comments</div>
			<div class="form_field_box">
			  <%=h @survey_answer.comments %>
			</div>
		</div>
		<div class="form_submit_box">
			<%= link_to 'Go back', :controller => :survey_answers, :action => :index %>
		</div>						
	</div>
</div>
