<%= form_for(@feedback_question_set,
             :html => {:class => 'student_form'}) do |f| %>
  <%= f.error_messages %>
  
  <div class="form_box">
    <div class="form_entry">
      <div class="form_label">
        <%= f.label :name, 'Name' %>
      </div>
      <div class="form_field_box">
        <%= f.text_field :name, :class => 'form_field' %>
      </div>
    </div>    
    
    <div class="form_submit_box">
      <%= f.submit((@feedback_question_set.new_record? ? "Add Questions" : "Update"),
                   :class => 'form_submit') %>
      or
      <%= link_to 'Go back', feedback_questions_path %>
    </div>
  </div>
<% end %>
