<!-- feedback_question_sets/edit -->
<div class="full_section">
  <h1 class="full_section">Editing Feedback Question Set</h1>

<%= render 'feedback_question_sets/form' %>
</div>

<div class="full_section">
  <h1 class="full_section">Included Questions</h1>
  
  <% if @feedback_question_set.questions.empty? %>
  <p>This question set is empty.</p>
  <% else %>
  <table style="width: 100%;">
    <thead>
      <th>Question</th>
      <th>Scaling</th>      
    </thead>
    <tbody>
      <% @feedback_question_set.questions.each do |question| %>
      <tr>        
        <td>
          <%= question.targets_user? ? 'User' : 'Assignment' %>:
          <%= question.human_string %>
        </td>
        <td>
          <% if question.scaled? %>
          <%= question.scale_min %> (<%= question.scale_min_label %>) -
          <%= question.scale_max %> (<%= question.scale_max_label %>)
          <% else %>
            None.
          <% end %>
        </td>
        <td>
          <% form_tag remove_question_feedback_question_set_path(@feedback_question_set), :method => :delete do |f| %>
            <%= hidden_field_tag :question_id, question.id %>
            <%= submit_tag 'Remove Question' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

<div class="full_section">
  <h1 class="full_section">Available Questions</h1>
	
	<% available_questions = @feedback_questions - @feedback_question_set.questions %>
	
	<% if available_questions.empty? %>
	<p>This question set contains all possible questions.</p>
	<% else %>
	<table style="width: 100%;">
		<thead>
			<th>Question</th>
			<th>Scaling</th>			
		</thead>
		<tbody>
			<% available_questions.each do |question| %>
			<tr>				
				<td>
					<%= question.targets_user? ? 'User' : 'Assignment' %>:
					<%= question.human_string %>
				</td>
				<td>
					<% if question.scaled? %>
	        <%= question.scale_min %> (<%= question.scale_min_label %>) -
	        <%= question.scale_max %> (<%= question.scale_max_label %>)
					<% else %>
					  None.
					<% end %>
				</td>
				<td>
					<% form_tag add_question_feedback_question_set_path(@feedback_question_set) do |f| %>
					  <%= hidden_field_tag :question_id, question.id %>
						<%= submit_tag 'Add Question' %>
					<% end %>
				</td>
      </tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
</div>
