<!-- health/show -->
<div class="full_section">	
	<h3 class="full_section">Process <% @process.pid %></h3>
	
	<!-- <%= @process.to_s %> -->
	
<div class="health_form">
	<%= form_tag({:controller => :health, :action => :destroy, :id => @process.pid}, :method => :delete, :class => 'health_form') do %>
		<% @process.members.each do |m| %>
			<div class="form_entry">
				<div class="form_label"><%=h m %></div>
				<div class="form_field_box">
					<%=h(@process.send(m.to_sym).to_s.empty? ? 'N/A' : @process.send(m.to_sym).to_s) %>
				</div>
			</div>
		<% end %>
		<div class="form_submit_box">
		  <%= submit_tag "Kill", :method => :delete, :class => 'form_submit', :id => 'kill_submit_button' %>
			or
			<%= link_to 'Go back', :controller => :health, :action => :index %>
		</div>		
	<% end %>
</div>
