<!-- health/system_stat -->
<div class="full_section">	
	<h3 class="full_section">Server</h3>
	<div class="health_form">
		<div class="form_box">
				<div class="form_entry">
					<div class="form_label">Load average</div>
					<div class="form_field_box">
						<%= "#{'%2.2f' % @server[:load][0]} #{'%2.2f' % @server[:load][1]} #{'%2.2f' % @server[:load][2]}" %>
					</div>
				</div>
				<div class="form_entry">
					<div class="form_label">Uptime</div>
					<div class="form_field_box">
						<%= "#{@server[:uptime][0]} days, #{@server[:uptime][1]} hours, #{@server[:uptime][2]} minutes, #{@server[:uptime][3]} seconds" %>
					</div>
				</div>
			<% [['Node', :node_name], ['OS', :os_name], ['OS Release', :os_release], ['OS Version', :os_ver], ['OS Architecture', :os_arch], ['Booted', :boot_time]].each do |e| %>
				<div class="form_entry">
					<div class="form_label"><%= e.first %></div>
					<div class="form_field_box">
						<%=h @server[e.last] || 'N/A' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
	
<% @cpus.each_with_index do |cpu, index| %>
	<div class="full_section">
		<h3 class="full_section">CPU <%= index %></h3>
		<div class="health_form">
			<div class="form_box">
				<% [['Architecture', :arch], ['Class', :class], ['Model', :model], ['Frequency', :freq], ['Cores', :cores]].each do |e| %>
					<div class="form_entry">
						<div class="form_label"><%= e.first %></div>
						<div class="form_field_box">
							<%=h cpu[e.last] || 'N/A' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

