<div id="deadlines-sidebar">
  <h3>Deadlines</h3>

  <ol class="deadline-list no-bullet">
  <% ActionItem.for(current_user, current_course).each do |item| %>
    <li class="deadline-<%= item.state %>">
      <div class="deadline-indicator">
        <%= deadline_state_icon_tag item.state %>
      </div>
      <div class="task">
        <div class="main-task task-link">
          <%= link_to item.subject.name,
                polymorphic_path(item.subject, course_id: item.subject.course) %>
          <%= "(#{item.subject.course.number})" unless current_course %>
        </div>
        <% if item.subject.instance_of? Assignment %>
          <div class="sub-task task-link">
            <%= link_to item.description, self.send(*item.link) %>
          </div>
        <% end %>
      </div>
      <div class="date" title="<%= item.due_at.to_s(:deadline_long) %>">
        <%= item.due_at.to_s(:deadline_short) %>
      </div>
    </li>
  <% end %>
  </ol>
</div>
