<% if @redirect_url %>
<p>
  We need you to log in before we can show you the page that you are trying to
  view.
</p>
<% end %>

<%= form_for @session, url: session_path do |f| %>
  <section class="fields">
    <p class="field">
      <%= f.label :email, 'Email Address' %>
      <span class="value">
        <%= f.email_field :email %>
      </span>
    </p>

    <p class="field">
      <%= f.label :password %>
      <span class="value">
        <%= f.password_field :password %>
      </span>
    </p>
  </section>

  <p class="actions">
    <%= f.button 'Log in', name: 'login', value: 'requested',
            class: 'emphasized' %>
    <%= f.button 'Reset Password', name: 'reset_password', value: 'requested',
            formaction: reset_password_session_path %>
  </p>
  <% if @redirect_url %>
  <%= hidden_field_tag :redirect_url, @redirect_url %>
  <% end %>
<% end %>
