<% if current_user %>
  <%= render :partial => 'session/deadlines' %>
  <%= render :partial => 'layouts/groups' %>
<% else %>
  <h2>Welcome</h2>
  <p>
    This is the homework submission website for MIT course
    <%= Course.main.number %>, <%= Course.main.title %>.
  </p>
  <%= render :partial => 'session/deadlines' %>
<% end %>
