<% if current_user %>
  <%= render 'session/deadlines' %>
  <%= render 'layouts/groups' %>
<% else %>
  <h2>Welcome</h2>

  <% if current_course %>
  <p>
    This is the homework submission website for MIT course
    <%= current_course.number %>, <%= current_course.title %>.
  </p>
  <%= render 'session/deadlines' %>
  <% end %>
<% end %>
