<h2>API Token</h2>

<p class="lead">
  Use the API token below to allow third-party applications to interact with
  your Igor account. This is your personal token, so keep it discrete and use it
  only with applications that you trust. If you accidentally expose your token,
  generate a new token to replace it.
</p>

<div id="api-token-actions">
  <div class="input-group">
    <%= text_field_tag 'api_token', current_user.api_token, readonly: true,
          class: 'input-group-field' %>
    <%= button_tag type: 'button', class: 'input-group-button',
                   data: { clipboard_target: '#api_token' } do %>
      <%= clipboard_copy_icon_tag %>
    <% end %>
  </div>

  <span class="link-button-wrapper">
    <%= link_to destroy_api_token_session_path, method: :delete do %>
      <%= refresh_icon_tag %> Regenerate token
    <% end %>
  </span>
</div>

<p>
  The site's public API is documented <%= link_to 'here', api_docs_path %>.
</p>
