<h2>Change Password</h2>

<% if @credential.updated_at %>
<p class="password_age_notice">
  Your have been using the same password for
  <span class="password_age">
    <%= time_ago_in_words @credential.updated_at, include_seconds: true %>.
  </span>
</p>
<% end %>

<%= form_for @credential, url: change_password_session_path,
                          as: :credential, method: :post do |f| %>
  <%= f.error_messages %>

  <section class="fields">
    <% unless @credential.new_record? %>
    <p class="field">
      <%= f.label :old_password, 'Current Password' %>
      <span class="value">
        <%= f.password_field :old_password %>
      </span>
    </p>
    <% end %>

    <p class="field">
      <%= f.label :password, 'New Password' %>
      <span class="value">
        <%= f.password_field :password, :required => true,
                :placeholder => 'be clever',
                'data-pwnfx-confirm' => 'new-password' %>
      </span>
      <span class="comment" id="user_form_password_secure">
      </span>
    </p>

    <p class="field">
      <%= f.label :password_confirmation, 'Re-enter Password' %>
      <span class="value">
        <%= f.password_field :password_confirmation, :required => true,
             :placeholder => 'can you type that again?',
             'data-pwnfx-confirm' => 'new-password' %>
      </span>
      <span class="comment">
        <span data-pwnfx-confirm-win="new-password">
          <%= valid_icon_tag %>
        </span>
        <span data-pwnfx-confirm-fail="new-password">
          <span class="error-text"><%= invalid_icon_tag %> does not match</span>
        </span>
      </span>
    </p>
  </section>

  <p class="actions">
    <%= f.submit 'Change Password', class: 'emphasized' %>
  </p>
<% end %>
