<h2>Password Reset</h2>

<% if @credential.updated_at %>
<p class="lead password_age_notice">
  Your have been using the same password for
  <span class="password_age">
    <%= time_ago_in_words @credential.updated_at, include_seconds: true %>.
  </span>
</p>
<% end %>

<%= foundation_form_for @credential, url: change_password_session_path,
                          as: :credential, method: :post do |f| %>

  <% unless @credential.new_record? %>
    <%= f.password_field :old_password, label: 'Current Password' %>
  <% end %>

  <%= f.password_field :password, required: true, placeholder: 'be clever',
        data: { pwnfx_confirm: 'new-password' }, label: 'New Password' %>

  <%= f.row do %>
    <%= f.password_field :password_confirmation, required: true,
          placeholder: 'can you type that again?',
          data: { pwnfx_confirm: 'new-password' }, label: 'Re-enter Password' %>
    <div class="columns">
      <span class="error-text middle" data-pwnfx-confirm-win="new-password">
        <%= valid_icon_tag %> matches
      </span>
      <span class="error-text middle" data-pwnfx-confirm-fail="new-password">
        <%= invalid_icon_tag %> does not match
      </span>
    </div>
  <% end %>

  <%= submit_button_tag do %>
    <%= save_icon_tag %> Save New Password
  <% end %>
<% end %>
