<h2 class="title-with-actions">
  <span class="title">
    <%= pluralize @jobs.length, 'Background Job' %>
  </span>
  <span class="actions">
    <%= button_to failed_jobs_path, method: :delete,
          class: 'hollow button' do %>
      <%= destroy_icon_tag %> Cleanup Failed Jobs
    <% end %>
  </span>
</h2>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Attempts</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= job.created_at.to_s :submission_long %>
      </td>
      <td>
        <%= job.attempts %>
      </td>
      <td>
      <% if job.locked_at %>
        Locked at <%= job.locked_at.to_s :submission_long %>
      <% elsif job.failed_at %>
        Failed at <%= job.failed_at.to_s :submission_long %>
      <% else %>
        Inactive
      <% end %>
      </td>
      <td class="actions">
        <span class="link-button-wrapper">
          <%= link_to job_path(job), class: 'hollow button' do %>
            Details
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
