<h2>Recitation Time Slots</h2>

<%= form_for @time_slot, url: polymorphic_path(@time_slot,
      course_id: @time_slot.course), html: { id: 'time-slot-form' } do |f| %>
  <%= f.error_messages %>

<table class="time-slots">
  <thead>
    <tr>
      <th>Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @time_slots.each do |time_slot| %>
    <tr>
      <td><%= time_slot_day_label time_slot %></td>
      <td><%= time_slot.start_time.to_s :time_slot_long %></td>
      <td><%= time_slot.end_time.to_s :time_slot_long %></td>
      <td><%= time_slot_duration time_slot %></td>
      <td>
        <%= link_to time_slot_path(time_slot, course_id: time_slot.course),
              method: :delete, data: { confirm: 'Deleting this time slot will '\
              'also delete any scheduling conflicts reported by students for '\
              'this time. Continue?' } do %>
          <%= destroy_icon_tag %> Remove
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr class="form-row">
      <%= render 'time_slots/fields', f: f %>
    </tr>
  </tbody>
</table>

<% end %>
