<section data-pwnfx-scope="new-user">
  <%= f.row do %>
    <%= f.text_field :email, placeholder: 'you@mit.edu', required: true,
          autofocus: true, data: { pwnfx_refresh: 'email-check',
          pwnfx_refresh_url: check_email_users_url, pwnfx_refresh_ms: 1000,
          pwnfx_refresh_method: 'POST', pwnfx_refresh_scope: 'new-user' },
          label: 'School e-mail' %>
    <div class="columns">
      <div data-pwnfx-refresh-target="email-check"></div>
    </div>
  <% end %>
  <%= f.password_field :password, required: true, placeholder: 'be clever',
        data: { pwnfx_confirm: 'new-password' }, label: 'Password' %>
  <%= f.row do %>
    <%= f.password_field :password_confirmation, required: true,
          placeholder: 'can you type that again?', data: {
          pwnfx_confirm: 'new-password' }, label: 'Re-enter password' %>
    <div class="columns">
      <span class="error-text middle" data-pwnfx-confirm-win="new-password">
        <%= valid_icon_tag %> matches
      </span>
      <span class="error-text middle" data-pwnfx-confirm-fail="new-password">
        <%= invalid_icon_tag %> does not match
      </span>
    </div>
  <% end %>
</section>
