<section class="register">
<%= form_for user do |f| %>
  <%= f.error_messages %>

  <%= render 'users/new_fields', f: f %>

  <h3>Profile</h3>
  <%= f.fields_for :profile do |pf| %>
  <%= render 'profiles/fields', f: pf %>
  <% end %>

  <p class="actions">
    <%= f.button class: 'emphasized', type: :submit do %>
      Create my account
    <% end %>
  </p>
<% end %>
</section>
