<section class="fields">
  <p class="field">
    <%= f.label :email, 'School e-mail' %>
    <span class="value">
      <%= f.text_field :email, :placeholder => 'you@mit.edu', :required => true,
              :autofocus => true,
              'data-pwn-refresh-url' => check_email_users_url,
              'data-pwn-refresh-method' => 'POST',
              'data-pwn-refresh-target' => 'user_form_email_availability' %>
    </span>
    <span class="comment" id="user_form_email_availability">
    </span>
  </p>
  <p class="field">
    <%= f.label :password %>
    <span class="value">
    <%= f.password_field :password, :required => true,
            :placeholder => 'be clever', 'data-pwn-confirm' => 'new-password' %>
    </span>
    <span class="comment" id="user_form_password_secure">
    </span>
  </p>
  <p class="field">
    <%= f.label :password_confirmation, 'Re-enter password' %>
    <span class="value">
    <%= f.password_field :password_confirmation, :required => true,
           :placeholder => 'can you type that again?',
           'data-pwn-confirm' => 'new-password' %>
    </span>
    <span class="comment">
      <span data-pwn-confirm-win="new-password">
        <%= ok_image_tag %>
      </span>
      <span data-pwn-confirm-fail="new-password">
        does not match
      </span>
    </span>
  </p>
</section>
