<section class="register">
<%= foundation_form_for user do |f| %>

  <%= render 'users/new_fields', f: f %>

  <h3>Profile</h3>
  <%= f.fields_for :profile do |pf| %>
  <%= render 'profiles/fields', f: pf %>
  <% end %>

  <%= submit_button_tag do %>
    <%= create_icon_tag %> Create my account
  <% end %>
<% end %>
</section>
