<h3 class="user-info">
  <%= user_image_tag user %>
  <%= user.display_name_for @s_user %>  
</h3>
<dl class="user-info">
  <dt>E-mail</dt>
  <dd><%= user.email %></dd>
  <dt>Admin</dt>
  <dd><%= user.admin? ? 'Yes' : 'No' %></dd>
  <dt>Join date</dt>
  <dd><%= user.created_at %></dd>
</dl>
<ul class="user-info-actions">
  <% if user.profile %>
  <li>
    <%= link_to 'Profile', user.profile %>
  </li>
  <% end %>
  <% if user.student_info %>
  <li>
    <%= link_to 'Student Info', user.student_info %>
  </li>
  <% end %>
	<% if @s_user.admin? %>
  <li>
    <%= link_to 'Impersonate', impersonate_user_path(user), :method => :post %>
  </li>
  <li>
    <%= link_to((user.admin ? 'Strip Admin' : 'Make Admin'),
                set_admin_user_path(user, :to => !user.admin)) %>
  </li>
  <li>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?',
                                 :method => :delete %>
  </li>
	<% end %>
</ul>
