<h3 class="user-info">
  <%= user_image_tag user %>
  <%= link_to user.display_name_for(@s_user), user %>  
</h3>
<dl class="user-info">
  <dt>E-mail</dt>
  <dd><%= user.email %></dd>
  <dt>Admin</dt>
  <dd><%= user.admin? ? 'Yes' : 'No' %></dd>
	<dt>Profile</dt>
	<dd>
		<%= user.profile ? ok_image_tag : 'No' %>		
	</dd>
	<dt>Registration</dt>
	<dd>
		<%= user.registration ? ok_image_tag : 'No' %>
	</dd>
</dl>
<ul class="user-info-actions">
	<% if @s_user.admin? %>
  <li>
    <%= link_to 'Impersonate', impersonate_user_path(user), :method => :post %>
  </li>
  <li>
    <%= link_to((user.admin ? 'Strip Admin' : 'Make Admin'),
                set_admin_user_path(user, :to => !user.admin)) %>
  </li>
  <li>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?',
                                 :method => :delete %>
  </li>
	<% end %>
</ul>
