<h3 class="user-info">
  <%= user_image_tag user %>
  <%= link_to user.display_name_for(current_user), user %>  
</h3>
<dl class="user-info">
  <dt>E-mail</dt>
  <dd><%= user.email %></dd>
  <dt>Admin</dt>
  <dd><%= user.admin? ? 'Yes' : 'No' %></dd>
</dl>
<ul class="user-info-actions">
	<% if current_user.admin? %>
  <li>
    <%= link_to 'Impersonate', impersonate_user_path(user), :method => :post %>
  </li>
  <li>
    <%= link_to((user.admin ? 'Strip Admin' : 'Make Admin'),
                set_admin_user_path(user, :to => !user.admin),
                :method => :put) %>
  </li>
  <li>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?',
                                 :method => :delete %>
  </li>
	<% end %>
</ul>
