<h2>
  <%= user_image_tag @user, size: :large %>
  <%= @user.name %>
</h2>

<%= render 'profile_photos/for_user', user: @user %>

<%= render 'profiles/form', profile: @user.profile %>

<%= render 'registrations/conflicts', recitation_conflicts: @user.registration.recitation_conflicts %>
