<h2>Change Password</h2>

<%= form_for @user, :url => update_password_user_path(@user),
                    :html => {:class => 'signup-form'} do |f| %>
  <%= f.error_messages %>

  <dl>
  	<dt><%= f.label :password %></dt>
		<dd><%= f.password_field :password %></dd>
		<dt><%= f.label :password_confirmation, 'Re-enter password' %></dt>
		<dd>
			<%= f.password_field :password_confirmation %>
      <span id="user_form_password_correctness">
      </span>
		</dd>
  </dl>

  <p><%= f.submit "Update Password", :class => 'form_submit' %></p>
<% end %>

<%
password_js = <<JS_END
	var password = $('user_password').value;
	var confirmation = $('user_password_confirmation').value;
	var resultElem = $('user_form_password_correctness');
	var submitElem = $('user_submit');
	if(password == confirmation) {
		resultElem.update('#{ok_image_tag}');
		submitElem.appear();
	}
	else {
		resultElem.update('<span class="error-text">doesn\\'t match</span>');
		submitElem.hide();
	}
JS_END
%>    
<%= observe_field :user_password,
  :frequency => 0.5,
  :function => password_js %>     
<%= observe_field :user_password_confirmation,
  :frequency => 0.5,
  :function => password_js %>
