<!-- users/edit_password -->
<h1 class="form_title">Change Password for <%= @user.name%></h1>

<%= error_messages_for :user %>

<%= form_for(@user, :url => update_password_user_path(@user),
             :html => {:class => 'user_form'}) do |f| %>
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">Password</div>
			<div class="form_field_box">
				<%= f.password_field :password, :class => 'form_field' %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Re-enter password</div>
			<div class="form_field_box">
				<%= f.password_field :password_confirmation, :class => 'form_field' %>
				<span id="user_form_password_correctness">
				</span>
			</div>
		</div>
		<div class="form_submit_box">
		    <%= f.submit "Update Password", :class => 'form_submit' %>
		</div>
<%
password_js = <<JS_END
var password = $('user_password').value;
var confirmation = $('user_password_confirmation').value;
var resultElem = $('user_form_password_correctness');
var submitElem = $('user_submit');
if(password == confirmation) {
	resultElem.update('<span class=\\"attention_text\\">OK</span>');
	submitElem.appear();
}
else {
	resultElem.update('<span class="error_text">doesn\\'t match password</span>');
	submitElem.hide();
}
JS_END
%>		
		<%= observe_field :user_password,
			:frequency => 0.5,
			:function => password_js %>			
		<%= observe_field :user_password_confirmation,
			:frequency => 0.5,
			:function => password_js %>			
		
	</div>
<% end %>
