<h2>Site Users</h2>

<table>
  <tbody>
    <% @users.sort_by { |u| [u.has_role?('admin') ? 0 : 1, u.name || ''] }.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if user.email_credential && user.email_credential.verified? %>
            <%= valid_icon_tag %>
          <% else %>
            <%= invalid_icon_tag %>
          <% end %>
          <%= user.email %>
        </td>
        <td>
          <% if user.admin? %>
            <%= role_icon_tag :admin %> admin
          <% else %>
            <%= role_icon_tag :student %> user
          <% end %>
        </td>
        <td>
        <% unless user.admin? %>
          <%= form_for user, url: impersonate_user_path(user),
                method: :post do |f| %>
            <%= f.button type: :submit do %>
              <%= debug_icon_tag %> Impersonate
            <% end %>
          <% end %>
        <% end %>
        </td>
        <td>
          <%= form_for user, method: :delete do |f| %>
            <%= f.button type: :submit, data: { confirm:
                  "Completely wipe #{user.email}'s data?" } do %>
              <%= destroy_icon_tag %> Remove
            <% end %>
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= form_for user, url: set_admin_user_path(user, to: false),
                  method: :patch do |f| %>
              <%= f.button type: :submit, data: { confirm:
                    "Revoke #{user.email}'s admin privileges?" } do %>
                <%= role_icon_tag :student %> User
              <% end %>
            <% end %>
          <% elsif user.email_credential && user.email_credential.verified? %>
            <%= form_for user, url: set_admin_user_path(user, to: true),
                  method: :patch do |f| %>
              <%= f.button type: :submit, data: { confirm:
                    "Grant #{user.email} admin privileges?" } do %>
                <%= role_icon_tag :admin %> Admin
              <% end %>
            <% end %>
          <% else %>
            <%= form_for user, url: confirm_email_user_path(user),
                  method: :patch do |f| %>
              <%= f.button type: :submit do %>
                <%= valid_icon_tag %> Confirm E-mail
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= pluralize @users.length, 'user' %></th>
      <th>
        <%= pluralize @users.select { |u| u.email_credential &&
              u.email_credential.verified? }.length, 'verified e-mails' %>
      </th>
    </tr>
  </tfoot>
</table>
