<h2>
  <span class="title">Site Users</span>
  <span class="labels">
    <span class="label">
      <%= user_icon_tag %> <%= pluralize @users.length, 'user' %>
    </span>
    <span class="success label">
      <%= valid_icon_tag %> <%= pluralize @users.select { |u|
            u.email_credential && u.email_credential.verified? }.length,
            'verified e-mails' %>
    </span>
  </span>
</h2>

<table id="site-users">
  <thead>
    <tr>
      <th>User Identification</th>
      <th>Admin Privileges</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.sort_by { |u| [u.has_role?('admin') ? 0 : 1, u.name || ''] }.each do |user| %>
    <tr>
      <td class="user-identification">
        <%= link_to h(user.name), user %>
        <span class="email"><%=h user.email %></span>
      </td>
      <td>
        <% if user.admin? %>
          <%= button_to set_admin_user_path(user, to: false), method: :patch,
                class: 'hollow alert button', data: { confirm:
                "Revoke #{user.email}'s admin privileges?" } do %>
            <%= destroy_icon_tag %> Revoke
          <% end %>
        <% elsif user.email_credential && user.email_credential.verified? %>
          <%= button_to set_admin_user_path(user, to: true), method: :patch,
                class: 'hollow success button', data: { confirm:
                "Grant #{user.email} admin privileges?" } do %>
            <%= create_icon_tag %> Grant
          <% end %>
        <% else %>
          <%= button_to confirm_email_user_path(user), method: :patch,
                class: 'hollow button' do %>
            <%= valid_icon_tag %> Confirm E-mail
          <% end %>
        <% end %>
      </td>
      <td class="actions">
      <% unless user.admin? %>
        <%= button_to impersonate_user_path(user), method: :post do %>
          <%= debug_icon_tag %> Impersonate
        <% end %>
      <% end %>
      <%= button_to user, method: :delete, 
            data: { confirm: "Completely wipe #{user.email}'s data?" } do %>
        <%= destroy_icon_tag %> Delete Account
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
