<h2>Site Users</h2>

<table>
  <tbody>
    <% @users.sort_by { |u| [u.has_role?('admin') ? 0 : 1, u.name || ''] }.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if user.email_credential && user.email_credential.verified? %>
            <%= valid_icon_tag %>
          <% else %>
            <%= invalid_icon_tag %>
          <% end %>
          <%= user.email %>
        </td>
        <td>
          <% if user.admin? %>
            <%= role_icon_tag :admin %> admin
          <% else %>
            <%= role_icon_tag :student %> user
          <% end %>
        </td>
        <td>
        <% unless user.admin? %>
          <%= link_to impersonate_user_path(user), method: :post,
                class: 'button' do %>
            <%= debug_icon_tag %> Impersonate
          <% end %>
        <% end %>
        </td>
        <td>
          <%= user_destroy_link user, class: 'button' do %>
            <%= destroy_icon_tag %> Remove
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to set_admin_user_path(user, :to => false),
                        method: :put, class: 'button' do %>
              <%= role_icon_tag :student %> User
            <% end %>
          <% elsif user.email_credential && user.email_credential.verified? %>
            <%= link_to set_admin_user_path(user, :to => true),
                        method: :put, class: 'button' do %>
              <%= role_icon_tag :admin %> Admin
            <% end %>
          <% else %>
            <%= link_to confirm_email_user_path(user), method: :put,
                        class: 'button' do %>
              <%= valid_icon_tag %> Confirm E-mail
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= pluralize @users.length, 'user' %></th>
      <th>
        <%= pluralize @users.select { |u| u.email_credential &&
              u.email_credential.verified? }.length, 'verified e-mails' %>
      </th>
    </tr>
  </tfoot>
</table>
