<section class="fields">
  <p class="field">
    <%= f.label :for_credit, 'For credit' %>
    <span class="value">
      <%= f.label :for_credit do %>
        <%= f.check_box :for_credit %>
        intending to take <%= f.object.course.number %> for credit / grades
      <% end %>
    </span>
    <span class="comment" />
  </p>
  <p class="field">
    <%= f.label :allows_publishing, 'Publish my work' %>
    <span class="value">
      <%= f.label :allows_publishing do %>
        <%= f.check_box :allows_publishing %>
        course staff may publish my homework, and I will be credited
      <% end %>
    </span>
    <span class="comment">
    </span>
  </p>

  <% unless f.object.prerequisite_answers.empty? %>
  <p class="field">
    <label>Have taken</label>
    <span class="value" data-pwnfx-move-target="prerequisites"></span>
    <span class="comment"></span>
  </p>

  <%= f.fields_for :prerequisite_answers do |p| %>
  <p class="field" data-pwnfx-hide-positive="<%= p.object_name %>">
    <%= p.label :waiver_answer, p.object.prerequisite.waiver_question %>
    <span class="value">
      <%= p.text_area :waiver_answer, :rows => 3, :placeholder =>
             "How did you learn the material in #{p.object.prerequisite.prerequisite_number}?" %>
    </span>
    <span class="comment">
      <span data-pwnfx-move="prerequisites">
        <%= p.label :took_course do %>
          <%= p.object.prerequisite.prerequisite_number %>
          <%= p.check_box :took_course, data: { pwnfx_hide: p.object_name,
                pwnfx_hide_trigger: 'checked' } %>
        <% end %>
        <%= p.hidden_field :prerequisite_id %>
      </span>
    </span>
  </p>
  <% end %>
  <% end %>
</section>
