<section class="fields">
  <%= f.input_field_set label: 'For credit' do %>
    <%= f.check_box :for_credit, label: "intending to take "\
          "#{f.object.course.number} for credit / grades" %>
  <% end %>
  <%= f.input_field_set label: 'Publish my work' do %>
    <%= f.check_box :allows_publishing, label: 'course staff may release my '\
          'homework, and I will be credited' %>
  <% end %>

  <% unless f.object.prerequisite_answers.empty? %>
    <%= f.input_field_set label: 'Have taken' do %>
      <fieldset id="prerequisite-course-numbers"
            data-pwnfx-move-target="prerequisites">
      </fieldset>
    <% end %>

    <%= f.fields_for :prerequisite_answers do |pf| %>
    <span data-pwnfx-hide-positive="<%= pf.object_name %>">
      <%= pf.text_area :waiver_answer, rows: 3, placeholder: "How did you "\
            "learn the material in #{pf.object.prerequisite.prerequisite_number}?",
            label: pf.object.prerequisite.waiver_question %>
      <span class="prerequisite-course-number" data-pwnfx-move="prerequisites">
        <%= pf.check_box :took_course, data: { pwnfx_hide: pf.object_name,
              pwnfx_hide_trigger: 'checked' },
              label: pf.object.prerequisite.prerequisite_number %>
        <%= pf.hidden_field :prerequisite_id %>
      </span>
    </span>
    <% end %>
  <% end %>
</section>
