<%= f.hidden_field :course_id %>

<section class="fields">
  <p class="field">
    <%= f.label :for_credit, 'For credit' %>
    <span class="value">
      <%= f.check_box :for_credit %>
      intending to take <%= f.object.course.number %> for credit / grades
    </span>
    <span class="comment" />
  </p>
  <p class="field">
    <%= f.label :allows_publishing, 'Publish my work' %>
    <span class="value">
      <%= f.check_box :allows_publishing %>
      course staff may publish my homework, and I will be credited
    </span>
    <span class="comment">
    </span>
  </p>
    
  <% unless f.object.prerequisite_answers.empty? %>
  <p class="field">
    <span class="label">Have taken</span>
    <span class="value" data-pwnfx-move-target="prerequisites" />
    <span class="comment" />
  </p>

  <%= f.fields_for :prerequisite_answers do |p| %>
  <p class="field" data-pwnfx-reveal-negative="<%= p.object_name %>">
    <%= p.label :waiver_answer, p.object.prerequisite.waiver_question %>
    <span class="value">
      <%= p.text_area :waiver_answer, :rows => 3, :placeholder =>
             "How did you learn the material in #{p.object.prerequisite.prerequisite_number}?" %>
    </span>
    <span class="comment">
      <span data-pwnfx-move="prerequisites">
        <%= p.check_box :took_course, 'data-pwnfx-reveal' => p.object_name,
                'data-pwnfx-reveal-trigger' => 'check' %>
        <%= p.label :took_course, p.object.prerequisite.prerequisite_number %>
        <%= p.hidden_field :prerequisite_id %>
      </span>
    </span>
  </p>
  <% end %>
  <% end %>
</section>
