<div class="registration-container">
<h3>Registration</h3>

<%= remote_form_for @registration,
      :before => update_page { |p|            
        p.replace_html 'registration-ajax-indicator', loading_image_tag
      } do |f| %> 
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :course_id %>

	<dl class="registration">
	  <dt>For credit</dt>
	  <dd>
	  	<%= f.check_box :for_credit %>
			intending to take <%= @registration.course.number %> for credit / grades
		</dd>
	  <dt>Motivation</dt>
	  <dd>
	  	<span class="instructions">
	  		Why do you want to take <%= @registration.course.number%>?
			</span>
	    <%= f.text_area :motivation %>
	  </dd>		

	  <% if Course.main.has_recitations? %>
	  <dt>
	  	Availability
		</dt>
		<dd>
      <span class="instructions">
        Please only enter numbers for courses that you are registered for, or
				that you will be registered for by the time recitations are assigned.
				If a course covers half an hour, enter it as if it would take up the
				entire hour. Enter a single course number per time slot.
      </span>
      <table class="timetable">
        <thead>
          <tr>
            <th>Time</th>
            <% ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'].each do |day| %>
            <th><%= day %></th>
            <% end %>
          </tr>           
        </thead>
        <tbody>
          <% ['9am', '10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm', '5pm'].zip((9..17).to_a).each do |hour, dhour| %>
          <tr>
            <th><%= hour %></th>
            <% (0...5).each do |day| %>
            <td>
              <% timeslot = day + dhour * 10 %>
              <%= fields_for("recitation_conflicts[#{timeslot}]",
                    @recitation_conflicts[timeslot] ||
                    RecitationConflict.new(:timeslot => timeslot)) do |r|  %>
                <%= r.text_field :class_name, :class => 'form_field', :id => "recitation_conflicts_#{timeslot}_class_name", :size => 8 %>
                <%= r.hidden_field :timeslot, :id => "recitation_conflicts_#{timeslot}_timeslot" %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>           
        </tbody>
      </table>			
		</dd>
	  <% end %>

    <dt>Have taken</dt>
		<dd>
			<span id="prereq_inject_target"></span>
		</dd>

    <%= f.fields_for :prerequisite_answers do |p| %>
    <dt>
    	<%= p.object.prerequisite.waiver_question %>
		</dt>
    <dd>
      <%= p.text_area :waiver_answer, :rows => 3, :class => 'form_field' %>
      <span class="prereq_inject">
        <%= p.check_box :took_course, :class => 'prereq_inject_trigger' %>
        <%= p.object.prerequisite.course_number %>        
        <%= p.hidden_field :prerequisite_id %>
      </span>
    </dd>
    <% object_prefix = p.object_name.gsub(/\[|\]/, '_').gsub('__', '_') %>
    <script type="text/javascript">
      var masterDiv = $('<%= object_prefix %>waiver_answer').up('dd');
      var injectSpan = masterDiv.down('.prereq_inject');
      var targetDiv = $('prereq_inject_target');
      injectSpan.up().removeChild(injectSpan);
      targetDiv.appendChild(injectSpan);
      
      show_div_on_checkbox_setting(masterDiv,
           injectSpan.down('.prereq_inject_trigger'), false);
      show_div_on_checkbox_setting(masterDiv.previous('dt'),
           injectSpan.down('.prereq_inject_trigger'), false);
    </script>
    <% end %>
	</dl>

  <p class="privacy-policy">
    Every registered user can see this.
  </p>  
  <span id="registration-ajax-indicator">
    <%= f.submit @registration.new_record? ? 'Submit' : 'Update' %>
  </span>
<% end %>
</div>
