<section class="registration-settings">
  <div class="registration-setting">
    <span class="setting-name">
      For credit
    </span>
    <span class="setting-value">
      <%= boolean_description_tag @registration.for_credit? %>
    </span>
  </div>
  <div class="registration-setting">
    <span class="setting-name">
      Publish my work
    </span>
    <span class="setting-value">
      <%= boolean_description_tag @registration.allows_publishing? %>
    </span>
  </div>
</section>

<% if @registration.course.prerequisites.length > 0 %>
<%= render 'registrations/prerequisites' %>
<% end %>

<% if @registration.course.has_recitations? %>
<%= render 'registrations/recitation_section',
      section: @registration.recitation_section %>
<%= render 'registrations/availability' %>
<% end %>
