<table class="registration-info">
  <tr>
    <th>For credit</th>
    <td>
      <%= registration.for_credit? ? 'Yes' : 'No' %>
    </td>
  </tr>
  <tr>
    <th>Publish my work</th>
    <td>
      <%= registration.allows_publishing? ? 'Yes' : 'No' %>
    </td>
  </tr>
  <tr>
    <th>Dropped class</th>
    <td>
      <%= registration.dropped? ? 'Yes' : 'No' %>
    </td>
  </tr>

  <% registration.prerequisite_answers.sort_by(&:prerequisite_id).
                  each do |answer| %>
  <% next if answer.took_course? or answer.waiver_answer.empty? %>
  <tr>
    <th>
      <%= answer.prerequisite.waiver_question %>
    </th>
    <td>
      <%= answer.waiver_answer %>
    </td>
  </tr>
  <% end %>

  <% if Course.main.has_recitations? %>
  <tr>
    <th>Availability</th>
    <td>
      <table class="timetable">
        <thead>
          <tr>
            <th>Time</th>
            <% ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'].each do |day| %>
            <th><%= day %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% ['9am', '10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm', '5pm'].zip((9..17).to_a).each do |hour, dhour| %>
            <tr>
              <th><%= hour %></th>
              <% (0..4).each do |day| %>
                <% rc = registration.recitation_conflicts.select { |rc| rc.timeslot.to_i == day + dhour * 10 }.first %>
                <% if rc %>
                <td class="busy">
                  <%=h rc.class_name %>
                </td>
                <% else %>
                <td class="free">
                  free
                </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
  </tr>
	<% end %>
</table>
