<h2>Listing <%= @registrations.length %> Registrations</h2>

<table>
	<thead>
	  <tr>
	  	<td>User</td>
	    <td>Credit</td>
			<% @prerequisites.sort_by(&:id).each do |prereq| %>
			<td><%= prereq.course_number %></td>
			<% end %>
	  </tr>
	</thead>
	
	<tbody>
	<% @registrations.each do |registration| %>
	  <tr>
	    <td><%=link_to h(registration.user.email), registration.user %></td>
	    <td><%= registration.for_credit ? 'Yes' : 'No' %></td>
			<% registration.prerequisite_answers.
                      sort_by(&:prerequisite_id).each do |answer| %>
				<td>
				<% if answer.took_course? %>
				  <%= ok_image_tag %>
				<% else %>
				  <%= answer.waiver_answer %>
				<% end %>
				</td>
			<% end %>
	    <td><%= link_to 'Show', registration %></td>
	    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
	    <td><%= link_to 'Destroy', registration,
	                :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
