<h2><%= @registrations.length %> Students</h2>

<table class="registrations-table">
	<thead>
	  <tr>
	    <th>Name</th>
      <th>E-mail</th>
      <th>Publish HW</th>
	    <th>For Credit</th>
			<% @prerequisites.sort_by(&:id).each do |prerequisite| %>
			<th><%= prerequisite.prerequisite_number %></th>
  		<% end %>
      <% if @course.has_recitations? %>
      <th>Recitation</th>
      <% end %>
      <th></th>
	  </tr>
	</thead>

	<tbody>
	<% @registrations.each do |registration| %>
	  <tr>
	    <td><%= link_to registration.user.name, registration.user %></td>
      <td><%= registration.user.email %></td>
      <td><%= registration.allows_publishing? ? 'Yes' : 'No' %></td>
	    <td><%= registration.for_credit? ? 'Yes' : 'No' %></td>

			<% registration.prerequisite_answers.
                      sort_by(&:prerequisite_id).each do |answer| %>
      <td>
      <% if answer.took_course? %>
        <%= valid_icon_tag %>
      <% end %>
      </td>
			<% end %>

      <% if @course.has_recitations? %>
      <td id="registration-<%= registration.id %>">
        <%= form_for registration, method: :patch,
        			url: restricted_registration_url(registration) do |f| %>
          	<%= recitation_select_tag registration %>
						<span class="progress-indicator"></span>
        <% end %>
      </td>
      <% end %>
      <td><%= link_to 'Details', registration %></td>
      <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
	  </tr>
	<% end %>
	</tbody>

  <tfoot>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>
