<h2><%= @registration.course.number %> Student Registration</h2>

<%= form_for @registration, url: polymorphic_url(@registration,
      course_id: @registration.course), html: { class: 'compact' } do |f| %>
  <%= render 'registrations/fields', f: f %>
  <%= render 'registrations/conflicts', conflicts: @recitation_conflicts, f: f %>

  <%= submit_button_tag do %>
    <%= register_icon_tag %> Register for <%= @registration.course.number %>
  <% end %>
<% end %>
