<h2>Student Registration</h2>

<%= form_for @registration do |f| %>
<%= render 'registrations/fields', f: f %>
<%= render 'registrations/conflicts', conflicts: @recitation_conflicts, f: f %>

<p class="actions">
  <%= f.button class: 'emphasized', type: :submit do %>
    <%= register_icon_tag %> Register for <%= @registration.course.number %>
  <% end %>
</p>
<% end %>

<h2>Not a student?</h2>

<p>
  If you are not a student, please go to the
  <%= link_to 'Staff Registration page', new_role_request_path %>.
</p>
