<p>
  If you are not a student, please go to the
  <%= link_to 'Staff Registration page', new_role_request_path %>.
</p>

<h3>Student Registration</h3>

<%= form_for @registration do |f| %>
<%= render 'registrations/fields', f: f %>
<%= render 'registrations/conflicts', recitation_conflicts: [] %>

<p class="actions">
  <%= f.button class: 'emphasized', type: :submit do %>
    <%= register_icon_tag %> Register for <%= @registration.course.number %>
  <% end %>
</p>
<% end %>
