<h2>
  <%= user_image_tag @registration.user, :size => :large %>
  <%= @registration.user.real_name %>
</h2>

<dl class="user-info">
  <dt>E-mail</dt>
  <dd><%= mail_to @registration.user.email %></dd>
</dl>

<%= render 'profile_photos/for_user', :user => @registration.user %>

<%= render 'profiles/for_user', :user => @registration.user %>

<%= render 'registrations/form' %>
