<h2 class="registrant-name"><%= @registration.user.name %></h2>
<p class="lead registrant-email"><%= @registration.user.email %></p>
<h3 class="title-with-actions">
  <span class="title"><%= @registration.course.number %> Registration</span>
  <% if @registration.can_edit? current_user %>
  <span class="actions">
    <%= button_to edit_registration_path(@registration,
          course_id: @registration.course), method: :get,
          class: 'small hollow button' do %>
      <%= edit_icon_tag %> Edit
    <% end %>
  </span>
  <% end %>
</h3>

<%= render 'registrations/registration', registration: @registration %>
