<h2>Editing Prerequisite</h1>

<%= form_for @prerequisite, url: prerequisite_url(@prerequisite,
      course_id: @prerequisite.course) do |f| %>
  <%= f.error_messages %>

  <%= render 'prerequisites/fields', f: f %>

  <%= submit_button_tag do %>
    <%= save_icon_tag %> Update Prerequisite
  <% end %>
<% end %>
