<div class="full_section">
  <div style="z-index: 10; float: right; width: 100px; text-align: right;">
    <h1 class="full_section"><%= link_to 'New', new_prerequisite_path %></h1>
  </div>
  <h1 class="full_section" style="margin-right: 100px; ">Prerequisites</h1>
  <table>
    <thead>
      <tr>
        <th>
          Course Number(s)
        </th>
        <th>
          Question if Missing Prerequisite
        </th>
      </tr>
    </thead>
    <tbody>
      <% @prerequisites.each do |prerequisite| %>
      <tr>
        <td>
          <%= prerequisite.prerequisite_number %>
        </td>
        <td>
          <%= prerequisite.waiver_question %>
        </td>
        <td>
          <%= link_to 'Edit', edit_prerequisite_path(prerequisite) %>
          <%= link_to 'Remove', prerequisite, :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
