<h2>
  Submission for
  <%= @analysis.submission.deliverable.assignment.name %>
  <%= @analysis.submission.deliverable.name %>
</h2>

<section class="assignment">
  <ul class="deliverables">
    <li>
      <%= render 'deliverables/student_list_entry',
            deliverable: @analysis.submission.deliverable,
            submissions: [@analysis.submission] %>
    </li>
  </ul>
<section>

<h3>
  Log
  <span class="actions">
    <%= link_to reanalyze_submission_path(@analysis.submission,
          course_id: @analysis.course), method: :post, class: 'button' do %>
      <%= recompute_icon_tag %> Re-analyze
    <% end %>
  </span>
</h3>

<div class="markdpwn-parsed-code">
<pre><%= @analysis.log %></pre>
</div>

<% if @analysis.can_read_private_log?(current_user) %>
<h3>Private Log</h3>

<p>This is only visible to course staff members.</p>

<div class="markdpwn-parsed-code">
<pre><%= @analysis.private_log %></pre>
</div>
<% end %>
