<% form_for(@feedback_question, :html => {:class => 'student_form'}) do |f| %>
  <%= f.error_messages %>
	
  <div class="form_box">
    <div class="form_entry">
      <div class="form_label">
      	<%= f.label :human_string, 'Question Text' %>
			</div>
      <div class="form_field_box">
      	<%= f.text_field :human_string, :class => 'form_field' %>
      </div>
    </div>		
    <div class="form_entry">
      <div class="form_label"><%= f.label :targets_user %></div>
      <div class="form_field_box">
      	<%= f.check_box :targets_user %>
      </div>
    </div>
    <div class="form_entry">
      <div class="form_label"><%= f.label :allows_comments %></div>
      <div class="form_field_box">
        <%= f.check_box :allows_comments %>
      </div>
    </div>
    <div class="form_entry">
      <div class="form_label"><%= f.label :scaled %></div>
      <div class="form_field_box">
        <%= f.check_box :scaled, :id => 'scaled_question_checkbox' %>
      </div>
    </div>
    		
		<div id="scaled_question_data">
	    <div class="form_entry">
	      <div class="form_label"><%= f.label :scale_min, 'Low value' %></div>
	      <div class="form_field_box">
	        <%= f.text_field :scale_min, :class => 'form_field' %>
	      </div>
	    </div>
      <div class="form_entry">
        <div class="form_label"><%= f.label :scale_max, 'High value' %></div>
        <div class="form_field_box">
          <%= f.text_field :scale_max, :class => 'form_field' %>
        </div>
      </div>
      <div class="form_entry">
        <div class="form_label">
        	<%= f.label :scale_min_label, 'Low value text' %>
				</div>
        <div class="form_field_box">
          <%= f.text_field :scale_min_label, :class => 'form_field' %>
        </div>
      </div>
      <div class="form_entry">
        <div class="form_label">
          <%= f.label :scale_min_label, 'High value text' %>
        </div>
        <div class="form_field_box">
          <%= f.text_field :scale_max_label, :class => 'form_field' %>
        </div>
      </div>
		</div>
		<%= javascript_tag 'show_div_on_checkbox_setting("scaled_question_data", "scaled_question_checkbox", true);' %>
		
    <div class="form_submit_box">
      <%= f.submit((@feedback_question.new_record? ? "Create" : "Update"),
                   :class => 'form_submit') %>
      or
      <%= link_to 'Go back', feedback_questions_path %>
    </div>
  </div>
<% end %>
