<section class="file" data-pwnfx-hide-positive="file-section"
         data-pwnfx-scope="file">
  <section class="fields">
    <p class="field">
      <%= f.label :description, 'Description' %>
      <span class="value">
        <%= f.text_field :description, required: true,
              placeholder: 'Lab 1: Code Samples' %>
      </span>
      <span class="destroy">
        <%= f.label :_destroy do %>
          <%= f.check_box :_destroy, data: { pwnfx_hide: 'file-section',
                pwnfx_hide_scope: 'file',
                pwnfx_hide_class: 'destroyed-blur',
                pwnfx_hide_trigger: 'checked' } %>
          <%= destroy_icon_tag %> Remove
        <% end %>
      </span>
    </p>

    <p class="field">
      <%= f.fields_for :db_file, DbFile.new do |ff| %>
        <%= ff.label :f, 'Resource file' %>
        <span class="value">
          <%= ff.file_field :f,
                required: (!f.object.db_file || f.object.db_file.new_record?) %>
        </span>
        <span class="comment">
          <% if f.object.db_file && !f.object.db_file.new_record? %>
            <%= link_to download_assignment_file_path(f.object,
                  course_id: f.object.course) do %>
              <%= download_icon_tag %> <%= f.object.file_name %>
            <% end %>
            (<%= number_to_human_size f.object.db_file.f.size %>)
          <% end %>
        </span>
      <% end %>
    </p>

    <p class="field">
      <%= f.label :published_at, 'Release date' %>
      <span class="value">
        <%= f.datetime_select :published_at, use_short_month: true,
               minute_step: 15, datetime_separator: ' at ',
               time_separator: ':' %>
      </span>
    </p>
  </section>
</section>
