<h1>Listing profile_photos</h1>

<table>
  <tr>
    <th>Pic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profile_photos.each do |profile_photo| %>
  <tr>
    <td><%= profile_photo.pic %></td>
    <td><%= link_to 'Show', profile_photo %></td>
    <td><%= link_to 'Edit', edit_profile_photo_path(profile_photo) %></td>
    <td><%= link_to 'Destroy', profile_photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile photo', new_profile_photo_path %>
