<h3>
  <%= check_box_tag "package_include[#{id}]", "1", true,
                    :id => "submission_package_include_#{id}" %>
	<%= label_tag "submission_package_include_#{id}", title %>
</h3>

<dl id="submission_package_container_<%= id %>">
	<dt>
		Filename
	</dt>
	<dd>
    <span id="submission_package_fexample_<%= id %>"><%= basename %></span>.<%= extension %>		
	</dd>
	<dt>
    <%= label_tag "submission_package_fprefix_#{id}", 'File prefix' %>		
	</dt>
	<dd>
    <%= text_field_tag "filename_prefix[#{id}]", default_prefix,
                       :id => "submission_package_fprefix_#{id}" %>
	</dd>
  <dt>
    <%= label_tag "submission_package_fsuffix_#{id}", 'File suffix' %>    
  </dt>
  <dd>
    <%= text_field_tag "filename_suffix[#{id}]", default_suffix,
                       :id => "submission_package_fsuffix_#{id}" %>
  </dd>
</dl>

<%= javascript_tag "show_div_on_checkbox_setting('submission_package_container_#{id}', 'submission_package_include_#{id}', true);" %>			
<%= javascript_tag "submission_packager_update_fe('submission_package_fexample_#{id}', '#{basename}', 'submission_package_fprefix_#{id}', 'submission_package_fsuffix_#{id}')" %>
<%= observe_field "submission_package_fprefix_#{id}",
	:frequency => 0.2,
	:function => "submission_packager_update_fe('submission_package_fexample_#{id}', '#{basename}', 'submission_package_fprefix_#{id}', 'submission_package_fsuffix_#{id}')" %>			
<%= observe_field "submission_package_fsuffix_#{id}",
	:frequency => 0.2,
	:function => "submission_packager_update_fe('submission_package_fexample_#{id}', '#{basename}', 'submission_package_fprefix_#{id}', 'submission_package_fsuffix_#{id}')" %>			
