<% submissions.each do |submission| %>
<div class="feed-item">
	<h3>
		<span class="author">
			<%= user_image_tag submission.user %>
			<%= submission.user.display_name_for @s_user %>
		</span>
		submitted
		<%= submission.deliverable.name %> for
		<%= submission.deliverable.assignment.name %>
	</h3>
	<p>
		<%= number_to_human_size submission.code.size %>
		<%= submission.code_content_type %> file
	</p>
	<div class="footer">
    <p class="time">
      <%= time_delta(submission.updated_at) %>
    </p>
		<ul class="actions">
			<li>
        <%= link_to "View", file_submission_path(submission.id, :inline => true) %>	
			</li>
			<li>
				<%= link_to "Download", file_submission_path(submission.id, :inline => false) %>
			</li>
		</ul>
	</div>
</div>
<% end %>
