<% if submissions.empty? %>
	<div>
		You haven't submitted any assignments yet.
	</div>
<% else %>
	<table>
		<thead style="font-size: 1.1em; font-weight: bold;">
			<tr>
				<td>Assignment</td>
				<td>Deliverable</td>
				<td>Deadline</td>
        <td>Submitter</td>
				<td>Submitted</td>
				<td>Status</td>
			</tr>		
		</thead>
		<tbody>
			<% submissions.each do |submission| %>
				<tr>
					<td><%=h submission.deliverable.assignment.name %></td>
					<td><%=h submission.deliverable.name %></td>
					<td><%=h time_delta(submission.deliverable.assignment.deadline) %></td>
          <td><%=h submission.user.name %></td>
					<td><%=h time_delta(submission.updated_at) %></td>
					<td><%= submission.run_result.nil? ? 'no status' : link_to(submission.run_result.diagnostic, :controller => :run_results, :action => :show, :id => submission.run_result.id) %></td>
					<td><%= link_to "View", file_submission_path(submission.id, :inline => true) %></td>
					<td><%= link_to "Download (#{number_to_human_size submission.code.size})", file_submission_path(submission.id, :inline => false) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

