<% if submission %>
  <span class="submission-info">
    <span class="author">
      <%= user_image_tag submission.subject %>
      <%= link_to submission.subject.display_name_for(current_user),
                  submission.subject %>
    </span>
    submitted a
    <%= link_to file_submission_path(submission) do %>
      <%= download_icon_tag %>
      <%= number_to_human_size submission.db_file.f.size %> file
    <% end %>
    <%= time_ago_in_words submission.updated_at %>
    ago.
  </span>
  <span class="submission-result">
  <% if submission.analysis %>
    <%= link_to submission.analysis do %>
      <%= analysis_status_icon_tag submission.analysis %>
      <%= analysis_status_text submission.analysis %>
    <% end %>
    <% if submission.analysis.status_will_change? %>
      <span data-pwnfx-delayed="submission-info" data-pwnfx-delayed-method="GET"
            data-pwnfx-delayed-url="<%= info_submission_path(submission) %>"
            data-pwnfx-delayed-ms="5000"
            data-pwnfx-delayed-scope="submission-info">
        <%= ajax_spinner_image_tag %>
      </span>
    <% end %>
  <% end %>
  </span>
<% else %>
  <span class="no-submission">
    <%= invalid_icon_tag %> No submission yet
  </span>
<% end %>
