<% if submission %>
<span class="submission-info">
  <span class="author">
    <%= user_image_tag submission.user %>
    <%= link_to submission.user.display_name_for(current_user),
                submission.user %>
  </span>
  submitted a
  <%= link_to file_submission_path(submission, :inline => false) do %>
    <%= number_to_human_size submission.db_file.f.size %> file
  <% end %>
  <%= time_ago_in_words submission.updated_at %>
  ago.
</span>
<span class="submission-result">
<% if submission.check_result %>
  <%= link_to submission.check_result.diagnostic,
              submission.check_result %>
  <% end %>
</span>
<% else %>
<span class="no-submission">
  <%= image_tag 'missing.png' %>
  No submission yet
</span>
<% end %>
