<p>
  <span class="submission-info">
    <%= link_to file_submission_path(submission,
                                     course_id: submission.course) do %>
      <%= download_icon_tag %>
      <%= number_to_human_size submission.db_file.f.size %> file
    <% end %>
    submitted
    <%= time_ago_in_words submission.updated_at %>
    ago.
  </span>
  <%= link_to submission_path(submission, course_id: submission.course),
        method: :delete, data: { confirm: 'Are you sure?' } do %>
    <%= destroy_icon_tag %> Remove
  <% end %>
  <span class="submission-result">
  <% if submission.analysis %>
    <%= link_to analysis_path(submission.analysis,
                              course_id: submission.course) do %>
      <%= analysis_status_icon_tag submission.analysis %>
      <%= analysis_status_text submission.analysis %>
    <% end %>
    <% if submission.analysis.status_will_change? %>
      <span data-pwnfx-delayed="submission-info-<%= submission.to_param %>"
            data-pwnfx-delayed-method="GET"
            data-pwnfx-delayed-url="<%= info_submission_path(submission,
                course_id: submission.course) %>"
            data-pwnfx-delayed-ms="5000"
            data-pwnfx-delayed-scope="submission-info-<%= submission.to_param %>">
        <%= ajax_spinner_image_tag %>
      </span>
    <% end %>
  <% end %>
  </span>
  <%= submission_promotion_status(submission, current_user) %>
</p>
