<h2>Grading Kit Builder</h2>
<div data-pwnfx-scope="grading-kit">
  <%= form_tag package_assignment_submissions_path do %>
    <section class="fields">
      <p class="field">
        <%= label_tag :assignment_id, 'Assignment' %>
        <span class="value">
          <%= select_tag :assignment_id,
                options_for_select(@assignments.map { |a| [a.name, a.id] }),
                data: { pwnfx_refresh: 'submission-deliverables',
                pwnfx_refresh_url: xhr_deliverables_submissions_path,
                pwnfx_refresh_method: 'POST',
                pwnfx_refresh_scope: 'grading-kit', pwnfx_refresh_ms: 100 } %>
        </span>
  		</p>
  		<p class="field">
  			<%= label_tag :use_cutoff, 'Late submissions' %>
        <span class="value">
          <%= check_box_tag :use_cutoff, '1', false, data: {
                pwnfx_hide: 'submission-cutoff', pwnfx_hide_trigger: 'checked',
                pwnfx_hide_scope: 'grading-kit' } %>
          <%= label_tag :use_cutoff,
                        'only get the submissions after the cutoff below' %>
        </span>
      </p>
      <p class="field" data-pwnfx-hide-negative="submission-cutoff">
        <%= label_tag :submission_cutoff %>
        <span class="value" data-pwnfx-move-target="submission-cutoff-deadline">
          <%= select_datetime Time.current, prefix: 'cutoff',
                use_short_month: true, minute_step: 15,
                datetime_separator: ' at ', time_separator: ':' %>
        </span>
  		</p>
    </section>

    <div data-pwnfx-refresh-target="submission-deliverables">
    <% if @assignments.first %>
    <%= render 'submissions/xhr_deliverables', assignment: @assignments.first %>
    <% end %>
    </div>

    <p class="actions">
    	<%= button_tag do %>
    	  <%= download_icon_tag %> Download Grading Kit
    	<% end %>
    </p>
  <% end %>
</div>
