<h2>Package Submissions</h2>
<%= form_tag package_assignment_submissions_path do %>
  <section class="fields">
    <p class="field">
      <%= label_tag :assignment_id, 'Assignment' %>
      <span class="value">
        <%= select_tag :assignment_id,
              options_for_select(@assignments.map { |a| [a.name, a.id] }),
              'data-pwnfx-refresh-target' => 'submission-deliverables-container',
              'data-pwnfx-refresh-url' => xhr_update_deliverables_submissions_path %>
      </span>
		</p>
		<p class="field">
			<%= label_tag :cutoff_enable, 'Only late' %>
      <span class="value">
        <%= check_box_tag :cutoff_enable, '1', false,
              :id => 'submission_cutoff_enable',
              'data-pwnfx-reveal' => 'submission-cutoff',
              'data-pwnfx-reveal-trigger' => 'uncheck' %>
        get submissions after the deadline
      </span>
    </p>
    <p class="field" id="submission_cutoff_container"
                     data-pwnfx-reveal-target="submission-cutoff">
      <%= label_tag :submission_cutoff %>
      <span class="value">
        <%= select_datetime (@assignments.first ? @assignments.first.deadline : Time.now - 1.day),
                            :prefix => 'cutoff', :use_short_month => true, :minute_step => 15,
                            :datetime_separator => ' at ', :time_separator => ':' %>
      </span>
		</p>
  </section>

  <div id="submission-deliverables-container">
  </div>

  <p class="action">
  	<%= submit_tag "Build package" %>
  </p>
<% end %> 
