<!-- submissions/index -->
<div class="full_section">	
	<h3 class="full_section">Filter Submissions</h3>
	<% form_tag(submissions_path, {:class => 'user_form'}) do %>
		<div class="form_box">
			<div class="form_entry">
				<div class="form_label">Deliverable</div>
				<div class="form_field_box">
					<%= select_tag :deliverable_id, options_for_select(@deliverables.map { |d| [d.assignment.name + ': ' + d.name, d.id] }, nil), :class => 'form_field', :id => 'deliverable_filter_id' %>
				</div>
			</div>
			<div class="form_submit_box">
			    <%= submit_tag "Filter by deliverable", :class => 'form_submit', :id => 'deliverable_filter_submit_button' %>
				or
				<%= link_to 'Go home', root_path %>
			</div>
		</div>
	<% end %>	

	<% form_tag(submissions_path, {:class => 'user_form'}) do %>
		<div class="form_box">
			<div class="form_entry">
				<div class="form_label">Assignment</div>
				<div class="form_field_box">
					<%= select_tag :assignment_id, options_for_select(@assignments.map { |a| [a.name, a.id] }, nil), :class => 'form_field', :id => 'assignment_filter_id' %>
				</div>
			</div>
			<div class="form_submit_box">
			    <%= submit_tag "Filter by assignment", :class => 'form_submit', :id => 'assignment_filter_submit_button' %>
				or
				<%= link_to 'Go home', root_path %>
			</div>
		</div>
	<% end %>	
</div>

<div class="full_section">	
	<h3 class="full_section">Individual Submissions</h3>
	
	<% if @submissions.empty? %>
		No submissions match the criteria.
	<% else %>
		<table>
			<thead style="font-size: 1.1em; font-weight: bold;">
				<tr>
					<td>Deliverable</td>
					<td>Student</td>
					<td>Submitted</td>
					<td>Status</td>
				</tr>		
			</thead>
			<tbody>
				<% @submissions.each do |submission| %>
				<tr>
					<td>
						<%=h submission.deliverable.assignment.name %>:
						<%=h submission.deliverable.name %>
					</td>
					<td><%=h display_name_for_user submission.user %></td>
					<td title="<%=h submission.updated_at %>">
						<%=h (submission.updated_at < submission.deliverable.assignment.deadline) ? 'on time' : "late by #{distance_of_time_in_words(submission.deliverable.assignment.deadline, submission.updated_at)}" %>
					</td>
					<td>
						<% if submission.run_result %>
						<%= link_to submission.run_result.diagnostic,
                        submission.run_result %>
						<% else %>
						no status
						<% end %>
					<td>
						<%= link_to "Re-validate",
                        revalidate_submission_path(submission),
                        :method => :post %>
					</td>
					<td>
						<%= link_to "View",
                        file_submission_path(submission, :inline => true) %>
					</td>
					<td>
						<%= link_to "Download (#{number_to_human_size submission.code.size})",
                        file_submission_path(submission, :inline => false) %>
				  </td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<%= @submissions.length %> total submissions	
	<% end %>	
</div>