<h2>Submissions</h2>

<%= form_tag submissions_path(course_id: current_course), method: :get do %>
  <div class="top-level-query">
    <span class="query-label">
      <%= label_tag :assignment_id, 'Assignment: ' %>
    </span>
    <span class="query-input-field">
      <%= select_tag :assignment_id, options_for_select(
            @assignments.map { |a| [a.name, a.id] }, nil) %>
    </span>
    <span class="query-submit-button">
      <%= button_tag type: :submit do %>
        <%= filter_icon_tag %> Filter by assignment
      <% end %>
    </span>
  </div>
<% end %>

<%= form_tag submissions_path(course_id: current_course), method: :get do %>
  <div class="top-level-query">
    <span class="query-label">
      <%= label_tag :deliverable_id, 'Deliverable: ' %>
    </span>
    <span class="query-input-field">
      <%= select_tag :deliverable_id, options_for_select(
            @deliverables.map { |d| [d.assignment.name + ': ' + d.name, d.id] },
            nil) %>
    </span>
    <span class="query-submit-button">
      <%= button_tag type: :submit do %>
        <%= filter_icon_tag %> Filter by deliverable
      <% end %>
    </span>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Deliverable</th>
      <th>Student</th>
      <th>Submitted</th>
      <th>IP</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
    <tr>
      <td>
        <%= link_to assignment_path(submission.assignment,
                                    course_id: submission.course) do %>
          <%= submission.assignment.name %>: <%= submission.deliverable.name %>
        <% end %>
      </td>
      <td><%= submission.subject.name %></td>
      <td title="<%=h submission.updated_at %>">
        <%= (submission.updated_at < submission.deliverable.assignment.due_at) ? 'on time' : "late by #{distance_of_time_in_words(submission.deliverable.assignment.due_at, submission.updated_at)}" %>
      </td>
      <td>
        <%= submission.upload_ip %>
      </td>
      <td>
        <% if submission.analysis %>
          <%= analysis_status_tag submission.analysis %>
        <% else %>
        no status
        <% end %>
      </td>
      <td class="actions">
        <%= button_to reanalyze_submission_path(submission,
              course_id: submission.course), method: :post,
              title: 'Re-analyze' do %>
          <%= recompute_icon_tag %>
        <% end %>
        <span class="link-button-wrapper">
          <%= link_to file_submission_path(submission,
                course_id: submission.course),
                title: 'Download submission' do %>
            <%= download_icon_tag %>
          <% end %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">
        <%= @submissions.length %> total submissions
      </th>
    </tr>
  </tfoot>
</table>
