<section class="question callout" data-pwnfx-hide-positive="question-section"
         data-pwnfx-scope="question">
  <%= f.row do %>
    <div class="small-10 columns">
      <%= f.text_field :prompt, required: true, class: 'prompt',
            placeholder: survey_question_prompt_placeholder(f.object) %>
    </div>
    <div class="columns">
      <%= f.destroy_record_field :_destroy, data: {
            pwnfx_hide: 'question-section', pwnfx_hide_scope: 'question',
            pwnfx_hide_trigger: 'checked', pwnfx_hide_class: 'destroyed-blur' } %>
    </div>
  <% end %>

  <section class="fields">
    <div class="row">
      <fieldset class="small-12 columns">
        <% if f.object.instance_of? QuantitativeOpenQuestion %>
          <legend><h4>Numeric Question Parameters</h4></legend>
          <%= render 'quantitative_open_questions/fields', f: f %>
        <% end %>

        <% if f.object.instance_of? QuantitativeScaledQuestion %>
          <legend><h4>Scaled Question Parameters</h4></legend>
          <%= render 'quantitative_scaled_questions/fields', f: f %>
        <% end %>

        <%= f.input_field_set label: 'Comments' do %>
          <%= f.check_box :allows_comments,
                label: 'allow additional comments' %>
        <% end %>
      </fieldset>
    </div>
  </section>
</section>
