<div class="row">
  <fieldset class="small-12 columns">
    <legend><h4>Docker Analyzer Parameters</h4></legend>
    <%= f.row do %>
      <div class="small-3 columns text-right">
        <%= f.label :f, class: 'text-right' do %>
          <%= link_to help_analyzers_path, target: '_blank' do %>
            <span class="badge" id="docker-analyzer-help">
              <%= help_icon_tag %>
            </span>
          <% end %>
          Map-Reduce .zip
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= f.file_field :file, accept: 'application/zip',
                                required: !f.object.file.blob_id %>
      </div>
      <div class="columns">
        <span class="comment">
          <% if f.object.file.blob_id %>
            <%= link_to source_analyzer_path(f.object,
                  course_id: f.object.deliverable.course) do %>
              <%= download_icon_tag %> <%= f.object.file_original_name %>
            <% end %>
            (<%= number_to_human_size f.object.file_size %>)
          <% end %>
        </span>
      </div>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :map_time_limit, required: true, placeholder: 5,
            label: 'Submission CPU time' %>
      <%= f.inline_label 'seconds' %>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :map_ram_limit, required: true, placeholder: 1024,
            label: 'Submission RAM usage'%>
      <%= f.inline_label 'Mb' %>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :map_logs_limit, required: true, placeholder: 1,
            label: 'Submission logging limit' %>
      <%= f.inline_label 'Mb' %>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :reduce_time_limit, required: true, placeholder: 5,
            label: 'Grader CPU time' %>
      <%= f.inline_label 'seconds' %>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :reduce_ram_limit, required: true, placeholder: 1024,
            label: 'Grader RAM usage' %>
      <%= f.inline_label 'Mb' %>
    <% end %>
    <%= f.input_group do %>
      <%= f.number_field :reduce_logs_limit, required: true, placeholder: 10,
            label: 'Grader logging limit' %>
      <%= f.inline_label 'Mb' %>
    <% end %>
    <%= f.input_field_set label: 'Auto grading' do %>
      <%= f.check_box :auto_grading, label: "use the analyzer's grade output" %>
    <% end %>
  </fieldset>
</div>
