<section class="exam-session callout"
         data-pwnfx-hide-positive="exam-session-section"
         data-pwnfx-scope="exam-session">
  <%= f.row do %>
    <%= f.text_field :name, required: true, placeholder: 'Room 32-123, 2x time',
          label: 'Name' %>
    <div class="columns">
      <%= f.destroy_record_field :_destroy, data: {
            pwnfx_hide: 'exam-session-section',
            pwnfx_hide_scope: 'exam-session',
            pwnfx_hide_class: 'destroyed-blur',
            pwnfx_hide_trigger: 'checked' } %>
    </div>
  <% end %>
  <%= f.datetime_local_field :starts_at,
        value: exam_session_start_time(f.object), step: 1, required: true,
        label: 'Start Time' %>
  <%= f.datetime_local_field :ends_at, value: exam_session_end_time(f.object),
        step: 1, required: true, label: 'End Time' %>
  <%= f.input_group do %>
    <%= f.number_field :capacity, required: true, min: 1, step: 1,
          placeholder: 50, label: 'Capacity' %>
    <%= f.inline_label 'students' %>
  <% end %>
</section>
