<ol class="no-bullet exam-sessions-list">
  <% exam_sessions.by_start_time.by_name.each do |exam_session| %>
  <li>
    <div class="session-details">
      <span class="name"><%= exam_session.name %></span>
      <span class="time-range"><%= exam_session_time_tag exam_session %></span>
      <% if current_course.can_edit? current_user %>
      <span class="capacity">
        <%= exam_session.available_seats %> / <%= exam_session.capacity %>
        seats left
      </span>
      <% end %>
    </div>
    <% if current_course.is_student? current_user %>
    <div class="attendance-status actions">
      <%= attendance_status_display exam_session, current_user %>
    </div>
    <% elsif current_course.can_edit? current_user %>
    <div class="actions">
      <span class="link-button-wrapper">
        <%= link_to exam_attendances_path(course_id: exam_session.course,
              exam_id: exam_session.exam, exam_session_id: exam_session) do %>
          <%= list_icon_tag %> View Roster
        <% end %>
      </span>
    </div>
    <% end %>
  </li>
  <% end %>
</ol>
