<!-- assignment_feedbacks/index -->
<div class="full_section">
	<h3 class="full_section">Show Feedback for Assignment</h3>
	<% form_tag({:controller => :assignment_feedbacks, :action => :index}, {:method => :get, :class => 'user_form'}) do %>
		<div class="form_box">
			<div class="form_entry">
				<div class="form_label">Assignment</div>
				<div class="form_field_box">
					<%= select_tag :assignment_id, options_for_select(@assignments.map { |a| [a.name, a.id] }, nil), :class => 'form_field', :id => 'assignment_id' %>
				</div>
			</div>
			<div class="form_submit_box">
			    <%= submit_tag "Show Feedback", :class => 'form_submit', :id => 'submission_submit_button' %>
				or
				<%= link_to 'Go home', root_path %>
			</div>
		</div>
	
	<% end %>	
</div>

<div class="full_section">
	
	<h3 class="full_section">Feedback
	<% if @assignment %>
		for <%=h @assignment.name %>
	<% else %>
		for all assignments
	<% end %>
	</h3>

	<% if @assignment_feedbacks.empty? %>
		No feedback
	<% else %>		
		<% @assignment_feedbacks.each do |feedback| %>
		  <div class="feedback_piece">
		  	<h4>
		  		<%= display_name_for_user feedback.user %> on <%= feedback.assignment.name %>
		  	</h4>
				<% feedback.answers.reject(&:target_user).each do |answer| %>
				<p class="question">
					<span class="text">
						<%= answer.question.human_string %>
					</span>
					<span class="answer">
						<%= answer.number %>
					</span>
				</p>
				<% end %>
				<% last_user = nil;
           feedback.answers.select(&:target_user).sort_by { |a| [a.target_user.id, a.question_id] }.each do |answer| %>
				<% if last_user != answer.target_user %>
				<% unless last_user %>
				</div>
				<% end %>
				<% last_user = answer.target_user %>
				<div class="teammate">
					<p class="name">
						<%= display_name_for_user last_user %>
					</p>
				<% end %>
				<p class="question team">
          <span class="text">
            <%= answer.question.human_string %>
          </span>
          <span class="answer">
            <%= answer.number %>
          </span>					
				</p>
				<% end %>
				</div>
				<p class="actions">
	        <%= link_to 'Show', feedback %>
	        <%= link_to 'Edit', edit_assignment_feedback_path(feedback) %>
	        <%= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete %>					
				</p>
			</div>
		<% end %>		
		</table>
		<p>
			<%= @assignment_feedbacks.length %> pieces of feedback
		</p>
	<% end %>
</div>
