<!-- assignment_feedbacks/show -->
<div class="full_section">
	
<h3 class="full_section">Feedback for <%= @assignment_feedback.assignment.name %></h1>

<div class="student_form">
	<div class="form_box">
		<div class="form_entry">
			<div class="form_label">From</div>
			<div class="form_field_box">
				<%=h display_name_for_user(@assignment_feedback.user, :long) %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Time spent</div>
			<div class="form_field_box">
				<%=h @assignment_feedback.hours %>
			</div>
		</div>
		<div class="form_entry">
			<div class="form_label">Difficulty</div>
			<div class="form_field_box">
				<%=h @assignment_feedback.difficulty_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Theory</div>
			<div class="form_field_box">
				<%=h @assignment_feedback.theory_quant_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Coding</div>
			<div class="form_field_box">
				<%=h @assignment_feedback.coding_quant_str %>
			</div>
		</div>				
		<div class="form_entry">
			<div class="form_label">Comments</div>
			<div class="form_field_box">
			  <%=h @assignment_feedback.comments %>
			</div>
		</div>
		<div class="form_submit_box">
			<%= link_to 'Go back', :controller => :assignment_feedbacks, :action => :index %>
		</div>						
	</div>
</div>
