<div class="survey-builder" data-pwnfx-scope="survey">
  <%= foundation_form_for survey, url: polymorphic_path(survey,
        course_id: survey.course) do |f| %>

    <%= render 'surveys/fields', f: f %>

    <h3>Questions</h3>
    <div class="survey-builder-questions"
         data-pwnfx-render-target="qo-question qs-question">
      <%= f.fields_for :questions do |qf| %>
        <%= render 'survey_questions/fields', f: qf %>
      <% end %>
    </div>
    <div class="survey-builder-actions row align-center">
      <div class="small-6 columns">
        <%= select_tag :type, question_types_for_select,
              data: { pwnfx_showif_source: 'question-type' },
              class: 'question-type' %>
      </div>
      <div class="small-4 columns">
        <span class="forked-button-wrapper">
          <%= button_tag data: { pwnfx_render_scope: 'survey',
                pwnfx_render_randomize: 'IDID', pwnfx_render: 'qo-question',
                pwnfx_showif: 'question-type', pwnfx_showif_scope: 'survey',
                pwnfx_showif_is: 'QuantitativeScaledQuestion',
                pwnfx_showif_replace: 'button' }, class: 'hollow button' do %>
            <%= create_icon_tag %> Add a question
          <% end %>
          <%= button_tag data: { pwnfx_render_scope: 'survey',
                pwnfx_render_randomize: 'IDID', pwnfx_render: 'qs-question',
                pwnfx_showif: 'question-type', pwnfx_showif_scope: 'survey',
                pwnfx_showif_is: 'QuantitativeOpenQuestion',
                pwnfx_showif_replace: 'button' }, class: 'hollow button' do %>
            <%= create_icon_tag %> Add a question
          <% end %>
        </span>
      </div>
    </div>
    <script type="text/html" data-pwnfx-render-source="qo-question">
      <%= f.fields_for :questions, QuantitativeScaledQuestion.new,
                                   child_index: 'IDID' do |qf| %>
        <%= render 'survey_questions/fields', f: qf %>
      <% end %>
    </script>
    <script type="text/html" data-pwnfx-render-source="qs-question">
      <%= f.fields_for :questions, QuantitativeOpenQuestion.new,
                                   child_index: 'IDID' do |qf| %>
        <%= render 'survey_questions/fields', f: qf %>
      <% end %>
    </script>

    <%= submit_button_tag do %>
      <%= save_icon_tag %> Update Survey
    <% end %>
  <% end %>
</div>
