<%# TODO(spark008): Add UI for publishing surveys. %>
<%= form_for(@survey, :html => {:class => 'student_form'}) do |f| %>
  <%= f.error_messages %>

  <div class="form_box">
    <div class="form_entry">
      <div class="form_label">
        <%= f.label :name, 'Name' %>
      </div>
      <div class="form_field_box">
        <%= f.text_field :name, :class => 'form_field' %>
      </div>
      <div class="form_label">
        <%= f.label :due_at, 'Response Deadline' %>
      </div>
      <div class="form_field_box">
        <%= f.datetime_select :due_at, use_short_month: true, minute_step: 15,
                datetime_separator: ' at ', time_separator: ':' %>
      </div>
    </div>

    <div class="form_submit_box">
      <%= f.submit((@survey.new_record? ? "Add Questions" : "Update"),
                   :class => 'form_submit') %>
      or
      <%= link_to 'Go back', survey_questions_path %>
    </div>
  </div>
<% end %>
