<section class="survey">
  <h3 class="title-with-actions">
    <span class="title"><%= survey.name %></span>

    <% if survey.can_edit? current_user %>
    <span class="actions">
      <span class="link-button-wrapper">
        <%= link_to survey_responses_path(survey_id: survey,
              course_id: survey.course), class: 'hollow button' do %>
          <%= dashboard_icon_tag %> Responses
        <% end %>
      </span>
      <span class="link-button-wrapper">
        <%= link_to edit_survey_path(survey, course_id: survey.course),
              class: 'hollow button' do %>
          <%= edit_icon_tag %> Edit
        <% end %>
      </span>
      <% if survey.can_delete?(current_user) %>
        <%= button_to survey_path(survey, course_id: survey.course), data: {
              confirm: 'Are you sure?' }, class: 'hollow alert button',
              method: :delete do %>
          <%= destroy_icon_tag %> Delete
        <% end %>
      <% end %>
      <%= button_to survey_path(survey, course_id: survey.course,
            survey: { published: !survey.published? }), class: 'hollow button',
            method: :patch do %>
        <%= release_icon_tag %> <%= survey_publish_text survey %>
      <% end %>
    </span>
    <% end %>
  </h3>

  <p class="lead deadline">
    Due
    <%= survey.due_at.to_s(:deadline_long) %>
    <%= time_delta_in_words survey.due_at %>
  </p>

  <section class="response">
    <% if survey.can_submit? current_user %>
      <%= render 'survey_responses/form',
            response: response_for(@response, current_user, survey) %>
    <% end %>
  </section>
</section>
