<section class="fields">
  <%= f.text_field :number, label: 'Course number' %>
  <%= f.text_field :title, label: 'Course name' %>
  <%= f.text_field :email, label: 'Staff e-mail' %>
  <%= f.input_field_set label: 'Staff request e-mails' do %>
    <%= f.check_box :email_on_role_requests, label: 'new staff requests '\
          'send e-mail notices to the course staff e-mail' %>
  <% end %>
  <%= f.text_field :ga_account, label: 'Google Analytics account' %>
  <%= f.text_field :heap_appid, label: 'Heap Analytics app ID' %>
</section>

<h3>Advanced (Unstable) Features</h3>
<section class="fields">
  <%= f.input_field_set label: 'Recitation Sections' do %>
    <%= f.check_box :has_recitations, label: 'students are assigned to '\
          'recitation sections which show up on their cover sheets', data: {
          pwnfx_hide: 'section_size_field', pwnfx_hide_trigger: 'checked' } %>
  <% end %>
  <span data-pwnfx-hide-negative="section_size_field">
    <%= f.number_field :section_size, min: 1, step: 1, style: 'width: 4rem',
          label: 'Recitation Size Limit' %>
  </span>
  <%= f.input_field_set label: 'Surveys' do %>
    <%= f.check_box :has_surveys, label: 'course staff can create surveys '\
          'to get student feedback on assignments or the class in general' %>
  <% end %>
  <%= f.input_field_set label: 'Homework teams' do %>
    <%= f.check_box :has_teams, label: 'course staff can assign students to '\
          'teams; any student in a team can submit an assignment for the '\
          'entire team' %>
  <% end %>
</section>
