<%= form_for @course do |f| %>
  <section class="fields">
    <p class="field">
      <%= f.label :number, 'Course number' %>
      <span class="value">
        <%= f.text_field :number %>
      </span>
    </p>
    <p class="field">
      <%= f.label :title, 'Course name' %>
      <span class="value">
        <%= f.text_field :title %>
      </span>
    </p>
    <p class="field">
      <%= f.label :email, 'Staff e-mail' %>
      <span class="value">
        <%= f.text_field :email %>
      </span>
    </p>
    <p class="field">
      <%= f.label :ga_account, 'Google Analytics account' %>
      <span class="value">
        <%= f.text_field :ga_account %>
      </span>
    </p>
  </section>

  <h3>Advanced Features</h3>
  <section class="fields">
    <p class="field">
      <%= f.label :has_recitations, 'Recitation sections' %>
      <span class="value">
        <%= f.check_box :has_recitations, 'data-pwnfx-hide' => 'section_size_field',
              'data-pwnfx-hide-trigger' => 'checked' %>
        <%= f.label :has_recitations do %>
          students are assigned to recitation sections which show up on their
          cover sheets
        <% end %>
      </span>
    </p>
    <p class="field" data-pwnfx-hide-negative='section_size_field'>
      <%= f.label :section_size, 'Recitation Size Limit' %>
      <span class="value">
        <%= f.text_field :section_size %>
      </span>
    </p>
    <p class="field">
      <%= f.label :has_recitations, 'Homework surveys' %>
      <span class="value">
        <%= f.check_box :has_surveys %>
        <%= f.label :has_surveys do %>
          course staff can create one survey for each assignment, and get
          feedback from students
        <% end %>
      </span>
    </p>
    <p class="field">
      <%= f.label :has_recitations, 'Homework teams' %>
      <span class="value">
        <%= f.check_box :has_teams %>
        <%= f.label :has_teams do %>
          course staff can assign students to teams; any student in a team can
          submit an assignment for the entire team
        <% end %>
      </span>
    </p>
  </section>

  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
