<%= form_for @course do |f| %>
  <section class="fields">
    <p class="field">
      <%= f.label :number, 'Course number' %>
      <span class="value">
        <%= f.text_field :number %>
      </span>
    </p>
    <p class="field">
      <%= f.label :title, 'Course name' %>
      <span class="value">
        <%= f.text_field :title %>
      </span>
    </p>
    <p class="field">
      <%= f.label :email, 'Staff e-mail' %>
      <span class="value">
        <%= f.text_field :email %>
      </span>
    </p>
    <p class="field">
      <%= f.label :ga_account, 'Google Analytics account' %>
      <span class="value">
        <%= f.text_field :ga_account %>
      </span>
    </p>
    <p class="field">
      <%= f.label :has_recitations, 'Recitation sections' %>
      <span class="value">
        <%= f.check_box :has_recitations %>
      </span>
    </p>
  </section>
  <p class="action">
    <%= f.submit %>
  </p>
<% end %>
