<h2>Site Courses</h2>

<table>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td>
        <%= link_to course_root_path(course_id: course) do %>
          <%= course.number %>
        <% end %>
      </td>
      <td><%= course.title %></td>
      <td>
        <%= link_to course do %>
          Details
        <% end %>
      </td>
      <td>
        <%= link_to edit_course_path course do %>
          <%= edit_icon_tag %> Edit
        <% end %>
      </td>
      <td>
        <%= link_to course, method: :delete,
              data: { confirm: 'Are you sure?' } do %>
          <%= destroy_icon_tag %> Remove
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to new_course_path, class: 'button emphasized' do %>
    <%= create_icon_tag %> New Course
  <% end %>
</p>
