<!-- assignment_metrics/index -->
<div class="full_section">

  <div style="z-index: 10; float: right; width: 100px; text-align: right;">
    <h1 class="full_section">
      <%= link_to 'New', new_course_path %>
    </h1>
  </div>
  <h1 class="full_section" style="margin-right: 100px; ">
    Courses
  </h1>
  
  <table>
    <tr>
      <th style="text-align: left; width: 150px;">Number</th>
      <th style="text-align: left; width: 250px;">Title</th>
			<th style="text-align: left; width: 150px;">Google Analytics</th>
      <th style="text-align: left;">Has Recitations</th>
    </tr>
  
  <% for @course in @courses %>
    <tr>
      <td>
        <%= in_place_editor_field(:course, :number, {}, :cols => 10, :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
			</td>
      <td>
        <%= in_place_editor_field(:course, :title, {}, :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
			</td>
      <td>
        <%= in_place_editor_field(:course, :ga_account, {}, :with => "form.serialize() + '&authenticity_token=#{form_authenticity_token}'") %>
      </td>
      <td style="text-align: center;">
        <%= in_place_checkbox(:course, :has_recitations, :checked => true, :unchecked => false) %>
      </td>
      <td><%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
