<%# Show results in more informative format. E.g. graphs %>
<h2>
  <%= pluralize @survey.responses.length, 'response' %> to survey:
  <%= @survey.name %>
</h2>

<% @survey.questions.each do |question| %>
  <h4><%= question.prompt %></h4>

  <table class="survey-responses-table">
    <thead>
      <tr>
        <th>Responder's Name</th>
        <th>Answer</th>
        <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <% question.answers.each do |answer| %>
        <tr>
          <td><%= answer.user.display_name_for current_user, :long %></td>
          <td><%= answer.number %></td>
          <td><%= answer.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
