<h2>Staff Registration</h2>

<p>
  You have registered as a <%= @role_request.course.number %> staff member.
  Your registration must be approved before it becomes effective.
</p>

<p>
  If your registration is incorrect, you may cancel it here.
</p>

<%= form_for @role_request, url: polymorphic_url(@role_request,
      course_id: @role_request.course), method: :delete do |f| %>
  <p class="actions">
    <%= f.button type: :submit do %>
      <%= destroy_icon_tag %>
      Cancel <%= @role_request.course.number %> staff registration
    <% end %>
  </p>
<% end %>
