<h2>Grading</h2>
<ol>
  <li>
    <%= link_to 'Get Submissions', request_package_submissions_path %>
  </li>
  <li>
    <%= link_to 'Post Grades', grades_path %>
  </li>
</ol>

<h2>Course</h2>
<ol>
  <li>
    <%= link_to 'Assignments', assignments_path %>
  </li>
  <li>
    <%= link_to 'Metrics', assignment_metrics_path %>
  </li>
  <li>
    <%= link_to 'Recitations', recitation_sections_path %>
  </li>
  <li>
    <%= link_to 'Surveys', survey_questions_path %>
  </li>
  <li>
    <%= link_to 'Teams', team_partitions_path %>
  </li>
</ol>

<h2>Setup</h2>
<ol class="admin_console_buttons">
  <li>
    <%= link_to 'Course Info', courses_path %>
  </li>         
  <li>
    <%= link_to 'Prerequisites', prerequisites_path %>
  </li>
</ol>

<h2>Reporting</h2>
<ol class="admin_console_buttons">
  <li>
    <%= link_to 'Submissions', submissions_path %>
  </li>
  <li>
    <%= link_to 'Survey Answers', survey_answers_path %>
  </li>
  <li>
    <%= link_to 'Grades', request_report_grades_path %>
  </li>
  <li>
    <%= link_to 'Missing Grades', request_missing_grades_path %>
  </li>
  <li>
    <%= link_to 'Registrations', registrations_path %>
  </li>
</ol>


<h2>Users</h2>
<ol class="admin_console_buttons">
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <li>
    <%= link_to 'Profiles', profiles_path %>
  </li>
</ol>

<h2>Site Health</h2>
<ol class="admin_console_buttons">
  <li>
    <%= link_to 'System', system_root_path %>
  </li>
  <li>
    <%= link_to 'Processes', system_processes_path %>
  </li>
</ol>
