<h2>Deadlines</h2>

<dl class="deadlines">
<% Contents::Deadline.for(@s_user).each do |deadline| %>
  <dt class="deadline-<%= deadline.state %>">
    <%= deadline.date.to_s(:deadline_short) %>
  </dt>
  <dd class="deadline-<%= deadline.state %>">
  <% if deadline.active? %>
    <%= link_to deadline.headline, deadline.link %>
	<% else %>
	  <%= deadline.headline %>
	<% end %>
  </dd>
<% end %>
</dl>
