<div class="feed-item feed-item-flavor-<%= feed_item.flavor %> media-object">
  <div class="media-object-section">
    <%= user_image_tag feed_item.author, size: :small_medium %>
  </div>
  <div class="media-object-section">
    <p class="headline">
      <%= link_to_if feed_item.author.instance_of?(User),
            feed_item.author.display_name_for(current_user), feed_item.author %>
      <%= feed_item.headline %>
    </p>
    <p class="contents"><%= feed_item.contents %></p>
    <div class="time-with-actions">
      <span class="time"><%= time_delta feed_item.time %></span>
      <span class="actions">
        <% feed_item.actions.each do |action| %>
          <%= link_to action[0], self.send(*action[1]), action[2] || {} %>
        <% end %>
      </span>
    </div>
    <div class="replies">
      <% feed_item.replies.each do |reply| %>
        <%= render 'layouts/feed_item_reply', feed_item: reply %>
      <% end %>
    </div>
  </div>
</div>
