<div class="feed-item feed-item-flavor-<%= feed_item.flavor %>">
  <h3>
    <span class="author">
      <%= user_image_tag feed_item.author %>
      <%= link_to feed_item.author.display_name_for(@s_user),
                  feed_item.author %>
    </span>
    <%= feed_item.headline %>
  </h3>
  <p><%= feed_item.contents %></p>
  <div class="footer">
    <p class="time">
      <%= time_delta feed_item.time %>
    </p>
    <ul class="actions">
      <% feed_item.actions.each do |action| %>
      <li>
        <%= link_to action[0], self.send(*action[1]), action[2] || {} %> 
      </li>
      <% end %>
    </ul>
  </div>
	<div class="replies">
  <% feed_item.replies.each do |reply| %>
	  <%= render 'layouts/feed_item_reply', :feed_item => reply %>
	<% end %>
	</div>
</div>
