<header id="header">
  <nav id="main-menu">
    <ol>
      <li>
        <%= link_to root_path do %>
          <h1>
            <%= image_tag 'mit-blackred-footer3.gif', :class => 'logo', :alt => '' %>
            <span class="course-number">
              <%= Course.main.number %>
              <% unless current_user %>
              <%= Course.main.title %>
              <% end %>
            </span>
          </h1>
        <% end %>
      </li>
      <% if current_user %>
      <%= render 'menu/menu' %>
      <% else %>
      <li> </li>
      <% end %>
    </ol>
  </nav>
</header>
