<div id="header">
  <%= image_tag 'mit-greywhite-footer3.gif', :alt => 'MIT Logo' %>
	<h1>
	  <span class="course-number">
	  	<%= link_to Course.main.number, sessions_path %>
		</span>
	  <span class="course-title">
	  	<%= link_to Course.main.title, sessions_path %>
		</span>
  </h1>

  <% if @s_user %>
	<ul class="account-panel">
    <li class="user-name">
      <%= image_tag @s_user.gravatar_url(:size => 36), :alt => 'gravatar' %>      
      <%= @s_user.name %>
    </li>
		<li class="action">
	    <%= link_to 'Settings', edit_password_user_url(@s_user) %>			
		</li>
		<li>
	    <%= link_to 'Logout', session_url(@s_user), :method => :delete %>			
		</li>		
	</ul>
  <% end %>
</div>
