<div id="header">
  <%= image_tag 'mit-blackred-footer3.gif' %>
  <span class="course-number"><%= Course.main.number %></span>
  <span class="course-title"><%= Course.main.title %></span>

  <% if @s_user %>
	<div class="account-panel">
    <span class="user-name"><%= @s_user.name %></span>
    <%= link_to 'Change Password', edit_password_user_url(@s_user) %>
    <%= link_to 'Logout', session_url(@s_user), :method => :delete %>
	</div>
  <% end %>
</div>
