<!-- layout/header -->
<div id="site_header">
	<h1><%= Course.main.number %>: <%= Course.main.title %></h1>
	
<% if @s_user %>
	<div style="float: right; width: 260px; text-align: right; ">
		<%= @s_user.name %>
		|
		<%= link_to 'Logout', session_url(@s_user), :method => :delete %>
		|			
		<%= link_to 'Change Password', edit_password_user_url(@s_user) %>
	</div>
	
	<div class="site_header_buttons" style="padding-left: 15px; ">
		<%= link_to 'Home', root_path %>
		|
		<%= link_to 'Grades', reveal_mine_grades_path %>
		|
		<%= link_to 'Profile', my_own_profiles_path %>
		|
		<%= link_to 'Student Info', my_own_student_infos_path %>
	</div>
	
	<div class="float_clearer"></div>	
<% end %>		
</div>
