<div id="header">
	<%= link_to root_path do
        image_tag('mit-greywhite-footer3.gif', :alt => 'MIT Logo')
      end %>
  <%=  %>
	<h1>
	  <span class="course-number">
	  	<%= link_to Course.main.number, root_path %>
		</span>
	  <span class="course-title">
	  	<%= link_to Course.main.title, root_path %>
		</span>
  </h1>

  <% if @s_user %>
	<ul class="account-panel">
    <li class="user-name">
      <%= user_image_tag @s_user %>      
      <%= @s_user.name %>
    </li>
		<li class="action">
	    <%= link_to 'Settings', edit_password_user_url(@s_user) %>			
		</li>
		<li>
	    <%= link_to 'Logout', session_url(@s_user), :method => :delete %>			
		</li>		
	</ul>
  <% end %>
</div>
