<nav>
  <ol>
    <li>
      <%= link_to 'Submenu', '#' %>
      <ol>
        <li><%= link_to 'Item 1', '#' %></li>
        <li><%= link_to 'Item 2', '#' %></li>
        <li><%= link_to 'Item 3', '#' %></li>
      </ol>
    </li>
    <li>
      <%= link_to 'Action', '#' %>
    </li>
    <li>
      <%= link_to 'username', '#' %>
      <ol>
        <li><%= link_to 'Sign out', '#' %></li>
        <li><%= link_to 'Settings', '#' %></li>
      </ol>
    </li>
  </ol>
</nav>
