<div id="menu">
  <h2><%= link_to 'News', root_path %></h2>
  <ol>
    <li>
      <%= link_to 'Homework', root_path(:flavor => :deliverable) %>
    </li>
    <li>
      <%= link_to 'Announcements', root_path(:flavor => :announcement) %>
    </li>
    <li>
      <%= link_to 'Submissions', root_path(:flavor => :submission) %>
    </li>
    <li>
      <%= link_to 'Survey Answers', root_path(:flavor => :survey_answer) %>
    </li>
    <li>
      <%= link_to 'Grades', root_path(:flavor => :grade) %>
    </li>
  </ol>
	
<% if @s_user %>
  <h2><%= link_to 'Profile', @s_user %></h2> 
  <ol>
  	<li>
  		<%= link_to 'Grades', reveal_mine_grades_path %>
  	</li>
  </ol>
  <% if @s_user.admin? %>
  <%= render 'layouts/admin_console' %>
  <% end %>
<% else %>
  <h2>Login</h2>
	<%= render 'sessions/login_form' %>
	
  <h2>Account</h2>
	<ol>
		<li><%= link_to 'Register', new_user_path %></li>
		<li>
			<%= link_to 'Click here to recover username/password',
                  recover_password_users_path %>
    </li>
	</ol>
<% end %>
</div>
