<% requests = Contents::Request.for @s_user %>
<% unless requests.empty? %>
<h2>Requests</h2>
<% requests.each do |request| %>
<div class="request">
  <h3>
    <span class="author">
      <%= user_image_tag request.author %>
      <%= request.author.display_name_for @s_user %>
    </span>
    <%= request.headline %>
  </h3>
  <p><%= request.contents %></p>
  <ul class="actions">
    <% request.actions.each do |action| %>
    <li>
      <%= link_to action.first, self.send(*action.last) %> 
    </li>
    <% end %>
  </ul>
</div>	
<% end %>
<% end %>
