<% if flash[:alert] %>
  <div class="status-bar" id="flash-alert-box" data-closable>
    <%= invalid_icon_tag %>
    <%= flash[:alert] %>
    <button class="close-button" data-close>&times;</button>
  </div>
<% elsif flash[:errors] && flash[:errors].any? %>
  <div class="status-bar" id="flash-warning-box" data-closable>
    <%= pluralize(flash[:errors].count, "error") %> occurred:
    <button class="close-button" data-close>&times;</button>

    <ul>
    <% flash[:errors].full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% elsif flash[:notice] %>
  <div class="status-bar" id="flash-notice-box" data-closable>
    <%= flash[:notice] %>
    <button class="close-button" data-close>&times;</button>
  </div>
<% end %>
