<!DOCTYPE html>

<html>
<head>
  <title>
    <%= Course.main.number %>: <%= Course.main.title %> -
		<%= controller.controller_name.capitalize %>:
    <%= controller.action_name.capitalize %>
  </title>
  <%= javascript_include_tag :all, :cache => true %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page_wrapper">

<%= render 'layouts/header' %>
		
		<div id="content">
<%= yield  %>
    </div>

    <div id="footer">
    	
    </div>
	</div>

<%= render 'layouts/google_analytics' %>
</body>
</html>
