<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta class="foundation-mq" />

    <% if current_course %>
      <title><%= current_course.number %> <%= current_course.title %></title>
    <% else %>
      <title>Igor</title>
    <% end %>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <% if current_user %>
    <body class="user">
  <% else %>
    <body class="nouser">
  <% end %>

    <%= render 'layouts/header' %>
    <%= render 'layouts/status_bar' %>
    <div id="real-body">
      <section id="menu-sidebar">
        <div class="vertical menu" data-accordion-menu>
          <%= render menu_type(current_user, current_course) if current_user %>
        </div>
      </section>
      <section id="main">
        <%= yield %>
      </section>
      <%= yield :sidebar %>
    </div>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
