<!DOCTYPE html>
<html>
<head>
<title>
  MIT <%= Course.main.number %>
</title>
<%= csrf_meta_tag %>
<%= stylesheet_link_tag :all, :cache => true %>
<%= javascript_include_tag :all, :cache => true %>
<%= render 'layouts/google_analytics' %>
</head>
<body>
<%= render 'layouts/header' %>

  <div id="content_wrapper">
<%= render 'layouts/menu' %>
      <div id="content_main">
<%= render 'layouts/sidebar' %>
        <div id="contents">
<%= render 'layouts/error_bar' %>
<%= yield %>
        </div>
      </div>
    </div>
<%= render 'layouts/footer' %>
</body>
</html>
