<!DOCTYPE html>
<html>
<head>
<title>
  MIT <%= Course.main.number %>
</title>
<%= csrf_meta_tag %>
<%= favicon_link_tag %>
<%= stylesheet_link_tag :all, :cache => true %>
<%= javascript_include_tag :all, :cache => true %>
<%= render 'layouts/google_analytics' %>
</head>
<body>
<%= render 'layouts/header' %>
<article>
<%= render 'layouts/error_bar' %>
<%= yield %>
</article>
<%= render 'layouts/footer' %>
</body>
</html>
