<!DOCTYPE html>
<html>
<head>
  <title>MIT <%= Course.main.number %></title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= render 'layouts/google_analytics' %>
<%= csrf_meta_tags %>
<%= favicon_link_tag %>
</head>

<% if current_user %>
<body class="user">
<% else %>
<body class="nouser">
<% end %>

<%= render 'layouts/header' %>

<div id="real-body">
<%= render 'layouts/status_bar' %>
<div id="content-wrapper">
<%= yield :sidebar %>
<article id="main">
<%= yield %>
</article>
</div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
