<!DOCTYPE html>
<html>
<head>
<title>
  MIT <%= Course.main.number %>
</title>
<%= csrf_meta_tag %>
<%= favicon_link_tag %>
<%= stylesheet_link_tag :pwnstyles, 'application', :cache => true %>
<%= javascript_include_tag :all, :cache => true %>
<%= render 'layouts/google_analytics' %>
</head>
<body class="user">
<header>
<%= render 'layouts/header' %>
</header>

<div id="real-body">
<%= render 'layouts/status_bar' %>
<div id="content-wrapper">
<article id="main">
<%= yield %>
</article>
</div>
</div>

<footer>
<%= render 'layouts/footer' %>
</footer>
</body>
</html>
