<!DOCTYPE html>
<html>
<head>
<title>
  MIT <%= Course.main.number %>
</title>
<%= head_resources_tags %>
<%= render 'layouts/google_analytics' %>
</head>
<body>

<header>
<%= render 'layouts/header' %>
</header>

<div id="real-body">
<%= render 'layouts/status_bar' %>
<div id="content-wrapper">
<article id="main">
<%= yield %>
</article>
</div>
</div>

<footer>
<%= render 'layouts/footer' %>
</footer>
</body>
</html>
